<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Messaging Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Messaging Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-07c19d1ac4564a4d94676f0cb3aae4bd.png" alt="TVA-Messaging Enablers [Motivation]" usemap="#id-07c19d1ac4564a4d94676f0cb3aae4bdmap"/>
			   <map name="id-07c19d1ac4564a4d94676f0cb3aae4bdmap">
				  				<area shape="rect" coords="538,166,694,249" href="../elements/id-0ce343caab194805a0dcbaa1e190da85.html"  target="element">
				  				<area shape="rect" coords="358,166,514,249" href="../elements/id-f2ffb711fcee46a48488d65c6f7c7f53.html"  target="element">
				  				<area shape="rect" coords="358,46,514,129" href="../elements/id-b87de36a0fe74ed685ef2ffbe63e770d.html"  target="element">
				  				<area shape="rect" coords="538,46,694,129" href="../elements/id-5066af9c07514b45867011d834856a35.html"  target="element">

				  		<area shape="rect" coords="346,10,706,266" href="../elements/id-d1595fa073f040f196189dcdee705925.html"  target="element">
				  				<area shape="rect" coords="58,94,214,177" href="../elements/id-931728fd9eec4c7283eed65e7f1efd9d.html"  target="element">

				  		<area shape="rect" coords="10,10,263,266" href="../elements/id-27aaafb6dd224190967a9e02392bb21b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Messaging Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging various elements to facilitate effective messaging. This view is composed of two main elements: 'Messaging Enablers' and 'Business Agnostic Messaging Solutions'.

The 'Messaging Enablers' is a Grouping ABB (Architecture Building Block) that encapsulates the elements that enable messaging. Within this grouping, there is an Application Service ABB named 'Message Broker'. The 'Message Broker' is a crucial component that facilitates the exchange of messages between different applications, acting as an intermediary to ensure smooth communication.

On the other hand, 'Business Agnostic Messaging Solutions' is a Grouping SBB (Solution Building Block) that contains a set of Application Service SBBs. These are 'ActiveMQ', 'Apache Kafka', 'Apache Kafka Streams', and 'RabbitMQ'. These services are independent of any specific business context and can be used across various business scenarios.

'ActiveMQ' is an open-source messaging and Integration Patterns server, which can handle communication from more than one client or server. 'Apache Kafka' is a distributed streaming platform that is designed to handle real-time data feeds. 'Apache Kafka Streams' is a client library for building applications and microservices, where the input and output data are stored in Kafka clusters. 'RabbitMQ' is an open-source message broker software that implements the Advanced Message Queuing Protocol (AMQP).

The relationship between these elements is that the 'Message Broker' in the 'Messaging Enablers' grouping facilitates the communication between the different 'Business Agnostic Messaging Solutions'. These solutions, in turn, provide the necessary services to handle various messaging requirements in a business-agnostic manner. The motivation behind this arrangement is to provide a flexible and robust messaging framework that can cater to diverse business needs.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-27aaafb6dd224190967a9e02392bb21b.html" target="element"> Messaging Enablers </a> </td>
											    <td> <a href="../elements/id-27aaafb6dd224190967a9e02392bb21b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-931728fd9eec4c7283eed65e7f1efd9d.html" target="element"> Message Broker </a> </td>
													    <td> <a href="../elements/id-931728fd9eec4c7283eed65e7f1efd9d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d1595fa073f040f196189dcdee705925.html" target="element"> Business Agnostic Messaging Solutions </a> </td>
											    <td> <a href="../elements/id-d1595fa073f040f196189dcdee705925.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5066af9c07514b45867011d834856a35.html" target="element"> ActiveMQ </a> </td>
													    <td> <a href="../elements/id-5066af9c07514b45867011d834856a35.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b87de36a0fe74ed685ef2ffbe63e770d.html" target="element"> Apache Kafka </a> </td>
													    <td> <a href="../elements/id-b87de36a0fe74ed685ef2ffbe63e770d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f2ffb711fcee46a48488d65c6f7c7f53.html" target="element"> Apache Kafka Streams </a> </td>
													    <td> <a href="../elements/id-f2ffb711fcee46a48488d65c6f7c7f53.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0ce343caab194805a0dcbaa1e190da85.html" target="element"> RabbitMQ </a> </td>
													    <td> <a href="../elements/id-0ce343caab194805a0dcbaa1e190da85.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-150c8d2060144277915abcf3bec66df8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-150c8d2060144277915abcf3bec66df8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27aaafb6dd224190967a9e02392bb21b.html" target="element"> Messaging Enablers </a> </td>
																		<td> <a href="../elements/id-931728fd9eec4c7283eed65e7f1efd9d.html" target="element"> Message Broker </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-af41c252d7534b99961ed0195d6acebb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-af41c252d7534b99961ed0195d6acebb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1595fa073f040f196189dcdee705925.html" target="element"> Business Agnostic Messaging Solutions </a> </td>
																		<td> <a href="../elements/id-f2ffb711fcee46a48488d65c6f7c7f53.html" target="element"> Apache Kafka Streams </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6093f0aca2e844a387cfdbb652d0db64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6093f0aca2e844a387cfdbb652d0db64.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1595fa073f040f196189dcdee705925.html" target="element"> Business Agnostic Messaging Solutions </a> </td>
																		<td> <a href="../elements/id-b87de36a0fe74ed685ef2ffbe63e770d.html" target="element"> Apache Kafka </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1f8564e04cfa417c8513e133ee184352.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f8564e04cfa417c8513e133ee184352.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1595fa073f040f196189dcdee705925.html" target="element"> Business Agnostic Messaging Solutions </a> </td>
																		<td> <a href="../elements/id-5066af9c07514b45867011d834856a35.html" target="element"> ActiveMQ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b86928cdfa7840bd8a14f86445955ee6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b86928cdfa7840bd8a14f86445955ee6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1595fa073f040f196189dcdee705925.html" target="element"> Business Agnostic Messaging Solutions </a> </td>
																		<td> <a href="../elements/id-0ce343caab194805a0dcbaa1e190da85.html" target="element"> RabbitMQ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a5c826efb5d6444d9fc9d44651c4183d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5c826efb5d6444d9fc9d44651c4183d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1595fa073f040f196189dcdee705925.html" target="element"> Business Agnostic Messaging Solutions </a> </td>
																		<td> <a href="../elements/id-931728fd9eec4c7283eed65e7f1efd9d.html" target="element"> Message Broker </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7778aad7e55f43799d6d6069f185326d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7778aad7e55f43799d6d6069f185326d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f2ffb711fcee46a48488d65c6f7c7f53.html" target="element"> Apache Kafka Streams </a> </td>
																				<td> <a href="../elements/id-b87de36a0fe74ed685ef2ffbe63e770d.html" target="element"> Apache Kafka </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>