<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Forms Structure</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Forms Structure</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-11442191dda14d6eb167e42f11438b3b.png" alt="SV-Forms Structure" usemap="#id-11442191dda14d6eb167e42f11438b3bmap"/>
			   <map name="id-11442191dda14d6eb167e42f11438b3bmap">
				  				<area shape="rect" coords="814,310,1014,390" href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html"  target="element">
				  				<area shape="rect" coords="814,142,1014,222" href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html"  target="element">

				          <area shape="rect" coords="766,10,1043,551" href="../objects/id-ae4da800ded848078587a62ee5c4e04e.html" target="element" >
				  				<area shape="rect" coords="406,130,554,202" href="../elements/id-44c1f09eca4b44b5b5629b4a4a7f53a3.html"  target="element">
				  				<area shape="rect" coords="238,346,386,418" href="../elements/id-c38e586615cd45b6aa54dfd5225b3eee.html"  target="element">
				  				<area shape="rect" coords="238,130,386,202" href="../elements/id-9ff9362ea79847a9bbd1bc8032ab32c1.html"  target="element">
				  				<area shape="rect" coords="58,346,206,418" href="../elements/id-eed2189b893a448394c80c647e10fa3a.html"  target="element">
				  				<area shape="rect" coords="58,130,206,202" href="../elements/id-4a4d5a99c0d242b2bb2f444ec9cd424d.html"  target="element">

				  		<area shape="rect" coords="10,70,608,491" href="../elements/id-e5e06a246a954ca39677efed69d55696.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Narrative: 
The "Semantic view - Forms Structure" extends semantic view and provides a comprehensive framework for designing and managing the structure of forms within the digital ecosystem. This view associates the Forms Structure with the Business Information Base and Digital Public Services from the application layer.
Within this view, the Forms Structure defines the organization, layout, and components of digital forms used for data collection and input. It ensures a consistent and standardized approach to form design, enhancing user experience, and enabling efficient data capture.
The Business Information Base, as part of the application layer, relies on the Forms Structure to ensure effective data collection and management. It utilizes the defined forms structure to design and implement forms that capture domain-specific data accurately and comprehensively.
Digital Public Services leverage the Forms Structure to ensure consistent form design and data collection across different services. These services align their data models, operations, and interactions with the defined forms structure, enhancing user engagement and facilitating accurate data entry within the digital ecosystem.
By associating the Forms Structure with the Business Information Base and Digital Public Services, the "Semantic view - Forms Structure" promotes standardized form design and enables efficient data capture and management. This view ensures consistency in form layout and components, improves data quality, and enhances user satisfaction within the context of digital public services.
The defined forms structure allows for streamlined data collection, reducing errors, and ensuring data completeness. It provides a user-friendly interface for capturing data, guiding users through the necessary fields and data entry requirements.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e5e06a246a954ca39677efed69d55696.html" target="element"> Business Agnostic Forms Structure Catalogue </a> </td>
											    <td> <a href="../elements/id-e5e06a246a954ca39677efed69d55696.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4a4d5a99c0d242b2bb2f444ec9cd424d.html" target="element"> Contact Form </a> </td>
													    <td> <a href="../elements/id-4a4d5a99c0d242b2bb2f444ec9cd424d.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eed2189b893a448394c80c647e10fa3a.html" target="element"> Feedback form </a> </td>
													    <td> <a href="../elements/id-eed2189b893a448394c80c647e10fa3a.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9ff9362ea79847a9bbd1bc8032ab32c1.html" target="element"> Survey Form </a> </td>
													    <td> <a href="../elements/id-9ff9362ea79847a9bbd1bc8032ab32c1.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c38e586615cd45b6aa54dfd5225b3eee.html" target="element"> Registration Form </a> </td>
													    <td> <a href="../elements/id-c38e586615cd45b6aa54dfd5225b3eee.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-44c1f09eca4b44b5b5629b4a4a7f53a3.html" target="element"> Order Form </a> </td>
													    <td> <a href="../elements/id-44c1f09eca4b44b5b5629b4a4a7f53a3.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-ae4da800ded848078587a62ee5c4e04e.html" target="element"> Business Agnostic Business Information Base </a> </td>
									           <td> <a href="../objects/id-ae4da800ded848078587a62ee5c4e04e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element"> Document </a> </td>
													    <td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html" target="element"> Message </a> </td>
													    <td> <a href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1708b0dcf8d24d96a0ad58f0fcce678b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1708b0dcf8d24d96a0ad58f0fcce678b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e5e06a246a954ca39677efed69d55696.html" target="element"> Business Agnostic Forms Structure Catalogue </a> </td>
																		<td> <a href="../elements/id-c38e586615cd45b6aa54dfd5225b3eee.html" target="element"> Registration Form </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-10dc2379469f4e15810f043f49924303.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10dc2379469f4e15810f043f49924303.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e5e06a246a954ca39677efed69d55696.html" target="element"> Business Agnostic Forms Structure Catalogue </a> </td>
																		<td> <a href="../elements/id-44c1f09eca4b44b5b5629b4a4a7f53a3.html" target="element"> Order Form </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ddb5f58844bb429fbb7a90ff9c865be6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ddb5f58844bb429fbb7a90ff9c865be6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e5e06a246a954ca39677efed69d55696.html" target="element"> Business Agnostic Forms Structure Catalogue </a> </td>
																		<td> <a href="../elements/id-eed2189b893a448394c80c647e10fa3a.html" target="element"> Feedback form </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-05b9d3f082f64ddfa0dcbd4b1a79641a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05b9d3f082f64ddfa0dcbd4b1a79641a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e5e06a246a954ca39677efed69d55696.html" target="element"> Business Agnostic Forms Structure Catalogue </a> </td>
																		<td> <a href="../elements/id-4a4d5a99c0d242b2bb2f444ec9cd424d.html" target="element"> Contact Form </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-20a63a61bf294b748aa70571529e3e97.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20a63a61bf294b748aa70571529e3e97.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e5e06a246a954ca39677efed69d55696.html" target="element"> Business Agnostic Forms Structure Catalogue </a> </td>
																		<td> <a href="../elements/id-9ff9362ea79847a9bbd1bc8032ab32c1.html" target="element"> Survey Form </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d05fcb5fc2dd4e0580c111282ca5668b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d05fcb5fc2dd4e0580c111282ca5668b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4a4d5a99c0d242b2bb2f444ec9cd424d.html" target="element"> Contact Form </a> </td>
																				<td> <a href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html" target="element"> Message </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-08c2f3d3267b429d8c633606bc4de40b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-08c2f3d3267b429d8c633606bc4de40b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-eed2189b893a448394c80c647e10fa3a.html" target="element"> Feedback form </a> </td>
																				<td> <a href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html" target="element"> Message </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9f6a5fc757b7479daf42b54bee0b9993.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9f6a5fc757b7479daf42b54bee0b9993.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9ff9362ea79847a9bbd1bc8032ab32c1.html" target="element"> Survey Form </a> </td>
																				<td> <a href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html" target="element"> Message </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4857a00e938e4e77880cc2b0f8960f68.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4857a00e938e4e77880cc2b0f8960f68.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c38e586615cd45b6aa54dfd5225b3eee.html" target="element"> Registration Form </a> </td>
																				<td> <a href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html" target="element"> Message </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4b247e1511564b4eba971513010475c0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b247e1511564b4eba971513010475c0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-44c1f09eca4b44b5b5629b4a4a7f53a3.html" target="element"> Order Form </a> </td>
																				<td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element"> Document </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>