<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Observability and Monitoring Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Observability and Monitoring Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-254b4080b45148d8aa1642ed364fcead.png" alt="TVA-Observability and Monitoring Enablers [Motivation]" usemap="#id-254b4080b45148d8aa1642ed364fceadmap"/>
			   <map name="id-254b4080b45148d8aa1642ed364fceadmap">
				  				<area shape="rect" coords="401,157,557,240" href="../elements/id-81cac965568f4d2ababf86aae31cc754.html"  target="element">
				  				<area shape="rect" coords="401,62,557,145" href="../elements/id-70d5c3d752474593b4df7ea84344a09b.html"  target="element">

				  		<area shape="rect" coords="305,26,654,259" href="../elements/id-c08cddf6d62b45b1ac56b9df34640f64.html"  target="element">
				  				<area shape="rect" coords="46,154,202,237" href="../elements/id-4a69abf33bbf4ffda62b6f092402b7cb.html"  target="element">
				  				<area shape="rect" coords="46,58,202,141" href="../elements/id-722db2a99a884a0d8ae89f010abdafdb.html"  target="element">

				  		<area shape="rect" coords="10,10,246,275" href="../elements/id-147d4bd4fcf8466f876626c8d55ada1c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Observability and Monitoring Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging the elements of 'Observability and Monitoring Enablers' and 'Business Agnostic Observability and Monitoring Solutions'. 

The 'Observability and Monitoring Enablers' is a Grouping ABB (Architecture Building Block) that encapsulates two key elements: 'Observability' and 'Monitoring'. Both of these elements are Application Service ABBs, which are essential services in the architecture. The 'Observability' service is responsible for making the system's internal states externally visible for diagnostic purposes. On the other hand, the 'Monitoring' service is responsible for overseeing the system's operation to ensure it is functioning as expected.

The 'Business Agnostic Observability and Monitoring Solutions' is a Grouping SBB (Solution Building Block) that encompasses two application services: 'ELK Stack' and 'Micrometer'. These are specific solutions that are used to implement the observability and monitoring functionality in a business-agnostic manner. The 'ELK Stack' is an Application Service SBB that provides a powerful platform for searching, analyzing, and visualizing data in real time. The 'Micrometer' is another Application Service SBB that provides a simple facade over the instrumentation clients for the most popular monitoring systems, allowing for dimensional-style metrics collection.

The relationship between these elements is that the 'Observability and Monitoring Enablers' provide the overarching services that are necessary for system diagnostics and operation oversight. These services are then implemented using the specific solutions provided by the 'Business Agnostic Observability and Monitoring Solutions' group. This structure allows for a flexible and adaptable approach to system observability and monitoring, as different solutions can be used depending on the specific needs of the business. The motivation behind this structure is to ensure that the system is always functioning optimally and any issues can be quickly identified and addressed.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-147d4bd4fcf8466f876626c8d55ada1c.html" target="element"> Observability and Monitoring Enablers </a> </td>
											    <td> <a href="../elements/id-147d4bd4fcf8466f876626c8d55ada1c.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-722db2a99a884a0d8ae89f010abdafdb.html" target="element"> Observability </a> </td>
													    <td> <a href="../elements/id-722db2a99a884a0d8ae89f010abdafdb.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4a69abf33bbf4ffda62b6f092402b7cb.html" target="element"> Monitoring </a> </td>
													    <td> <a href="../elements/id-4a69abf33bbf4ffda62b6f092402b7cb.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c08cddf6d62b45b1ac56b9df34640f64.html" target="element"> Business Agnostic Observability and Monitoring Solutions </a> </td>
											    <td> <a href="../elements/id-c08cddf6d62b45b1ac56b9df34640f64.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-70d5c3d752474593b4df7ea84344a09b.html" target="element"> ELK Stack </a> </td>
													    <td> <a href="../elements/id-70d5c3d752474593b4df7ea84344a09b.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-81cac965568f4d2ababf86aae31cc754.html" target="element"> Micrometer </a> </td>
													    <td> <a href="../elements/id-81cac965568f4d2ababf86aae31cc754.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-bb2250b1a9324e999aab65df73f8d3fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb2250b1a9324e999aab65df73f8d3fc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-147d4bd4fcf8466f876626c8d55ada1c.html" target="element"> Observability and Monitoring Enablers </a> </td>
																		<td> <a href="../elements/id-722db2a99a884a0d8ae89f010abdafdb.html" target="element"> Observability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-084320d6f1504f11ab1ca130311ff2cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-084320d6f1504f11ab1ca130311ff2cb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-147d4bd4fcf8466f876626c8d55ada1c.html" target="element"> Observability and Monitoring Enablers </a> </td>
																		<td> <a href="../elements/id-4a69abf33bbf4ffda62b6f092402b7cb.html" target="element"> Monitoring </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1603e0a94ffd47058f5d7baf3d2780bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1603e0a94ffd47058f5d7baf3d2780bc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c08cddf6d62b45b1ac56b9df34640f64.html" target="element"> Business Agnostic Observability and Monitoring Solutions </a> </td>
																		<td> <a href="../elements/id-70d5c3d752474593b4df7ea84344a09b.html" target="element"> ELK Stack </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d4c9c067141f4f7ebfff5c0b92696a8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4c9c067141f4f7ebfff5c0b92696a8d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c08cddf6d62b45b1ac56b9df34640f64.html" target="element"> Business Agnostic Observability and Monitoring Solutions </a> </td>
																		<td> <a href="../elements/id-81cac965568f4d2ababf86aae31cc754.html" target="element"> Micrometer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-253bd28233ed4a9882e9ca9eef4fbe6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-253bd28233ed4a9882e9ca9eef4fbe6b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c08cddf6d62b45b1ac56b9df34640f64.html" target="element"> Business Agnostic Observability and Monitoring Solutions </a> </td>
																		<td> <a href="../elements/id-722db2a99a884a0d8ae89f010abdafdb.html" target="element"> Observability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a63f256b27184b58ab20378fe7376312.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a63f256b27184b58ab20378fe7376312.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c08cddf6d62b45b1ac56b9df34640f64.html" target="element"> Business Agnostic Observability and Monitoring Solutions </a> </td>
																		<td> <a href="../elements/id-4a69abf33bbf4ffda62b6f092402b7cb.html" target="element"> Monitoring </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>