<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Architecture Principles view</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Architecture Principles view</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-28fa74b1.png" alt="Architecture Principles view" usemap="#id-28fa74b1map"/>
			   <map name="id-28fa74b1map">
				  				<area shape="rect" coords="3310,659,3560,734" href="../elements/id-db342527301040a2802d364874e412fb.html"  target="element">
				  				<area shape="rect" coords="3310,575,3560,650" href="../elements/id-b983cb492c5243a6a467df5128b24657.html"  target="element">
				  				<area shape="rect" coords="3310,491,3560,566" href="../elements/id-b2567fd00151492b82fb5f7e8a968eb5.html"  target="element">
				  				<area shape="rect" coords="3310,827,3560,902" href="../elements/id-98dc0d9537304fa5b44f0caff4dd1277.html"  target="element">
				  				<area shape="rect" coords="3310,911,3560,986" href="../elements/id-2e9ded6443e748e3b66910ae4b1c1a15.html"  target="element">
				  				<area shape="rect" coords="3310,995,3560,1070" href="../elements/id-3f3ec1b2650348fe87164d7879f63b7a.html"  target="element">
				  				<area shape="rect" coords="3574,491,3824,566" href="../elements/id-f2df80e1329f46dc8d81dc9d4231083d.html"  target="element">
				  				<area shape="rect" coords="3310,743,3560,818" href="../elements/id-b666d5d95ac04ef1a39a057b82edc984.html"  target="element">

				  		<area shape="rect" coords="3286,430,3850,1130" href="../elements/id-cec3ade8603c489889c968bf149bb010.html"  target="element">
				  		<area shape="rect" coords="2398,34,2648,109" href="../elements/id-3ddec75976c44712801e23cc2620a641.html"  target="element">
				  		<area shape="rect" coords="3443,226,3693,301" href="../elements/id-eb69ccd1c2af467db7e46f664e72a8c5.html"  target="element">
				          <area shape="rect" coords="1100,1186,2169,1498" href="../objects/id-6ae9b8f2a87440199c5b03a0feeaf8eb.html" target="element" >
				  		<area shape="rect" coords="13,1186,811,1498" href="../elements/id-dc78369c6e8243868ae3dc4b9e269685.html"  target="element">
				  		<area shape="rect" coords="1510,226,1760,301" href="../elements/id-7db70d70c2824650997a08f280fbb117.html"  target="element">
				  				<area shape="rect" coords="2468,470,2718,545" href="../elements/id-bbd6ec0b077c499a8b426c6ee5bd9eb3.html"  target="element">

				  		<area shape="rect" coords="2458,430,3258,1130" href="../elements/id-7580472287a347d6bee86ea59838e6e1.html"  target="element">
				  				<area shape="rect" coords="1912,660,2162,735" href="../elements/id-c34c619a7acb48b883ad7e5e44b5ad4b.html"  target="element">
				  				<area shape="rect" coords="1652,660,1902,735" href="../elements/id-244bf4725c1548b9afb2fb9a6d9eec8d.html"  target="element">
				  				<area shape="rect" coords="2172,565,2422,640" href="../elements/id-58ee7a4f1e03458686c717fb34d551c0.html"  target="element">
				  				<area shape="rect" coords="1912,565,2162,640" href="../elements/id-e9d79628b1d44dbbaae91e90bc58f12c.html"  target="element">
				  				<area shape="rect" coords="1652,565,1902,640" href="../elements/id-ac2ede8d46314392a2621af657fc0728.html"  target="element">
				  				<area shape="rect" coords="2172,470,2422,545" href="../elements/id-bf86c39d9ac0428abb1874b98af632f5.html"  target="element">
				  				<area shape="rect" coords="1912,470,2162,545" href="../elements/id-1cb45cb5c81044428dac33e75c101437.html"  target="element">
				  				<area shape="rect" coords="1652,470,1902,545" href="../elements/id-5ff8daf3cf3d4cd88c94cfa495aa1c52.html"  target="element">

				  		<area shape="rect" coords="1642,430,2442,1130" href="../elements/id-7c93fceaafa94f238017b263493836a7.html"  target="element">
				  				<area shape="rect" coords="1096,1040,1346,1115" href="../elements/id-f6157270140640c98017ff52e7c1588d.html"  target="element">
				  				<area shape="rect" coords="836,1040,1086,1115" href="../elements/id-b085be545aaa4fae85e933f9356b4cbf.html"  target="element">
				  				<area shape="rect" coords="1356,945,1606,1020" href="../elements/id-0586b12fed714134906aef22c1d48c95.html"  target="element">
				  				<area shape="rect" coords="1096,945,1346,1020" href="../elements/id-b15fd58b4ef047cb91b62ded14088c2a.html"  target="element">
				  				<area shape="rect" coords="836,945,1086,1020" href="../elements/id-f9115853bff046ddbed5f4e8e373aa96.html"  target="element">
				  				<area shape="rect" coords="1356,850,1606,925" href="../elements/id-c0ae7afabca84939ace99b0d566d7ea9.html"  target="element">
				  				<area shape="rect" coords="1096,850,1346,925" href="../elements/id-56e0d4768c73478dafb1413f59bd8e5f.html"  target="element">
				  				<area shape="rect" coords="836,850,1086,925" href="../elements/id-75ee9df4537e432bb9c0e5f8af8c3739.html"  target="element">
				  				<area shape="rect" coords="1356,755,1606,830" href="../elements/id-89fe3da93e6a4f2794fea08fcdd02ec1.html"  target="element">
				  				<area shape="rect" coords="1096,755,1346,830" href="../elements/id-419bf81f5150483ea49500058c47add9.html"  target="element">
				  				<area shape="rect" coords="836,755,1086,830" href="../elements/id-5774bce6313d41ebb754f03e62534b93.html"  target="element">
				  				<area shape="rect" coords="1356,660,1606,735" href="../elements/id-3e5302a7445440c1a7b440cea8f87525.html"  target="element">
				  				<area shape="rect" coords="1096,660,1346,735" href="../elements/id-6209dc945613456dbb79de810aec0ef6.html"  target="element">
				  				<area shape="rect" coords="836,660,1086,735" href="../elements/id-4c61db61ed854be0b0d7f33f323579e7.html"  target="element">
				  				<area shape="rect" coords="1356,565,1606,640" href="../elements/id-6f0541c3f9e04e19975f6c54cc69597c.html"  target="element">
				  				<area shape="rect" coords="1096,565,1346,640" href="../elements/id-901229d923ec460587b00441749c4848.html"  target="element">
				  				<area shape="rect" coords="836,565,1086,640" href="../elements/id-6272cdcce20f4c2780f49a92b162bf0e.html"  target="element">
				  				<area shape="rect" coords="1356,470,1606,545" href="../elements/id-a218b860c9e448218393e26fc0c3a7eb.html"  target="element">
				  				<area shape="rect" coords="1096,470,1346,545" href="../elements/id-e0ea574622484ed7a009bc47fb61326a.html"  target="element">
				  				<area shape="rect" coords="836,470,1086,545" href="../elements/id-cb807ac0bdb84e31884aff5e7478fa16.html"  target="element">

				  		<area shape="rect" coords="826,430,1626,1130" href="../elements/id-fd08cec5eea24ff793b5664d693aa729.html"  target="element">
				  				<area shape="rect" coords="23,850,273,925" href="../elements/id-481e6e58c68a4f068c26f3e73d8fa0c9.html"  target="element">
				  				<area shape="rect" coords="543,755,793,830" href="../elements/id-0f3bc869aab6436e95f6d7b7c7e399b0.html"  target="element">
				  				<area shape="rect" coords="283,755,533,830" href="../elements/id-e5ff28dad7314365803758b6a16b8374.html"  target="element">
				  				<area shape="rect" coords="23,755,273,830" href="../elements/id-f0fbf17b614648e6a9b60570729d0ae9.html"  target="element">
				  				<area shape="rect" coords="543,660,793,735" href="../elements/id-d8d10d36a25d49cd86c55a5a934709a2.html"  target="element">
				  				<area shape="rect" coords="283,660,533,735" href="../elements/id-790e9f251bf244df9f4d562eb06dd6d2.html"  target="element">
				  				<area shape="rect" coords="23,660,273,735" href="../elements/id-e1ace390d0154b9598a2560242f6a2bb.html"  target="element">
				  				<area shape="rect" coords="543,565,793,640" href="../elements/id-3f49c10a346b43f88f885e528facf4c4.html"  target="element">
				  				<area shape="rect" coords="283,565,533,640" href="../elements/id-828d92178167428aad67b374941419d3.html"  target="element">
				  				<area shape="rect" coords="23,565,273,640" href="../elements/id-7d707025af4c448484bd6648a4aa7a1c.html"  target="element">
				  				<area shape="rect" coords="543,470,793,545" href="../elements/id-4393277865a84f2f8ee8df243a0b788b.html"  target="element">
				  				<area shape="rect" coords="283,470,533,545" href="../elements/id-b85c619478534317ad6c83c696481945.html"  target="element">
				  				<area shape="rect" coords="23,470,273,545" href="../elements/id-476bc5324afa4c0ebe7fb67047165865.html"  target="element">

				  		<area shape="rect" coords="13,430,813,1130" href="../elements/id-fb5cf312adaa465da1ed5ed78d10e0ef.html"  target="element">
				          <area shape="rect" coords="10,10,815,215" href="../objects/a4b0ae54-ca1c-478c-a96c-ec7f8cb9e4c3.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">The European Interoperability Framework underlying principles view models the motivation of the EIRA&#169; in terms of goals to be achieved and the principles to be followed in order to achieve interoperability in public services. 
The interoperability principles are fundamental behavioural aspects to drive interoperable public services.  They describe the context in which European public services are designed and implemented.

The twelve underlying principles of the EIF are grouped into four categories:
1.	Principle setting the context for EU actions on interoperability (Subsidiarity and proportionality);
2.	Core interoperability principles (Openness, Transparency, Reusability, Technological neutrality and data portability);
3.	Principles related to generic user needs and expectations (User-centricity, Inclusion and accessibility, Security and privacy, Multilingualism);
4.	Foundation principles for cooperation among public administrations (Administrative simplification, Preservation of information, Assessment of Effectiveness and Efficiency).

Narrative: The twelve interoperability principles of the New EIF ([Subsidiarity and proportionality], [Openness], [Transparency], [Transparency], [Technological neutrality and data portability], [User-centricity], [Inclusion and accessibility], [Security and privacy], [Multilingualism], [Administrative simplification], [Preservation of information] and [Assessment of Effectiveness and Efficiency]) together fulfil the goals of achieving interoperability: [Achieve Legal Interoperability], [Achieve Organisational Interoperability], [Achieve Semantic Interoperability] and [Achieve Technical Interoperability].

Source: The New EIF. https://ec.europa.eu/isa2/eif_en
The new European Interoperability Framework (EIF) is part of the Communication (COM(2017)134) from the European Commission adopted on 23 March 2017. The framework gives specific guidance on how to set up interoperable digital public services.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>dct:title</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Architectural Principles view</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/a4b0ae54-ca1c-478c-a96c-ec7f8cb9e4c3.html" target="element">  </a> </td>
									           <td> <a href="../objects/a4b0ae54-ca1c-478c-a96c-ec7f8cb9e4c3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-fb5cf312adaa465da1ed5ed78d10e0ef.html" target="element"> Digital Public Service Strategy (Public Policy Cycle) Principle Catalogue </a> </td>
											    <td> <a href="../elements/id-fb5cf312adaa465da1ed5ed78d10e0ef.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-476bc5324afa4c0ebe7fb67047165865.html" target="element"> Accessibility </a> </td>
													    <td> <a href="../elements/id-476bc5324afa4c0ebe7fb67047165865.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b85c619478534317ad6c83c696481945.html" target="element"> Accountability </a> </td>
													    <td> <a href="../elements/id-b85c619478534317ad6c83c696481945.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4393277865a84f2f8ee8df243a0b788b.html" target="element"> Best fit Public Service Implementation Orientation </a> </td>
													    <td> <a href="../elements/id-4393277865a84f2f8ee8df243a0b788b.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7d707025af4c448484bd6648a4aa7a1c.html" target="element"> Care from cradle to grave </a> </td>
													    <td> <a href="../elements/id-7d707025af4c448484bd6648a4aa7a1c.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-828d92178167428aad67b374941419d3.html" target="element"> Data Sovereignty </a> </td>
													    <td> <a href="../elements/id-828d92178167428aad67b374941419d3.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3f49c10a346b43f88f885e528facf4c4.html" target="element"> Deployment fit (Cloud-first approach)  </a> </td>
													    <td> <a href="../elements/id-3f49c10a346b43f88f885e528facf4c4.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e1ace390d0154b9598a2560242f6a2bb.html" target="element"> Digital First </a> </td>
													    <td> <a href="../elements/id-e1ace390d0154b9598a2560242f6a2bb.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-790e9f251bf244df9f4d562eb06dd6d2.html" target="element"> Digital Partnership </a> </td>
													    <td> <a href="../elements/id-790e9f251bf244df9f4d562eb06dd6d2.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d8d10d36a25d49cd86c55a5a934709a2.html" target="element"> Digital sovereignty and autonomy </a> </td>
													    <td> <a href="../elements/id-d8d10d36a25d49cd86c55a5a934709a2.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f0fbf17b614648e6a9b60570729d0ae9.html" target="element"> Evidence based Public Policy </a> </td>
													    <td> <a href="../elements/id-f0fbf17b614648e6a9b60570729d0ae9.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e5ff28dad7314365803758b6a16b8374.html" target="element"> Social participation </a> </td>
													    <td> <a href="../elements/id-e5ff28dad7314365803758b6a16b8374.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0f3bc869aab6436e95f6d7b7c7e399b0.html" target="element"> Transparency of internal information systems </a> </td>
													    <td> <a href="../elements/id-0f3bc869aab6436e95f6d7b7c7e399b0.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-481e6e58c68a4f068c26f3e73d8fa0c9.html" target="element"> Transparency of the administrative environment </a> </td>
													    <td> <a href="../elements/id-481e6e58c68a4f068c26f3e73d8fa0c9.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-fd08cec5eea24ff793b5664d693aa729.html" target="element"> Digital Public Service Design Principle Catalogue </a> </td>
											    <td> <a href="../elements/id-fd08cec5eea24ff793b5664d693aa729.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cb807ac0bdb84e31884aff5e7478fa16.html" target="element"> Administrative Simplification
											 </a> </td>
													    <td> <a href="../elements/id-cb807ac0bdb84e31884aff5e7478fa16.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e0ea574622484ed7a009bc47fb61326a.html" target="element"> Carbon-dioxide e-footprint impact awareness  </a> </td>
													    <td> <a href="../elements/id-e0ea574622484ed7a009bc47fb61326a.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a218b860c9e448218393e26fc0c3a7eb.html" target="element"> Code of ethics compliance </a> </td>
													    <td> <a href="../elements/id-a218b860c9e448218393e26fc0c3a7eb.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6272cdcce20f4c2780f49a92b162bf0e.html" target="element"> Convergence assurance on public policy goals attainment </a> </td>
													    <td> <a href="../elements/id-6272cdcce20f4c2780f49a92b162bf0e.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-901229d923ec460587b00441749c4848.html" target="element"> Data Portability </a> </td>
													    <td> <a href="../elements/id-901229d923ec460587b00441749c4848.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6f0541c3f9e04e19975f6c54cc69597c.html" target="element"> EU Legislation Compliance </a> </td>
													    <td> <a href="../elements/id-6f0541c3f9e04e19975f6c54cc69597c.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4c61db61ed854be0b0d7f33f323579e7.html" target="element"> EU Localisation Framework compliance </a> </td>
													    <td> <a href="../elements/id-4c61db61ed854be0b0d7f33f323579e7.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6209dc945613456dbb79de810aec0ef6.html" target="element"> Integrated Horizontal User Experience </a> </td>
													    <td> <a href="../elements/id-6209dc945613456dbb79de810aec0ef6.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3e5302a7445440c1a7b440cea8f87525.html" target="element"> Loosely coupled integration </a> </td>
													    <td> <a href="../elements/id-3e5302a7445440c1a7b440cea8f87525.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5774bce6313d41ebb754f03e62534b93.html" target="element"> Multilingualism </a> </td>
													    <td> <a href="../elements/id-5774bce6313d41ebb754f03e62534b93.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-419bf81f5150483ea49500058c47add9.html" target="element"> Neo-Weberian-State approach (NWS) </a> </td>
													    <td> <a href="../elements/id-419bf81f5150483ea49500058c47add9.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-89fe3da93e6a4f2794fea08fcdd02ec1.html" target="element"> Once Only </a> </td>
													    <td> <a href="../elements/id-89fe3da93e6a4f2794fea08fcdd02ec1.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-75ee9df4537e432bb9c0e5f8af8c3739.html" target="element"> Openness </a> </td>
													    <td> <a href="../elements/id-75ee9df4537e432bb9c0e5f8af8c3739.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-56e0d4768c73478dafb1413f59bd8e5f.html" target="element"> Privacy </a> </td>
													    <td> <a href="../elements/id-56e0d4768c73478dafb1413f59bd8e5f.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c0ae7afabca84939ace99b0d566d7ea9.html" target="element"> Proactiveness </a> </td>
													    <td> <a href="../elements/id-c0ae7afabca84939ace99b0d566d7ea9.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f9115853bff046ddbed5f4e8e373aa96.html" target="element"> Reuse, before buy, before build </a> </td>
													    <td> <a href="../elements/id-f9115853bff046ddbed5f4e8e373aa96.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b15fd58b4ef047cb91b62ded14088c2a.html" target="element"> Service Orientation </a> </td>
													    <td> <a href="../elements/id-b15fd58b4ef047cb91b62ded14088c2a.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0586b12fed714134906aef22c1d48c95.html" target="element"> Subsidiarity and proportionality </a> </td>
													    <td> <a href="../elements/id-0586b12fed714134906aef22c1d48c95.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b085be545aaa4fae85e933f9356b4cbf.html" target="element"> Technology Neutrality </a> </td>
													    <td> <a href="../elements/id-b085be545aaa4fae85e933f9356b4cbf.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f6157270140640c98017ff52e7c1588d.html" target="element"> User-centricity </a> </td>
													    <td> <a href="../elements/id-f6157270140640c98017ff52e7c1588d.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7c93fceaafa94f238017b263493836a7.html" target="element"> Digital Public Service Operation Principle Catalogue </a> </td>
											    <td> <a href="../elements/id-7c93fceaafa94f238017b263493836a7.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5ff8daf3cf3d4cd88c94cfa495aa1c52.html" target="element"> Convergence control on public policy goals attainment </a> </td>
													    <td> <a href="../elements/id-5ff8daf3cf3d4cd88c94cfa495aa1c52.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1cb45cb5c81044428dac33e75c101437.html" target="element"> Data Accessibility </a> </td>
													    <td> <a href="../elements/id-1cb45cb5c81044428dac33e75c101437.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bf86c39d9ac0428abb1874b98af632f5.html" target="element"> Data Findability </a> </td>
													    <td> <a href="../elements/id-bf86c39d9ac0428abb1874b98af632f5.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac2ede8d46314392a2621af657fc0728.html" target="element"> Data Interoperability </a> </td>
													    <td> <a href="../elements/id-ac2ede8d46314392a2621af657fc0728.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e9d79628b1d44dbbaae91e90bc58f12c.html" target="element"> Data Reusability </a> </td>
													    <td> <a href="../elements/id-e9d79628b1d44dbbaae91e90bc58f12c.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-58ee7a4f1e03458686c717fb34d551c0.html" target="element"> Preservation of information </a> </td>
													    <td> <a href="../elements/id-58ee7a4f1e03458686c717fb34d551c0.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-244bf4725c1548b9afb2fb9a6d9eec8d.html" target="element"> Security by Design </a> </td>
													    <td> <a href="../elements/id-244bf4725c1548b9afb2fb9a6d9eec8d.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c34c619a7acb48b883ad7e5e44b5ad4b.html" target="element"> Trust </a> </td>
													    <td> <a href="../elements/id-c34c619a7acb48b883ad7e5e44b5ad4b.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7580472287a347d6bee86ea59838e6e1.html" target="element"> Digital Public Service Improvement Principle Catalogue </a> </td>
											    <td> <a href="../elements/id-7580472287a347d6bee86ea59838e6e1.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bbd6ec0b077c499a8b426c6ee5bd9eb3.html" target="element"> Innovation </a> </td>
													    <td> <a href="../elements/id-bbd6ec0b077c499a8b426c6ee5bd9eb3.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7db70d70c2824650997a08f280fbb117.html" target="element"> European Library of Architecture Principles </a> </td>
											    <td> <a href="../elements/id-7db70d70c2824650997a08f280fbb117.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dc78369c6e8243868ae3dc4b9e269685.html" target="element"> Not Implemented Architecture Principles Catalogue </a> </td>
											    <td> <a href="../elements/id-dc78369c6e8243868ae3dc4b9e269685.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-6ae9b8f2a87440199c5b03a0feeaf8eb.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6ae9b8f2a87440199c5b03a0feeaf8eb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-eb69ccd1c2af467db7e46f664e72a8c5.html" target="element"> European Data Sharing Principles </a> </td>
											    <td> <a href="../elements/id-eb69ccd1c2af467db7e46f664e72a8c5.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3ddec75976c44712801e23cc2620a641.html" target="element"> Architecture Principle </a> </td>
											    <td> <a href="../elements/id-3ddec75976c44712801e23cc2620a641.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cec3ade8603c489889c968bf149bb010.html" target="element"> European Data Sharing Principles Catalogue </a> </td>
											    <td> <a href="../elements/id-cec3ade8603c489889c968bf149bb010.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b666d5d95ac04ef1a39a057b82edc984.html" target="element"> Self Determination </a> </td>
													    <td> <a href="../elements/id-b666d5d95ac04ef1a39a057b82edc984.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f2df80e1329f46dc8d81dc9d4231083d.html" target="element"> Inclusion </a> </td>
													    <td> <a href="../elements/id-f2df80e1329f46dc8d81dc9d4231083d.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3f3ec1b2650348fe87164d7879f63b7a.html" target="element"> Fundamental Rights </a> </td>
													    <td> <a href="../elements/id-3f3ec1b2650348fe87164d7879f63b7a.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2e9ded6443e748e3b66910ae4b1c1a15.html" target="element"> Consumer protection </a> </td>
													    <td> <a href="../elements/id-2e9ded6443e748e3b66910ae4b1c1a15.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-98dc0d9537304fa5b44f0caff4dd1277.html" target="element"> Fair Competition </a> </td>
													    <td> <a href="../elements/id-98dc0d9537304fa5b44f0caff4dd1277.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b2567fd00151492b82fb5f7e8a968eb5.html" target="element"> Citizen Participation </a> </td>
													    <td> <a href="../elements/id-b2567fd00151492b82fb5f7e8a968eb5.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b983cb492c5243a6a467df5128b24657.html" target="element"> Sustainability </a> </td>
													    <td> <a href="../elements/id-b983cb492c5243a6a467df5128b24657.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-db342527301040a2802d364874e412fb.html" target="element"> Data Altruism </a> </td>
													    <td> <a href="../elements/id-db342527301040a2802d364874e412fb.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-9b08d00a82fa4894b905129080d72d77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b08d00a82fa4894b905129080d72d77.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb5cf312adaa465da1ed5ed78d10e0ef.html" target="element"> Digital Public Service Strategy (Public Policy Cycle) Principle Catalogue </a> </td>
																		<td> <a href="../elements/id-7db70d70c2824650997a08f280fbb117.html" target="element"> European Library of Architecture Principles </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c953f49a031349a8b3f2c80f054bfcb1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c953f49a031349a8b3f2c80f054bfcb1.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fd08cec5eea24ff793b5664d693aa729.html" target="element"> Digital Public Service Design Principle Catalogue </a> </td>
																		<td> <a href="../elements/id-7db70d70c2824650997a08f280fbb117.html" target="element"> European Library of Architecture Principles </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-74119f7b71ef4f5a95c5448ee666df8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74119f7b71ef4f5a95c5448ee666df8d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c93fceaafa94f238017b263493836a7.html" target="element"> Digital Public Service Operation Principle Catalogue </a> </td>
																		<td> <a href="../elements/id-7db70d70c2824650997a08f280fbb117.html" target="element"> European Library of Architecture Principles </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b3e2f6ee3ab34a5a8d3beb928b3088fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3e2f6ee3ab34a5a8d3beb928b3088fb.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7580472287a347d6bee86ea59838e6e1.html" target="element"> Digital Public Service Improvement Principle Catalogue </a> </td>
																		<td> <a href="../elements/id-7db70d70c2824650997a08f280fbb117.html" target="element"> European Library of Architecture Principles </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-58b3d8c10dc042a380c417f522b16aff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-58b3d8c10dc042a380c417f522b16aff.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7db70d70c2824650997a08f280fbb117.html" target="element"> European Library of Architecture Principles </a> </td>
																		<td> <a href="../elements/id-3ddec75976c44712801e23cc2620a641.html" target="element"> Architecture Principle </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-11b9c5a11a7447c6bc3b65653ccf0102.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-11b9c5a11a7447c6bc3b65653ccf0102.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb69ccd1c2af467db7e46f664e72a8c5.html" target="element"> European Data Sharing Principles </a> </td>
																		<td> <a href="../elements/id-3ddec75976c44712801e23cc2620a641.html" target="element"> Architecture Principle </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eaea5042082642a18d6b54e35a569c09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eaea5042082642a18d6b54e35a569c09.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cec3ade8603c489889c968bf149bb010.html" target="element"> European Data Sharing Principles Catalogue </a> </td>
																		<td> <a href="../elements/id-b666d5d95ac04ef1a39a057b82edc984.html" target="element"> Self Determination </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0f1a8c9e33f7492d9311beee2f34eead.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f1a8c9e33f7492d9311beee2f34eead.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cec3ade8603c489889c968bf149bb010.html" target="element"> European Data Sharing Principles Catalogue </a> </td>
																		<td> <a href="../elements/id-f2df80e1329f46dc8d81dc9d4231083d.html" target="element"> Inclusion </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ea275fdb41f3427c853682ab313806f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea275fdb41f3427c853682ab313806f8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cec3ade8603c489889c968bf149bb010.html" target="element"> European Data Sharing Principles Catalogue </a> </td>
																		<td> <a href="../elements/id-3f3ec1b2650348fe87164d7879f63b7a.html" target="element"> Fundamental Rights </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8ec234b3ae7e4eeb8c465ee2c3b43416.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ec234b3ae7e4eeb8c465ee2c3b43416.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cec3ade8603c489889c968bf149bb010.html" target="element"> European Data Sharing Principles Catalogue </a> </td>
																		<td> <a href="../elements/id-2e9ded6443e748e3b66910ae4b1c1a15.html" target="element"> Consumer protection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5621db4bd0da4a4dab156c8732e68b12.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5621db4bd0da4a4dab156c8732e68b12.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cec3ade8603c489889c968bf149bb010.html" target="element"> European Data Sharing Principles Catalogue </a> </td>
																		<td> <a href="../elements/id-98dc0d9537304fa5b44f0caff4dd1277.html" target="element"> Fair Competition </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-50549a9288444b03b0f9256c5687e4b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50549a9288444b03b0f9256c5687e4b7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cec3ade8603c489889c968bf149bb010.html" target="element"> European Data Sharing Principles Catalogue </a> </td>
																		<td> <a href="../elements/id-b2567fd00151492b82fb5f7e8a968eb5.html" target="element"> Citizen Participation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-51a9ab7516fc418abbb4f654f91fee9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-51a9ab7516fc418abbb4f654f91fee9f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cec3ade8603c489889c968bf149bb010.html" target="element"> European Data Sharing Principles Catalogue </a> </td>
																		<td> <a href="../elements/id-b983cb492c5243a6a467df5128b24657.html" target="element"> Sustainability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1d6059de7e7e40eabf8510200796d481.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d6059de7e7e40eabf8510200796d481.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cec3ade8603c489889c968bf149bb010.html" target="element"> European Data Sharing Principles Catalogue </a> </td>
																		<td> <a href="../elements/id-db342527301040a2802d364874e412fb.html" target="element"> Data Altruism </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-61dc0d5942974d1197e228de5a3ac47f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61dc0d5942974d1197e228de5a3ac47f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cec3ade8603c489889c968bf149bb010.html" target="element"> European Data Sharing Principles Catalogue </a> </td>
																		<td> <a href="../elements/id-eb69ccd1c2af467db7e46f664e72a8c5.html" target="element"> European Data Sharing Principles </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>