<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Interoperability Behavioural viewpoint</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Interoperability Behavioural viewpoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3de0d3b96ef247ef9a5b8fa8b5d7b78c.png" alt="Interoperability Behavioural viewpoint" usemap="#id-3de0d3b96ef247ef9a5b8fa8b5d7b78cmap"/>
			   <map name="id-3de0d3b96ef247ef9a5b8fa8b5d7b78cmap">
				  				<area shape="rect" coords="94,670,250,742" href="../elements/id-b59c8daac6154cb4afb0a9274dfe227a.html"  target="element">

				          <area shape="rect" coords="10,610,323,791" href="../objects/id-b7d7f2ab11b6428180532ee06442daee.html" target="element" >
				  						<area shape="rect" coords="1115,692,1259,752" href="../elements/id-c858a296c0d4413c8f4499cfaa67044c.html"  target="element">
				  						<area shape="rect" coords="1115,776,1259,836" href="../elements/id-af0100d1814847d18c8ca687a3b5414d.html"  target="element">

				  				<area shape="rect" coords="1079,658,1283,862" href="../elements/id-7e5690f1868849f7a910691227ad4424.html"  target="element">
				  						<area shape="rect" coords="887,783,1007,835" href="../elements/id-eb0109114cc6406b8f7ca6be9f736baf.html"  target="element">
				  						<area shape="rect" coords="887,691,1007,746" href="../elements/id-11ce68c0d5b44befb46ec4c0780d8dd4.html"  target="element">

				  				<area shape="rect" coords="851,658,1043,862" href="../elements/id-8c8db734813d459d9d97d743ad0e0218.html"  target="element">
				  				<area shape="rect" coords="1144,550,1283,621" href="../elements/id-55eab4850917472abec2dd936c865ec9.html"  target="element">
				  				<area shape="rect" coords="1145,466,1283,537" href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html"  target="element">
				  				<area shape="rect" coords="899,514,1049,574" href="../elements/id-d23314e941c246e08171cfb057083b43.html"  target="element">
				  						<area shape="rect" coords="659,691,791,752" href="../elements/id-d2f56a56955f472eaafc670eb8569217.html"  target="element">
				  						<area shape="rect" coords="659,775,791,836" href="../elements/id-f01f07656e764f84b69487afbe87ec5b.html"  target="element">

				  				<area shape="rect" coords="635,658,816,862" href="../elements/id-21e31e6f67dc446db73e777140069f8e.html"  target="element">
				  				<area shape="rect" coords="443,682,599,753" href="../elements/id-f3c7429ea322483a85a22f56a7a66178.html"  target="element">
				  				<area shape="rect" coords="443,790,599,862" href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html"  target="element">
				  						<area shape="rect" coords="443,514,599,586" href="../elements/id-f97b8768b1df46859d917f6a644336b9.html"  target="element">
				  						<area shape="rect" coords="647,513,803,586" href="../elements/id-8af4a97318df4fe591a63ea941235d26.html"  target="element">

				  				<area shape="rect" coords="395,477,852,610" href="../elements/id-d33f1f6abb764104b04d5e1bafae1d16.html"  target="element">

				          <area shape="rect" coords="371,418,1331,875" href="../objects/id-f15f89a18dc64d1690053747bc26035a.html" target="element" >
				  				<area shape="rect" coords="94,478,250,550" href="../elements/id-6a1f58b5f7c44ec382909a5f5a2be489.html"  target="element">

				          <area shape="rect" coords="10,418,323,599" href="../objects/id-524a96d491db4270b1b71a7cc4ea72e5.html" target="element" >
				  				<area shape="rect" coords="490,167,658,239" href="../elements/id-dd925d948c684db39133688b326fd414.html"  target="element">
				  				<area shape="rect" coords="1048,307,1163,347" href="../elements/id-e604663f50d6455da2510c1108aede8d.html"  target="element">
				  				<area shape="rect" coords="1048,247,1163,287" href="../elements/id-4cb7b086a5874f58b30ba03a6fbc60eb.html"  target="element">
				  				<area shape="rect" coords="1048,187,1163,227" href="../elements/id-d0535713481d43dda1557c5bbe7214b1.html"  target="element">
				  				<area shape="rect" coords="1048,127,1163,167" href="../elements/id-d569a603457d47c1946fd9585c8a8ccf.html"  target="element">
				  				<area shape="rect" coords="1048,66,1163,107" href="../elements/id-23efd3deaf9a454996c26932798a1f22.html"  target="element">
				  				<area shape="rect" coords="766,166,923,239" href="../elements/id-f86b84152e304c87a18644e9b0a9f58b.html"  target="element">

				          <area shape="rect" coords="370,10,1331,390" href="../objects/id-44969984be384c8fa8d97f49ac4e109a.html" target="element" >
				  				<area shape="rect" coords="82,274,238,346" href="../elements/id-38be49ae16524bcd8f5b552e97ca1991.html"  target="element">

				          <area shape="rect" coords="10,214,323,395" href="../objects/id-d4a590c636e044b1a1666b588155f1f9.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-d4a590c636e044b1a1666b588155f1f9.html" target="element"> Legal view </a> </td>
									           <td> <a href="../objects/id-d4a590c636e044b1a1666b588155f1f9.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-38be49ae16524bcd8f5b552e97ca1991.html" target="element"> Legislation on Data Information and Knowledge Exchange </a> </td>
													    <td> <a href="../elements/id-38be49ae16524bcd8f5b552e97ca1991.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-44969984be384c8fa8d97f49ac4e109a.html" target="element"> Organisational view </a> </td>
									           <td> <a href="../objects/id-44969984be384c8fa8d97f49ac4e109a.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-f86b84152e304c87a18644e9b0a9f58b.html" target="element"> Digital Public Service Delivery </a> </td>
													    <td> <a href="../elements/id-f86b84152e304c87a18644e9b0a9f58b.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-23efd3deaf9a454996c26932798a1f22.html" target="element"> Web App </a> </td>
													    <td> <a href="../elements/id-23efd3deaf9a454996c26932798a1f22.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d569a603457d47c1946fd9585c8a8ccf.html" target="element"> Mobile App </a> </td>
													    <td> <a href="../elements/id-d569a603457d47c1946fd9585c8a8ccf.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d0535713481d43dda1557c5bbe7214b1.html" target="element"> Desktop App </a> </td>
													    <td> <a href="../elements/id-d0535713481d43dda1557c5bbe7214b1.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4cb7b086a5874f58b30ba03a6fbc60eb.html" target="element"> Service App </a> </td>
													    <td> <a href="../elements/id-4cb7b086a5874f58b30ba03a6fbc60eb.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e604663f50d6455da2510c1108aede8d.html" target="element"> Adaptive Configuration </a> </td>
													    <td> <a href="../elements/id-e604663f50d6455da2510c1108aede8d.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dd925d948c684db39133688b326fd414.html" target="element"> Information </a> </td>
													    <td> <a href="../elements/id-dd925d948c684db39133688b326fd414.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-524a96d491db4270b1b71a7cc4ea72e5.html" target="element"> Semantic view </a> </td>
									           <td> <a href="../objects/id-524a96d491db4270b1b71a7cc4ea72e5.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-6a1f58b5f7c44ec382909a5f5a2be489.html" target="element"> Metadata </a> </td>
													    <td> <a href="../elements/id-6a1f58b5f7c44ec382909a5f5a2be489.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-f15f89a18dc64d1690053747bc26035a.html" target="element"> Technical Application view </a> </td>
									           <td> <a href="../objects/id-f15f89a18dc64d1690053747bc26035a.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-d33f1f6abb764104b04d5e1bafae1d16.html" target="element"> Application Presentation Enablers </a> </td>
													    <td> <a href="../elements/id-d33f1f6abb764104b04d5e1bafae1d16.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-8af4a97318df4fe591a63ea941235d26.html" target="element"> Human Interface </a> </td>
															    <td> <a href="../elements/id-8af4a97318df4fe591a63ea941235d26.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f97b8768b1df46859d917f6a644336b9.html" target="element"> Machine to Machine Interface </a> </td>
															    <td> <a href="../elements/id-f97b8768b1df46859d917f6a644336b9.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
													    <td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f3c7429ea322483a85a22f56a7a66178.html" target="element"> API </a> </td>
													    <td> <a href="../elements/id-f3c7429ea322483a85a22f56a7a66178.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-21e31e6f67dc446db73e777140069f8e.html" target="element"> Data Exchange Enablers </a> </td>
													    <td> <a href="../elements/id-21e31e6f67dc446db73e777140069f8e.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-f01f07656e764f84b69487afbe87ec5b.html" target="element"> Data Exchange </a> </td>
															    <td> <a href="../elements/id-f01f07656e764f84b69487afbe87ec5b.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d2f56a56955f472eaafc670eb8569217.html" target="element"> Data Exchange </a> </td>
															    <td> <a href="../elements/id-d2f56a56955f472eaafc670eb8569217.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
													    <td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html" target="element"> Dataspace Connector Provider </a> </td>
													    <td> <a href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55eab4850917472abec2dd936c865ec9.html" target="element"> Dataspace Connector Consumer </a> </td>
													    <td> <a href="../elements/id-55eab4850917472abec2dd936c865ec9.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8c8db734813d459d9d97d743ad0e0218.html" target="element"> Digital Workplace Enablers </a> </td>
													    <td> <a href="../elements/id-8c8db734813d459d9d97d743ad0e0218.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-11ce68c0d5b44befb46ec4c0780d8dd4.html" target="element"> Digital Workplace </a> </td>
															    <td> <a href="../elements/id-11ce68c0d5b44befb46ec4c0780d8dd4.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-eb0109114cc6406b8f7ca6be9f736baf.html" target="element"> Digital Workplace </a> </td>
															    <td> <a href="../elements/id-eb0109114cc6406b8f7ca6be9f736baf.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-7e5690f1868849f7a910691227ad4424.html" target="element"> User Experience Management Enablers </a> </td>
													    <td> <a href="../elements/id-7e5690f1868849f7a910691227ad4424.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-af0100d1814847d18c8ca687a3b5414d.html" target="element"> Public Administration Single Window </a> </td>
															    <td> <a href="../elements/id-af0100d1814847d18c8ca687a3b5414d.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c858a296c0d4413c8f4499cfaa67044c.html" target="element"> Public Administration Single Window </a> </td>
															    <td> <a href="../elements/id-c858a296c0d4413c8f4499cfaa67044c.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-b7d7f2ab11b6428180532ee06442daee.html" target="element"> Technical Infrastructure view </a> </td>
									           <td> <a href="../objects/id-b7d7f2ab11b6428180532ee06442daee.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-b59c8daac6154cb4afb0a9274dfe227a.html" target="element"> Technology Interface </a> </td>
													    <td> <a href="../elements/id-b59c8daac6154cb4afb0a9274dfe227a.html" target="element" class="i18n-elementtype-TechnologyInterface">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-5f75c405979f400bbadd3e62b606bcb3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f75c405979f400bbadd3e62b606bcb3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-23efd3deaf9a454996c26932798a1f22.html" target="element"> Web App </a> </td>
																				<td> <a href="../elements/id-f86b84152e304c87a18644e9b0a9f58b.html" target="element"> Digital Public Service Delivery </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5a9a2862322f4f1fbfc4c9177b2c691b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a9a2862322f4f1fbfc4c9177b2c691b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d569a603457d47c1946fd9585c8a8ccf.html" target="element"> Mobile App </a> </td>
																				<td> <a href="../elements/id-f86b84152e304c87a18644e9b0a9f58b.html" target="element"> Digital Public Service Delivery </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-263747d4f7c54bb687f573edd73324c8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-263747d4f7c54bb687f573edd73324c8.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d0535713481d43dda1557c5bbe7214b1.html" target="element"> Desktop App </a> </td>
																				<td> <a href="../elements/id-f86b84152e304c87a18644e9b0a9f58b.html" target="element"> Digital Public Service Delivery </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f9e1c9f0171b484c82eca3e280a30931.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f9e1c9f0171b484c82eca3e280a30931.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4cb7b086a5874f58b30ba03a6fbc60eb.html" target="element"> Service App </a> </td>
																				<td> <a href="../elements/id-f86b84152e304c87a18644e9b0a9f58b.html" target="element"> Digital Public Service Delivery </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-89dd0761513b4eef9f99ed299a48f46d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-89dd0761513b4eef9f99ed299a48f46d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e604663f50d6455da2510c1108aede8d.html" target="element"> Adaptive Configuration </a> </td>
																				<td> <a href="../elements/id-f86b84152e304c87a18644e9b0a9f58b.html" target="element"> Digital Public Service Delivery </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2aa838be8bb841c7a761a97650827e44.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2aa838be8bb841c7a761a97650827e44.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dd925d948c684db39133688b326fd414.html" target="element"> Information </a> </td>
																				<td> <a href="../elements/id-dd925d948c684db39133688b326fd414.html" target="element"> Information </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-208d1b98c8e34a1b9d42accbac1818da.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-208d1b98c8e34a1b9d42accbac1818da.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d33f1f6abb764104b04d5e1bafae1d16.html" target="element"> Application Presentation Enablers </a> </td>
																				<td> <a href="../elements/id-8af4a97318df4fe591a63ea941235d26.html" target="element"> Human Interface </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-420d5147627041a8beb351458e87be63.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-420d5147627041a8beb351458e87be63.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d33f1f6abb764104b04d5e1bafae1d16.html" target="element"> Application Presentation Enablers </a> </td>
																				<td> <a href="../elements/id-f97b8768b1df46859d917f6a644336b9.html" target="element"> Machine to Machine Interface </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-57591b1af2194b9c8f561281ca64f271.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-57591b1af2194b9c8f561281ca64f271.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f97b8768b1df46859d917f6a644336b9.html" target="element"> Machine to Machine Interface </a> </td>
																						<td> <a href="../elements/id-f3c7429ea322483a85a22f56a7a66178.html" target="element"> API </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-d3c2f02854c64228b132649a761b848a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d3c2f02854c64228b132649a761b848a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
																				<td> <a href="../elements/id-f3c7429ea322483a85a22f56a7a66178.html" target="element"> API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fcbbba0b7eb74e028f4324fc04542613.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fcbbba0b7eb74e028f4324fc04542613.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-21e31e6f67dc446db73e777140069f8e.html" target="element"> Data Exchange Enablers </a> </td>
																				<td> <a href="../elements/id-f01f07656e764f84b69487afbe87ec5b.html" target="element"> Data Exchange </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4401f696185b4859b38423cad83a76e4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4401f696185b4859b38423cad83a76e4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-21e31e6f67dc446db73e777140069f8e.html" target="element"> Data Exchange Enablers </a> </td>
																				<td> <a href="../elements/id-d2f56a56955f472eaafc670eb8569217.html" target="element"> Data Exchange </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-435df863feaf43fc9c8bed628b8ef958.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-435df863feaf43fc9c8bed628b8ef958.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d2f56a56955f472eaafc670eb8569217.html" target="element"> Data Exchange </a> </td>
																						<td> <a href="../elements/id-f01f07656e764f84b69487afbe87ec5b.html" target="element"> Data Exchange </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-75f17faca3cc484ba63d2cf9dac47211.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-75f17faca3cc484ba63d2cf9dac47211.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html" target="element"> Dataspace Connector Provider </a> </td>
																				<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4afa19ac5f33433b87b58f165200b8a7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4afa19ac5f33433b87b58f165200b8a7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-55eab4850917472abec2dd936c865ec9.html" target="element"> Dataspace Connector Consumer </a> </td>
																				<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-550af66351c742be9212f7d705dc745e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-550af66351c742be9212f7d705dc745e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8c8db734813d459d9d97d743ad0e0218.html" target="element"> Digital Workplace Enablers </a> </td>
																				<td> <a href="../elements/id-11ce68c0d5b44befb46ec4c0780d8dd4.html" target="element"> Digital Workplace </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-26d9ef11149a4bcdb7779aa26091bed5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-26d9ef11149a4bcdb7779aa26091bed5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8c8db734813d459d9d97d743ad0e0218.html" target="element"> Digital Workplace Enablers </a> </td>
																				<td> <a href="../elements/id-eb0109114cc6406b8f7ca6be9f736baf.html" target="element"> Digital Workplace </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-bd24ef1663a1429a89feff5816460ac6.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-bd24ef1663a1429a89feff5816460ac6.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-11ce68c0d5b44befb46ec4c0780d8dd4.html" target="element"> Digital Workplace </a> </td>
																						<td> <a href="../elements/id-eb0109114cc6406b8f7ca6be9f736baf.html" target="element"> Digital Workplace </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-64e5640bd8a448d3b5d766233c9820b1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-64e5640bd8a448d3b5d766233c9820b1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7e5690f1868849f7a910691227ad4424.html" target="element"> User Experience Management Enablers </a> </td>
																				<td> <a href="../elements/id-af0100d1814847d18c8ca687a3b5414d.html" target="element"> Public Administration Single Window </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-375d0bea70134dd4ae3c40b16c021ce6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-375d0bea70134dd4ae3c40b16c021ce6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7e5690f1868849f7a910691227ad4424.html" target="element"> User Experience Management Enablers </a> </td>
																				<td> <a href="../elements/id-c858a296c0d4413c8f4499cfaa67044c.html" target="element"> Public Administration Single Window </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-c4bacca9fec24af1a1326dfef90bfc43.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-c4bacca9fec24af1a1326dfef90bfc43.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c858a296c0d4413c8f4499cfaa67044c.html" target="element"> Public Administration Single Window </a> </td>
																						<td> <a href="../elements/id-af0100d1814847d18c8ca687a3b5414d.html" target="element"> Public Administration Single Window </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-ce55b0a3e83f4e9db3c767b1e66c93eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ce55b0a3e83f4e9db3c767b1e66c93eb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b59c8daac6154cb4afb0a9274dfe227a.html" target="element"> Technology Interface </a> </td>
																				<td> <a href="../elements/id-f3c7429ea322483a85a22f56a7a66178.html" target="element"> API </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>