<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Agnostic Ontologies</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Agnostic Ontologies</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-40a5ab9f5c9441f68e1d4590876bb59e.png" alt="SV-Agnostic Ontologies" usemap="#id-40a5ab9f5c9441f68e1d4590876bb59emap"/>
			   <map name="id-40a5ab9f5c9441f68e1d4590876bb59emap">
				  				<area shape="rect" coords="34,468,182,540" href="../elements/id-a5495fa242ab45ba9eab1d219d66d92b.html"  target="element">
				  				<area shape="rect" coords="34,216,182,288" href="../elements/id-19605fc8524847d2aa7634c6c48338c3.html"  target="element">
				  				<area shape="rect" coords="202,131,350,203" href="../elements/id-09f7827357f94cdaa2d8ce9edf479268.html"  target="element">
				  				<area shape="rect" coords="202,46,350,118" href="../elements/id-8953e0bce85d4831a99bd29397d1034a.html"  target="element">
				  				<area shape="rect" coords="34,383,182,455" href="../elements/id-7d80ae7a2f634a0fb6b50eee3453e4a3.html"  target="element">
				  				<area shape="rect" coords="202,216,350,288" href="../views/id-40a5ab9f5c9441f68e1d4590876bb59e.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="34,46,182,118" href="../elements/id-6984879aa17f46b8b22ba57b2329337f.html"  target="element">
				  				<area shape="rect" coords="34,298,182,370" href="../elements/id-bd32cd7fc56943d4bd8d7972bc7c6742.html"  target="element">
				  				<area shape="rect" coords="34,131,182,203" href="../elements/id-fa01416b34224bf79aac69a394a31e89.html"  target="element">

				  		<area shape="rect" coords="10,10,371,563" href="../elements/id-3172146315d0492b8723151fb7053bd7.html"  target="element">
				  				<area shape="rect" coords="658,394,858,474" href="../elements/d43d5a66-233c-4613-908b-cc2c6b7ea5f5.html"  target="element">
				  				<area shape="rect" coords="658,274,858,354" href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html"  target="element">
				  				<area shape="rect" coords="658,154,858,234" href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html"  target="element">

				          <area shape="rect" coords="610,10,910,598" href="../objects/id-56ce1ccdb30f467f9438e9aa62971126.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Narrative: 
The "semantic view - Agnostic Ontologies" viewpoint extends the semantic view and provides a comprehensive framework for representing and organizing knowledge within the digital ecosystem. This view associates the Business Agnostic Ontologies with Digital Public Services and the Business Information Base from the application layer.
Within this view, the Business Agnostic Ontologies serve as foundational structures for representing and defining common concepts, relationships, and rules that are independent of specific business domains. These ontologies provide a shared understanding and semantic framework that enables interoperability, data integration, and semantic reasoning across different digital services and applications.

The Digital Public Services, as part of the application layer, leverage the Business Agnostic Ontologies to ensure consistent and meaningful representation of information and functionalities. These services align with the ontological concepts and relationships to enable seamless interactions, data exchange, and interoperability among various digital public services.

Furthermore, the Business Information Base complements the Business Agnostic Ontologies by providing a structured repository of business-related information. It serves as a valuable resource for storing and accessing domain-specific data, facilitating data sharing, and supporting decision-making processes within digital public services.

By associating the Business Agnostic Ontologies with Digital Public Services and the Business Information Base, the "semantic view - Agnostic Ontologies" enables a standardized and coherent representation of knowledge and information within the digital ecosystem. This view promotes semantic interoperability, enhances data integration, and supports advanced functionalities such as semantic search, intelligent recommendations, and context-aware decision-making.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-56ce1ccdb30f467f9438e9aa62971126.html" target="element"> Business Agnostic Business Information Base </a> </td>
									           <td> <a href="../objects/id-56ce1ccdb30f467f9438e9aa62971126.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element"> Document </a> </td>
													    <td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d43d5a66-233c-4613-908b-cc2c6b7ea5f5.html" target="element"> Availability </a> </td>
													    <td> <a href="../elements/d43d5a66-233c-4613-908b-cc2c6b7ea5f5.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3172146315d0492b8723151fb7053bd7.html" target="element"> Business Agnostic Ontologies Solutions </a> </td>
											    <td> <a href="../elements/id-3172146315d0492b8723151fb7053bd7.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fa01416b34224bf79aac69a394a31e89.html" target="element"> W3C Organization </a> </td>
													    <td> <a href="../elements/id-fa01416b34224bf79aac69a394a31e89.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bd32cd7fc56943d4bd8d7972bc7c6742.html" target="element"> W3C Shapes Constraint Language </a> </td>
													    <td> <a href="../elements/id-bd32cd7fc56943d4bd8d7972bc7c6742.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6984879aa17f46b8b22ba57b2329337f.html" target="element"> PROV-O </a> </td>
													    <td> <a href="../elements/id-6984879aa17f46b8b22ba57b2329337f.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../views/id-40a5ab9f5c9441f68e1d4590876bb59e.html" target="view"> SV-Agnostic Ontologies </a> </td>
													    <td> <a href="../views/id-40a5ab9f5c9441f68e1d4590876bb59e.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../elements/id-7d80ae7a2f634a0fb6b50eee3453e4a3.html" target="element"> FOAF </a> </td>
													    <td> <a href="../elements/id-7d80ae7a2f634a0fb6b50eee3453e4a3.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8953e0bce85d4831a99bd29397d1034a.html" target="element"> DCAT-AP </a> </td>
													    <td> <a href="../elements/id-8953e0bce85d4831a99bd29397d1034a.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-09f7827357f94cdaa2d8ce9edf479268.html" target="element"> ADMS </a> </td>
													    <td> <a href="../elements/id-09f7827357f94cdaa2d8ce9edf479268.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-19605fc8524847d2aa7634c6c48338c3.html" target="element"> ADMS-AP </a> </td>
													    <td> <a href="../elements/id-19605fc8524847d2aa7634c6c48338c3.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a5495fa242ab45ba9eab1d219d66d92b.html" target="element"> DCAT </a> </td>
													    <td> <a href="../elements/id-a5495fa242ab45ba9eab1d219d66d92b.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-74ca775dcde34213b3c0848f3f6984f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74ca775dcde34213b3c0848f3f6984f8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3172146315d0492b8723151fb7053bd7.html" target="element"> Business Agnostic Ontologies Solutions </a> </td>
																		<td> <a href="../elements/id-6984879aa17f46b8b22ba57b2329337f.html" target="element"> PROV-O </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8d833aa14a345aaa8af64d7753330a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8d833aa14a345aaa8af64d7753330a8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3172146315d0492b8723151fb7053bd7.html" target="element"> Business Agnostic Ontologies Solutions </a> </td>
																		<td> <a href="../elements/id-fa01416b34224bf79aac69a394a31e89.html" target="element"> W3C Organization </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6d99d5cb05844af78b16f0f08fea4800.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6d99d5cb05844af78b16f0f08fea4800.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3172146315d0492b8723151fb7053bd7.html" target="element"> Business Agnostic Ontologies Solutions </a> </td>
																		<td> <a href="../elements/id-8953e0bce85d4831a99bd29397d1034a.html" target="element"> DCAT-AP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fbeb17e7f0b14d7b9a550d79fc420f40.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fbeb17e7f0b14d7b9a550d79fc420f40.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3172146315d0492b8723151fb7053bd7.html" target="element"> Business Agnostic Ontologies Solutions </a> </td>
																		<td> <a href="../elements/id-7d80ae7a2f634a0fb6b50eee3453e4a3.html" target="element"> FOAF </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-11b2b60eb1a440af9d3e204331f3c865.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-11b2b60eb1a440af9d3e204331f3c865.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3172146315d0492b8723151fb7053bd7.html" target="element"> Business Agnostic Ontologies Solutions </a> </td>
																		<td> <a href="../elements/id-bd32cd7fc56943d4bd8d7972bc7c6742.html" target="element"> W3C Shapes Constraint Language </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-96ac64d5b4ca495c95f7053e6c73d8d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96ac64d5b4ca495c95f7053e6c73d8d3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3172146315d0492b8723151fb7053bd7.html" target="element"> Business Agnostic Ontologies Solutions </a> </td>
																		<td> <a href="../elements/id-a5495fa242ab45ba9eab1d219d66d92b.html" target="element"> DCAT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-92216ea584ec47d8899b22fd7d2dc35b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-92216ea584ec47d8899b22fd7d2dc35b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3172146315d0492b8723151fb7053bd7.html" target="element"> Business Agnostic Ontologies Solutions </a> </td>
																		<td> <a href="../elements/id-19605fc8524847d2aa7634c6c48338c3.html" target="element"> ADMS-AP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d4ff55fa1ba34287af31cd26a0cb44f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4ff55fa1ba34287af31cd26a0cb44f2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3172146315d0492b8723151fb7053bd7.html" target="element"> Business Agnostic Ontologies Solutions </a> </td>
																		<td> <a href="../elements/id-09f7827357f94cdaa2d8ce9edf479268.html" target="element"> ADMS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d97bbcf9e9f24f9382dfa7b3c8472639.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d97bbcf9e9f24f9382dfa7b3c8472639.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3172146315d0492b8723151fb7053bd7.html" target="element"> Business Agnostic Ontologies Solutions </a> </td>
																		<td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4e54802cf66145e5bb404d54d7e28ca8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e54802cf66145e5bb404d54d7e28ca8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3172146315d0492b8723151fb7053bd7.html" target="element"> Business Agnostic Ontologies Solutions </a> </td>
																		<td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element"> Document </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-966ae4d541d448288ce1e8239ca2ed57.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-966ae4d541d448288ce1e8239ca2ed57.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3172146315d0492b8723151fb7053bd7.html" target="element"> Business Agnostic Ontologies Solutions </a> </td>
																		<td> <a href="../elements/d43d5a66-233c-4613-908b-cc2c6b7ea5f5.html" target="element"> Availability </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>