<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Dataspace Enablers</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Dataspace Enablers</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-41fe8a5febed4b4ba2e2c3d45a2772ad.png" alt="TVA-Dataspace Enablers" usemap="#id-41fe8a5febed4b4ba2e2c3d45a2772admap"/>
			   <map name="id-41fe8a5febed4b4ba2e2c3d45a2772admap">
				  				<area shape="rect" coords="1767,871,1905,944" href="../elements/id-fdb063997e984c86b0ad42d4ac75c481.html"  target="element">
				  				<area shape="rect" coords="1767,787,1905,860" href="../elements/id-643828f92a7b4f2d96f197661319d04c.html"  target="element">

				          <area shape="rect" coords="1743,751,1931,968" href="../objects/id-2996ac4bd95748a589eb6860f8e25d7e.html" target="element" >
				  		<area shape="rect" coords="1536,10,1674,83" href="../views/id-c8a766141fd4460f8d74ae3ee94a8ce2.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="2134,511,2272,584" href="../views/id-2a41dcee6b1c4d4b9b80eb7da60310eb.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1743,10,1881,83" href="../views/id-07c19d1ac4564a4d94676f0cb3aae4bd.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1335,10,1473,83" href="../views/id-52b8fa0f76114536a705912c6b9587b5.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1042,10,1200,83" href="../views/id-fec93c4bd9a74e719717ff9e526f1344.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="758,10,916,83" href="../views/id-254b4080b45148d8aa1642ed364fcead.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,523,168,596" href="../views/id-2a41dcee6b1c4d4b9b80eb7da60310eb.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="346,10,504,83" href="../views/id-334efcf0eaa24757864e280bbb2073a5.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1558,408,1696,481" href="../views/id-89bbc136609d47fab5530d97fdcb1a0e.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="478,343,616,416" href="../elements/id-93599cf994fa454bb4b82eafd5f9f08d.html"  target="element">
				  		<area shape="rect" coords="292,463,430,536" href="../elements/id-ef194b3d3b0845dc984eed483afa69fa.html"  target="element">
				  		<area shape="rect" coords="478,463,616,536" href="../elements/id-573fb878be7b4dfbb893041c498901c9.html"  target="element">
				  		<area shape="rect" coords="292,223,430,296" href="../elements/id-a86ce3face88461a9680e7c7129b9f90.html"  target="element">
				  		<area shape="rect" coords="478,223,616,296" href="../elements/id-72c0b3190e1347a5a43aec34064b5c46.html"  target="element">
				  						<area shape="rect" coords="1043,799,1181,872" href="../elements/id-0a0c68e5a94a465aab78b5b693e824fc.html"  target="element">

				  		        <area shape="rect" coords="743,751,1499,919" href="../objects/id-410148661d774b4799c43d62485b4467.html" target="element" >
				  						<area shape="rect" coords="1246,631,1384,704" href="../elements/id-55eab4850917472abec2dd936c865ec9.html"  target="element">
				  						<area shape="rect" coords="838,631,976,704" href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html"  target="element">
				  						<area shape="rect" coords="1054,511,1192,584" href="../elements/id-d23314e941c246e08171cfb057083b43.html"  target="element">

				  				<area shape="rect" coords="742,463,1499,728" href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html"  target="element">

				  		<area shape="rect" coords="706,427,1535,968" href="../elements/id-1a422cc5076e480db497793fea533e87.html"  target="element">
				  						<area shape="rect" coords="452,727,590,800" href="../elements/id-310e6940b6164f28a6c9637fc2393e01.html"  target="element">

				  		        <area shape="rect" coords="429,703,622,824" href="../objects/id-bbd3abc28eb646deaee4cf949f76e281.html" target="element" >
				  				<area shape="rect" coords="457,595,595,668" href="../elements/id-3dac25a1213f4d7ea0dd74e251db25f2.html"  target="element">
				  				<area shape="rect" coords="250,727,388,800" href="../elements/id-9cc135e9c82149e98a1eb02fdccd2b5a.html"  target="element">
				  				<area shape="rect" coords="250,595,388,668" href="../elements/id-c66cd4a50ada4357b7bb23da5d4ec019.html"  target="element">

				          <area shape="rect" coords="226,571,635,860" href="../objects/id-5577c532755f425199cf57de1b2f1da4.html" target="element" >
				          <area shape="rect" coords="226,331,634,559" href="../objects/id-83b1464ce5e64ef1a5f81e4bac72b029.html" target="element" >
				          <area shape="rect" coords="226,187,634,319" href="../objects/id-67afd82905ba4a079b0489c93342bc1a.html" target="element" >
				  				<area shape="rect" coords="765,264,903,337" href="../elements/id-722db2a99a884a0d8ae89f010abdafdb.html"  target="element">

				          <area shape="rect" coords="741,230,933,361" href="../objects/id-9586112bf8c147faa8b5ca158d7d7499.html" target="element" >
				  				<area shape="rect" coords="1053,271,1191,344" href="../elements/id-afb0ffbe9ebe4dbfbf6d327fe15c7b7f.html"  target="element">
				  				<area shape="rect" coords="1125,151,1263,224" href="../elements/id-028761f5e53a4c79aad3deeb397ee8ab.html"  target="element">
				  				<area shape="rect" coords="969,151,1107,224" href="../elements/id-2742d28250fd410bbd4634cb8af4e854.html"  target="element">

				          <area shape="rect" coords="945,127,1297,361" href="../objects/id-0a879cac01f04ec09d51c7785ed7df56.html" target="element" >
				  				<area shape="rect" coords="1332,264,1470,337" href="../elements/id-4013895fe2b34118ad7b7454cc82dc28.html"  target="element">

				          <area shape="rect" coords="1308,240,1500,360" href="../objects/id-c3808819146147b8aede54e42f41fd18.html" target="element" >
				  				<area shape="rect" coords="1533,264,1671,337" href="../elements/id-87d4d4ae0d664004b5b41c7b2f51e0c3.html"  target="element">

				          <area shape="rect" coords="1509,240,1701,360" href="../objects/id-aa4c87ba18864fad80fd7776137651fb.html" target="element" >
				  				<area shape="rect" coords="1740,264,1878,337" href="../elements/id-931728fd9eec4c7283eed65e7f1efd9d.html"  target="element">

				          <area shape="rect" coords="1716,240,1908,360" href="../objects/id-bbb6b82eee5644ff90ef9d9be714a230.html" target="element" >
				  				<area shape="rect" coords="1767,643,1905,716" href="../elements/id-fb17e068d30046e787a340a3ec68c83d.html"  target="element">
				  				<area shape="rect" coords="1923,643,2061,716" href="../elements/id-fdf0dc9ed001449988e7809af27181bd.html"  target="element">
				  				<area shape="rect" coords="1767,511,1905,584" href="../elements/id-a79120ffdef94ff9965abfedfa42757e.html"  target="element">

				          <area shape="rect" coords="1743,475,2087,740" href="../objects/id-ce155fc197c04cb39367a820d8692354.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The [TVA-Dataspace Enablers] view extends technical view application and provides a comprehensive framework for leveraging various elements and their relationships to enable data integration, management, and usage. This view is composed of several Diagram Model-group ABBs, each containing multiple Application Service ABBs, and a Grouping ABB named [Dataspace Enablers].

The [App Store / Extensions / User Workflows] group includes three services: [Data Integration], [Data Integration Plugins Manager], and [Data Extraction, Transformation and Loading]. These services facilitate the process of combining data from multiple sources into a unified view, managing plugins within a data integration system, and extracting, transforming, and loading data into a target data store.

The [Event Driven / NRT] group contains the [Message Broker] service, which acts as an intermediary for asynchronous message-based communication between different applications.

The [Vocabulary Management] group includes the [Vocabulary Hub] service, a centralized repository for managing and providing access to a wide range of vocabularies or terminologies.

The [Trust] group contains the [Privacy] service, which enables functionalities such as storing, securing, anonymising, pseudonymising, rectifying and erasing personal data.

The [Identity Provider] group includes three services: [Centralized Identity Management], [Decentralized Identity Management], and [Identity Management]. These services manage and control user identities and access rights in both centralized and decentralized manners.

The [Monitoring] group contains the [Observability] service, which provides insights into the internal state and behavior of a system by analyzing its external outputs.

The [Dataspace Enablers] group includes the [Dataspace], [Dataspace Connector], [Dataspace Connector Provider], and [Dataspace Connector Consumer] services. These services support the creation and management of a dataspace, a virtual space for integrating, transforming, and making available data.

The [Contract Negotiation] group includes the [Data Contract], [Data Policy], and [Data Governance] services, which manage the availability, usability, integrity, and security of data within an organization.

The [Service Discovery and Registry], [Service Registry], [Data Catalogue Management], [Dataset Catalogue], and [Federated Data Catalogue Management] services enable the implementation of public digital services, organize metadata about data assets, and manage data catalogues.

The [Data Analytics and Quality] group includes the [Data Analytics] and [Data Quality] services, which analyze data and ensure its accuracy, completeness, consistency, and up-to-dateness.

The view also includes several Archimate Diagram-model ABBs that represent the motivation behind various elements, and Diagram Model-connection ABBs that represent the relationships between these elements.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-ce155fc197c04cb39367a820d8692354.html" target="element"> App Store / Extensions / User Workflows </a> </td>
									           <td> <a href="../objects/id-ce155fc197c04cb39367a820d8692354.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-a79120ffdef94ff9965abfedfa42757e.html" target="element"> Data Integration </a> </td>
													    <td> <a href="../elements/id-a79120ffdef94ff9965abfedfa42757e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fdf0dc9ed001449988e7809af27181bd.html" target="element"> Data Integration Plugins Manager </a> </td>
													    <td> <a href="../elements/id-fdf0dc9ed001449988e7809af27181bd.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fb17e068d30046e787a340a3ec68c83d.html" target="element"> Data Extraction, Transformation and Loading </a> </td>
													    <td> <a href="../elements/id-fb17e068d30046e787a340a3ec68c83d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-bbb6b82eee5644ff90ef9d9be714a230.html" target="element"> Event Driven / NRT </a> </td>
									           <td> <a href="../objects/id-bbb6b82eee5644ff90ef9d9be714a230.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-931728fd9eec4c7283eed65e7f1efd9d.html" target="element"> Message Broker </a> </td>
													    <td> <a href="../elements/id-931728fd9eec4c7283eed65e7f1efd9d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-aa4c87ba18864fad80fd7776137651fb.html" target="element"> Vocabulary Management </a> </td>
									           <td> <a href="../objects/id-aa4c87ba18864fad80fd7776137651fb.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-87d4d4ae0d664004b5b41c7b2f51e0c3.html" target="element"> Vocabulary Hub </a> </td>
													    <td> <a href="../elements/id-87d4d4ae0d664004b5b41c7b2f51e0c3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-c3808819146147b8aede54e42f41fd18.html" target="element"> Trust </a> </td>
									           <td> <a href="../objects/id-c3808819146147b8aede54e42f41fd18.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-4013895fe2b34118ad7b7454cc82dc28.html" target="element"> Privacy </a> </td>
													    <td> <a href="../elements/id-4013895fe2b34118ad7b7454cc82dc28.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-0a879cac01f04ec09d51c7785ed7df56.html" target="element"> Identity Provider </a> </td>
									           <td> <a href="../objects/id-0a879cac01f04ec09d51c7785ed7df56.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-2742d28250fd410bbd4634cb8af4e854.html" target="element"> Centralized Identity Management </a> </td>
													    <td> <a href="../elements/id-2742d28250fd410bbd4634cb8af4e854.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-028761f5e53a4c79aad3deeb397ee8ab.html" target="element"> Decentralized Identity Management </a> </td>
													    <td> <a href="../elements/id-028761f5e53a4c79aad3deeb397ee8ab.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-afb0ffbe9ebe4dbfbf6d327fe15c7b7f.html" target="element"> Identity Management </a> </td>
													    <td> <a href="../elements/id-afb0ffbe9ebe4dbfbf6d327fe15c7b7f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-9586112bf8c147faa8b5ca158d7d7499.html" target="element"> Monitoring </a> </td>
									           <td> <a href="../objects/id-9586112bf8c147faa8b5ca158d7d7499.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-722db2a99a884a0d8ae89f010abdafdb.html" target="element"> Observability </a> </td>
													    <td> <a href="../elements/id-722db2a99a884a0d8ae89f010abdafdb.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-67afd82905ba4a079b0489c93342bc1a.html" target="element"> Connectors Registry / App Store </a> </td>
									           <td> <a href="../objects/id-67afd82905ba4a079b0489c93342bc1a.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-83b1464ce5e64ef1a5f81e4bac72b029.html" target="element"> Catalogin </a> </td>
									           <td> <a href="../objects/id-83b1464ce5e64ef1a5f81e4bac72b029.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5577c532755f425199cf57de1b2f1da4.html" target="element"> Contract Negotiation </a> </td>
									           <td> <a href="../objects/id-5577c532755f425199cf57de1b2f1da4.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-c66cd4a50ada4357b7bb23da5d4ec019.html" target="element"> Data Contract </a> </td>
													    <td> <a href="../elements/id-c66cd4a50ada4357b7bb23da5d4ec019.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9cc135e9c82149e98a1eb02fdccd2b5a.html" target="element"> Data Policy </a> </td>
													    <td> <a href="../elements/id-9cc135e9c82149e98a1eb02fdccd2b5a.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3dac25a1213f4d7ea0dd74e251db25f2.html" target="element"> Data Governance </a> </td>
													    <td> <a href="../elements/id-3dac25a1213f4d7ea0dd74e251db25f2.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-bbd3abc28eb646deaee4cf949f76e281.html" target="element"> Policy Engine </a> </td>
											           <td> <a href="../objects/id-bbd3abc28eb646deaee4cf949f76e281.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-310e6940b6164f28a6c9637fc2393e01.html" target="element"> Data Policy Engine </a> </td>
															    <td> <a href="../elements/id-310e6940b6164f28a6c9637fc2393e01.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element"> Dataspace Enablers </a> </td>
											    <td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element"> Dataspace </a> </td>
													    <td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
															    <td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html" target="element"> Dataspace Connector Provider </a> </td>
															    <td> <a href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-55eab4850917472abec2dd936c865ec9.html" target="element"> Dataspace Connector Consumer </a> </td>
															    <td> <a href="../elements/id-55eab4850917472abec2dd936c865ec9.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-410148661d774b4799c43d62485b4467.html" target="element"> Data Transfer </a> </td>
											           <td> <a href="../objects/id-410148661d774b4799c43d62485b4467.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-0a0c68e5a94a465aab78b5b693e824fc.html" target="element"> Data </a> </td>
															    <td> <a href="../elements/id-0a0c68e5a94a465aab78b5b693e824fc.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-72c0b3190e1347a5a43aec34064b5c46.html" target="element"> Service Discovery and Registry </a> </td>
											    <td> <a href="../elements/id-72c0b3190e1347a5a43aec34064b5c46.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a86ce3face88461a9680e7c7129b9f90.html" target="element"> Service Registry </a> </td>
											    <td> <a href="../elements/id-a86ce3face88461a9680e7c7129b9f90.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-573fb878be7b4dfbb893041c498901c9.html" target="element"> Data Catalogue Management </a> </td>
											    <td> <a href="../elements/id-573fb878be7b4dfbb893041c498901c9.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ef194b3d3b0845dc984eed483afa69fa.html" target="element"> Dataset Catalogue </a> </td>
											    <td> <a href="../elements/id-ef194b3d3b0845dc984eed483afa69fa.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-93599cf994fa454bb4b82eafd5f9f08d.html" target="element"> Federated Data Catalogue Management </a> </td>
											    <td> <a href="../elements/id-93599cf994fa454bb4b82eafd5f9f08d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-89bbc136609d47fab5530d97fdcb1a0e.html" target="view"> TVA-Data Space Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-89bbc136609d47fab5530d97fdcb1a0e.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-334efcf0eaa24757864e280bbb2073a5.html" target="view"> TVA-API Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-334efcf0eaa24757864e280bbb2073a5.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-2a41dcee6b1c4d4b9b80eb7da60310eb.html" target="view"> TVA-Data Management Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-2a41dcee6b1c4d4b9b80eb7da60310eb.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-254b4080b45148d8aa1642ed364fcead.html" target="view"> TVA-Observability and Monitoring Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-254b4080b45148d8aa1642ed364fcead.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-fec93c4bd9a74e719717ff9e526f1344.html" target="view"> TVA-Identification and Access Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-fec93c4bd9a74e719717ff9e526f1344.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-52b8fa0f76114536a705912c6b9587b5.html" target="view"> TVA-Privacy Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-52b8fa0f76114536a705912c6b9587b5.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-07c19d1ac4564a4d94676f0cb3aae4bd.html" target="view"> TVA-Messaging Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-07c19d1ac4564a4d94676f0cb3aae4bd.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-2a41dcee6b1c4d4b9b80eb7da60310eb.html" target="view"> TVA-Data Management Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-2a41dcee6b1c4d4b9b80eb7da60310eb.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-c8a766141fd4460f8d74ae3ee94a8ce2.html" target="view"> TVA-Knowledge Discovery Enablers [Motivation] </a> </td>
											    <td> <a href="../views/id-c8a766141fd4460f8d74ae3ee94a8ce2.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-2996ac4bd95748a589eb6860f8e25d7e.html" target="element"> Data Analytics and Quality </a> </td>
									           <td> <a href="../objects/id-2996ac4bd95748a589eb6860f8e25d7e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-643828f92a7b4f2d96f197661319d04c.html" target="element"> Data Analytics </a> </td>
													    <td> <a href="../elements/id-643828f92a7b4f2d96f197661319d04c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fdb063997e984c86b0ad42d4ac75c481.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-fdb063997e984c86b0ad42d4ac75c481.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-4a650f6ef57a4630aeb56250d968d509.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4a650f6ef57a4630aeb56250d968d509.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a79120ffdef94ff9965abfedfa42757e.html" target="element"> Data Integration </a> </td>
																				<td> <a href="../elements/id-fdf0dc9ed001449988e7809af27181bd.html" target="element"> Data Integration Plugins Manager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c52e4d62d6a64a83ac7b37e0eca77397.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c52e4d62d6a64a83ac7b37e0eca77397.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a79120ffdef94ff9965abfedfa42757e.html" target="element"> Data Integration </a> </td>
																				<td> <a href="../elements/id-fb17e068d30046e787a340a3ec68c83d.html" target="element"> Data Extraction, Transformation and Loading </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-882d66ec453342598e92275121885006.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-882d66ec453342598e92275121885006.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2742d28250fd410bbd4634cb8af4e854.html" target="element"> Centralized Identity Management </a> </td>
																				<td> <a href="../elements/id-afb0ffbe9ebe4dbfbf6d327fe15c7b7f.html" target="element"> Identity Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5a853c299a284193823b8367f9e1ea5f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a853c299a284193823b8367f9e1ea5f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-028761f5e53a4c79aad3deeb397ee8ab.html" target="element"> Decentralized Identity Management </a> </td>
																				<td> <a href="../elements/id-afb0ffbe9ebe4dbfbf6d327fe15c7b7f.html" target="element"> Identity Management </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-ebb251cf4a2e41edaf5887af5e90fb37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ebb251cf4a2e41edaf5887af5e90fb37.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c66cd4a50ada4357b7bb23da5d4ec019.html" target="element"> Data Contract </a> </td>
																				<td> <a href="../elements/id-9cc135e9c82149e98a1eb02fdccd2b5a.html" target="element"> Data Policy </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d859f7fc97dc4b4aacfe9bc3429d32ea.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d859f7fc97dc4b4aacfe9bc3429d32ea.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3dac25a1213f4d7ea0dd74e251db25f2.html" target="element"> Data Governance </a> </td>
																				<td> <a href="../elements/id-310e6940b6164f28a6c9637fc2393e01.html" target="element"> Data Policy Engine </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8bf9e98455ae4bb88d746211ea4b3228.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8bf9e98455ae4bb88d746211ea4b3228.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3dac25a1213f4d7ea0dd74e251db25f2.html" target="element"> Data Governance </a> </td>
																				<td> <a href="../elements/id-c66cd4a50ada4357b7bb23da5d4ec019.html" target="element"> Data Contract </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/id-30f10c5fd8a64fc88453711242616cc5.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-30f10c5fd8a64fc88453711242616cc5.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-310e6940b6164f28a6c9637fc2393e01.html" target="element"> Data Policy Engine </a> </td>
																						<td> <a href="../elements/id-9cc135e9c82149e98a1eb02fdccd2b5a.html" target="element"> Data Policy </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-00717554a63e4a6e8ce4a9c4906ba0f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00717554a63e4a6e8ce4a9c4906ba0f4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element"> Dataspace </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-445331f8a87b435bbeaf84a579da4312.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-445331f8a87b435bbeaf84a579da4312.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8e57d54de5a845b2b808e88185ee472a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8e57d54de5a845b2b808e88185ee472a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html" target="element"> Dataspace Connector Provider </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f1c4a8a959724c4696979b2e28019bb0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f1c4a8a959724c4696979b2e28019bb0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-55eab4850917472abec2dd936c865ec9.html" target="element"> Dataspace Connector Consumer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-42b7718ca63743fc98ea5009c001ecae.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-42b7718ca63743fc98ea5009c001ecae.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-72c0b3190e1347a5a43aec34064b5c46.html" target="element"> Service Discovery and Registry </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3b3f56ddf924495ba65355f7c5114867.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3b3f56ddf924495ba65355f7c5114867.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-93599cf994fa454bb4b82eafd5f9f08d.html" target="element"> Federated Data Catalogue Management </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-3995014cb8d94eac9d008615fc25323f.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-3995014cb8d94eac9d008615fc25323f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-573fb878be7b4dfbb893041c498901c9.html" target="element"> Data Catalogue Management </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-d77e6189203a460b90b6d609a35896e7.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-d77e6189203a460b90b6d609a35896e7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-643828f92a7b4f2d96f197661319d04c.html" target="element"> Data Analytics </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-0bdc4c557aa341d2b6b273c15a8283d6.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-0bdc4c557aa341d2b6b273c15a8283d6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-fdb063997e984c86b0ad42d4ac75c481.html" target="element"> Data Quality </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-a0bf8c9b5ad047dfa25ed48d61dae903.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-a0bf8c9b5ad047dfa25ed48d61dae903.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-3dac25a1213f4d7ea0dd74e251db25f2.html" target="element"> Data Governance </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-10a8b5dc49d94e0e828b6a8584e7cf97.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-10a8b5dc49d94e0e828b6a8584e7cf97.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-a79120ffdef94ff9965abfedfa42757e.html" target="element"> Data Integration </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-f785c5f1fc1b433998dda010b82f7dfb.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f785c5f1fc1b433998dda010b82f7dfb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-931728fd9eec4c7283eed65e7f1efd9d.html" target="element"> Message Broker </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-679e7a69a86e4fd8bd58b05326386b01.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-679e7a69a86e4fd8bd58b05326386b01.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-87d4d4ae0d664004b5b41c7b2f51e0c3.html" target="element"> Vocabulary Hub </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-1f78a7eba6a54c4b9e871273c489070d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-1f78a7eba6a54c4b9e871273c489070d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-4013895fe2b34118ad7b7454cc82dc28.html" target="element"> Privacy </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-4554a69afe0b4801b26a208d8dd5fa9a.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-4554a69afe0b4801b26a208d8dd5fa9a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-afb0ffbe9ebe4dbfbf6d327fe15c7b7f.html" target="element"> Identity Management </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-8f4274b21d4c48bea3d787e34244e11d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-8f4274b21d4c48bea3d787e34244e11d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																						<td> <a href="../elements/id-722db2a99a884a0d8ae89f010abdafdb.html" target="element"> Observability </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-75f17faca3cc484ba63d2cf9dac47211.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-75f17faca3cc484ba63d2cf9dac47211.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html" target="element"> Dataspace Connector Provider </a> </td>
																						<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-5cdd6ee6d92544be9694e6f5970519de.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5cdd6ee6d92544be9694e6f5970519de.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html" target="element"> Dataspace Connector Provider </a> </td>
																						<td> <a href="../elements/id-0a0c68e5a94a465aab78b5b693e824fc.html" target="element"> Data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-89c3049727c74a26ba3204123b7f46e8.html" target="element"> data transmission </a> </td>
																						<td> <a href="../elements/id-89c3049727c74a26ba3204123b7f46e8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html" target="element"> Dataspace Connector Provider </a> </td>
																						<td> <a href="../elements/id-55eab4850917472abec2dd936c865ec9.html" target="element"> Dataspace Connector Consumer </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-4afa19ac5f33433b87b58f165200b8a7.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-4afa19ac5f33433b87b58f165200b8a7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-55eab4850917472abec2dd936c865ec9.html" target="element"> Dataspace Connector Consumer </a> </td>
																						<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-5c9487f4083a4af58f7da8b5e94d6577.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5c9487f4083a4af58f7da8b5e94d6577.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-55eab4850917472abec2dd936c865ec9.html" target="element"> Dataspace Connector Consumer </a> </td>
																						<td> <a href="../elements/id-0a0c68e5a94a465aab78b5b693e824fc.html" target="element"> Data </a> </td>
																					</tr>

													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
											
																	<tr>
																		<td> <a href="../elements/id-b46e872c567546aa99e93d265d97a8a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b46e872c567546aa99e93d265d97a8a6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-72c0b3190e1347a5a43aec34064b5c46.html" target="element"> Service Discovery and Registry </a> </td>
																		<td> <a href="../elements/id-a86ce3face88461a9680e7c7129b9f90.html" target="element"> Service Registry </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4ecc584a9bb74253a8abc7919d9b2154.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ecc584a9bb74253a8abc7919d9b2154.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-573fb878be7b4dfbb893041c498901c9.html" target="element"> Data Catalogue Management </a> </td>
																		<td> <a href="../elements/id-ef194b3d3b0845dc984eed483afa69fa.html" target="element"> Dataset Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b33509902c1d46b39d63720e8aa0de2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b33509902c1d46b39d63720e8aa0de2e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-93599cf994fa454bb4b82eafd5f9f08d.html" target="element"> Federated Data Catalogue Management </a> </td>
																		<td> <a href="../elements/id-573fb878be7b4dfbb893041c498901c9.html" target="element"> Data Catalogue Management </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>