<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Analytics Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Analytics Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6e5eef00a4f844c4b49a6a7186a3819f.png" alt="TVA-Analytics Enablers [Motivation]" usemap="#id-6e5eef00a4f844c4b49a6a7186a3819fmap"/>
			   <map name="id-6e5eef00a4f844c4b49a6a7186a3819fmap">
				  				<area shape="rect" coords="733,262,925,359" href="../elements/id-f476256ded864773891f6b36dc857b6f.html"  target="element">
				  				<area shape="rect" coords="733,154,925,251" href="../elements/id-616be6380adc401a8a712f1d255c5838.html"  target="element">
				  				<area shape="rect" coords="445,46,637,143" href="../elements/id-643828f92a7b4f2d96f197661319d04c.html"  target="element">
				  				<area shape="rect" coords="733,46,925,143" href="../elements/id-9a37ca36fcbd4ace91f2aa7574bd0623.html"  target="element">

				  		<area shape="rect" coords="409,10,962,373" href="../elements/id-664d0fe13e114a3482b85630b87632f0.html"  target="element">
				  				<area shape="rect" coords="58,48,250,145" href="../elements/id-865d367d94df43a6b18d6e6cdb0dd0e4.html"  target="element">

				          <area shape="rect" coords="10,12,299,167" href="../objects/id-000b5ecc52b04318be410a379c9ea4cd.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Analytics Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging the Business Agnostic Digital Public Services Catalogue and the Analytics Enablers. 

The Business Agnostic Digital Public Services Catalogue is a Diagram Model-group ABB that encompasses the Data Analytics Business Service ABB. This service provides digital public services related to data analytics. 

The Analytics Enablers is a Grouping ABB that refers to components and services that serve any current or future Digital Service Infrastructure (DSI) requiring data analysis capabilities. This grouping includes several Application Service ABBs: Big Data Analytics, Data Analytics, Business Intelligence, and Smart Queue Management.

The Big Data Analytics Application Service refers to a software application or platform that leverages advanced analytics techniques to process and analyze large and complex datasets, commonly known as big data. It enables organizations to derive valuable insights, identify patterns, trends, and correlations, and make data-driven decisions. The service typically includes data ingestion, storage, processing, and visualization capabilities, as well as advanced analytics techniques such as machine learning, natural language processing, and predictive modeling.

The Data Analytics ABB is an Application Service that enables the use of procedures to analyze data and extract insights that can be used to improve business decision-making, optimize business processes, and drive innovation.

The Business Intelligence Application Service ABB is another component of the Analytics Enablers, providing business intelligence capabilities.

Lastly, the Smart Queue Management Application Service ABB is part of the Analytics Enablers, providing smart queue management capabilities.

The motivation behind this view is to provide a comprehensive framework that leverages the capabilities of the Business Agnostic Digital Public Services Catalogue and the Analytics Enablers to enhance data analysis capabilities and support data-driven decision-making in the organization.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-000b5ecc52b04318be410a379c9ea4cd.html" target="element"> Business Agnostic Digital Public Services Catalogue </a> </td>
									           <td> <a href="../objects/id-000b5ecc52b04318be410a379c9ea4cd.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-865d367d94df43a6b18d6e6cdb0dd0e4.html" target="element"> Data Analytics </a> </td>
													    <td> <a href="../elements/id-865d367d94df43a6b18d6e6cdb0dd0e4.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-664d0fe13e114a3482b85630b87632f0.html" target="element"> Analytics Enablers </a> </td>
											    <td> <a href="../elements/id-664d0fe13e114a3482b85630b87632f0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9a37ca36fcbd4ace91f2aa7574bd0623.html" target="element"> Big Data Analytics </a> </td>
													    <td> <a href="../elements/id-9a37ca36fcbd4ace91f2aa7574bd0623.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-643828f92a7b4f2d96f197661319d04c.html" target="element"> Data Analytics </a> </td>
													    <td> <a href="../elements/id-643828f92a7b4f2d96f197661319d04c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-616be6380adc401a8a712f1d255c5838.html" target="element"> Business Intelligence </a> </td>
													    <td> <a href="../elements/id-616be6380adc401a8a712f1d255c5838.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f476256ded864773891f6b36dc857b6f.html" target="element"> Smart queue management </a> </td>
													    <td> <a href="../elements/id-f476256ded864773891f6b36dc857b6f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-89160396fcf8447b8d1b7c8238d6aef4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89160396fcf8447b8d1b7c8238d6aef4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-664d0fe13e114a3482b85630b87632f0.html" target="element"> Analytics Enablers </a> </td>
																		<td> <a href="../elements/id-f476256ded864773891f6b36dc857b6f.html" target="element"> Smart queue management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-72f39b7068764671a6f26d6033a3f953.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72f39b7068764671a6f26d6033a3f953.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-664d0fe13e114a3482b85630b87632f0.html" target="element"> Analytics Enablers </a> </td>
																		<td> <a href="../elements/id-9a37ca36fcbd4ace91f2aa7574bd0623.html" target="element"> Big Data Analytics </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8a422463c15747749d7bd0264621ab9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a422463c15747749d7bd0264621ab9d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-664d0fe13e114a3482b85630b87632f0.html" target="element"> Analytics Enablers </a> </td>
																		<td> <a href="../elements/id-616be6380adc401a8a712f1d255c5838.html" target="element"> Business Intelligence </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0033e3ee90984e41ba1e0f0f6961c1be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0033e3ee90984e41ba1e0f0f6961c1be.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9a37ca36fcbd4ace91f2aa7574bd0623.html" target="element"> Big Data Analytics </a> </td>
																				<td> <a href="../elements/id-643828f92a7b4f2d96f197661319d04c.html" target="element"> Data Analytics </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-523b906df1af46b98ba18a6c80082c2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-523b906df1af46b98ba18a6c80082c2d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-643828f92a7b4f2d96f197661319d04c.html" target="element"> Data Analytics </a> </td>
																				<td> <a href="../elements/id-865d367d94df43a6b18d6e6cdb0dd0e4.html" target="element"> Data Analytics </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-209135b644fd4b459bf3ab287ab75a2f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-209135b644fd4b459bf3ab287ab75a2f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-616be6380adc401a8a712f1d255c5838.html" target="element"> Business Intelligence </a> </td>
																				<td> <a href="../elements/id-643828f92a7b4f2d96f197661319d04c.html" target="element"> Data Analytics </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-deaca9489b7b4ed68785541d952c0622.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-deaca9489b7b4ed68785541d952c0622.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f476256ded864773891f6b36dc857b6f.html" target="element"> Smart queue management </a> </td>
																				<td> <a href="../elements/id-643828f92a7b4f2d96f197661319d04c.html" target="element"> Data Analytics </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>