<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Data Mapping</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Data Mapping</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-66a7431fa8b54813ba0ec79eb9fc079b.png" alt="SV-Data Mapping" usemap="#id-66a7431fa8b54813ba0ec79eb9fc079bmap"/>
			   <map name="id-66a7431fa8b54813ba0ec79eb9fc079bmap">
				  				<area shape="rect" coords="82,182,238,254" href="../elements/id-2f62a053e7c641a1a676d735e8453129.html"  target="element">

				  		<area shape="rect" coords="10,146,310,286" href="../elements/id-5da2adbef1364df5b3d6ebfa6d21c713.html"  target="element">
				  				<area shape="rect" coords="550,166,719,239" href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html"  target="element">
				  				<area shape="rect" coords="550,70,719,143" href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html"  target="element">

				          <area shape="rect" coords="526,10,742,383" href="../objects/id-0fee7fc8add541f4be3204dc26ef6f94.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Narrative: 
The "Semantic view - Data Mapping" viewpoint extends semantic view and provides a comprehensive framework for managing and aligning data mappings within the digital ecosystem. This view associates the Data Mapping with the Business Information Base and Digital Public Services from the application layer.
Within this view, Data Mapping involves the translation and transformation of data representations between different formats, structures, and systems. It enables seamless data integration, interoperability, and efficient data exchange across various applications and services.

The Business Information Base, as part of the application layer, serves as a repository of business-related information that relies on data mappings. It stores and manages data using mappings that ensure data consistency and compatibility, facilitating data sharing and decision-making processes.
Digital Public Services leverage Data Mapping to ensure accurate and meaningful data exchange and integration. These services align their data models, operations, and interactions with the defined data mappings, enabling seamless integration, data consistency, and interoperability among different digital public services.

By associating the Data Mapping with the Business Information Base and Digital Public Services, the "Semantic view - Data Mapping" promotes standardized data mappings, facilitating efficient data integration and interoperability within the digital ecosystem. This view supports effective data exchange, consistent data representation, and advanced functionalities for digital public services.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-0fee7fc8add541f4be3204dc26ef6f94.html" target="element"> Business Agnostic Business Information Base </a> </td>
									           <td> <a href="../objects/id-0fee7fc8add541f4be3204dc26ef6f94.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element"> Document </a> </td>
													    <td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5da2adbef1364df5b3d6ebfa6d21c713.html" target="element"> Business Agnostic Data Mapping Solutions </a> </td>
											    <td> <a href="../elements/id-5da2adbef1364df5b3d6ebfa6d21c713.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2f62a053e7c641a1a676d735e8453129.html" target="element"> RDF Mapping Language (RML) </a> </td>
													    <td> <a href="../elements/id-2f62a053e7c641a1a676d735e8453129.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-0372d6007f094c4f987353387ffce837.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0372d6007f094c4f987353387ffce837.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5da2adbef1364df5b3d6ebfa6d21c713.html" target="element"> Business Agnostic Data Mapping Solutions </a> </td>
																		<td> <a href="../elements/id-2f62a053e7c641a1a676d735e8453129.html" target="element"> RDF Mapping Language (RML) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-cee75766b6d14253a47cd970a57f4a21.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cee75766b6d14253a47cd970a57f4a21.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f62a053e7c641a1a676d735e8453129.html" target="element"> RDF Mapping Language (RML) </a> </td>
																				<td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element"> Document </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1071874a76744dab902b99ec26439c2f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1071874a76744dab902b99ec26439c2f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f62a053e7c641a1a676d735e8453129.html" target="element"> RDF Mapping Language (RML) </a> </td>
																				<td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>