<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>LV-Binding Power and Jurisdiction</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>LV-Binding Power and Jurisdiction</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-76cd977209c54276b4d72f564365dd7f.png" alt="LV-Binding Power and Jurisdiction" usemap="#id-76cd977209c54276b4d72f564365dd7fmap"/>
			   <map name="id-76cd977209c54276b4d72f564365dd7fmap">
				  				<area shape="rect" coords="2656,82,2825,167" href="../elements/id-8a99735847984ae7a643087dae29c6df.html"  target="element">
				  						<area shape="rect" coords="2896,289,3185,1130" href="../elements/id-07b05ce1416343e7b870c134f20a7bd5.html"  target="element">
				  						<area shape="rect" coords="2584,289,2873,1130" href="../elements/id-635020f406aa4df4b59e31fa12f3ffb2.html"  target="element">
				  								<area shape="rect" coords="2327,517,2527,602" href="../elements/id-f6b1705ae62345f19a95572b9c8347e7.html"  target="element">
				  								<area shape="rect" coords="2327,421,2527,506" href="../elements/id-da88cd41c3a148b885c733dc09fca661.html"  target="element">
				  								<area shape="rect" coords="2327,325,2527,410" href="../elements/id-dbc07cb62b064a849bd72de5c86c7756.html"  target="element">
				  								<area shape="rect" coords="2327,613,2527,698" href="../elements/id-7424a2fc9fe74ab5904a47e4f6be272c.html"  target="element">

				  						<area shape="rect" coords="2279,289,2568,1130" href="../elements/id-eddcca3306114cc8babeeff482bd5446.html"  target="element">

				  				<area shape="rect" coords="2260,253,3209,1160" href="../elements/id-7fb46465880c4c699c0ab620de5299f7.html"  target="element">
				  						<area shape="rect" coords="1612,289,1901,1130" href="../elements/id-94ee159c467b476085e99857b1fe3c81.html"  target="element">
				  								<area shape="rect" coords="1360,805,1560,890" href="../elements/id-f4dda2766a34449e853654a5091df79b.html"  target="element">
				  								<area shape="rect" coords="1360,709,1560,794" href="../elements/id-c100f0bdfcc14f158c599cee89243be2.html"  target="element">
				  								<area shape="rect" coords="1360,613,1560,698" href="../elements/id-637a1b7e35174a19937ce9e3ad4f2d4c.html"  target="element">
				  								<area shape="rect" coords="1360,517,1560,602" href="../elements/id-7d5a011b3a5d48afbf53dd875db40f54.html"  target="element">
				  								<area shape="rect" coords="1360,421,1560,506" href="../elements/id-1d7197910ea64475bc6654a3e052a4d0.html"  target="element">
				  								<area shape="rect" coords="1360,325,1560,410" href="../elements/id-8e8eb3a0292f4bbdbf738eb487d5280c.html"  target="element">

				  						<area shape="rect" coords="1312,289,1601,1130" href="../elements/id-c6a1d5eea92e4516b56af7f22387f64c.html"  target="element">
				  								<area shape="rect" coords="1960,421,2160,506" href="../elements/id-16a6fa66096f44e4a20817eea1a20986.html"  target="element">
				  								<area shape="rect" coords="1960,325,2160,410" href="../elements/id-3cd60e22267e47af9fb267757e47af7a.html"  target="element">

				  						<area shape="rect" coords="1912,289,2201,1130" href="../elements/id-e49f1654beff442d91adfe75c61ebcde.html"  target="element">

				  				<area shape="rect" coords="1300,253,2225,1160" href="../elements/id-5943f93a6c1947fea44cdfc92b8bd5e6.html"  target="element">
				  								<area shape="rect" coords="108,421,308,506" href="../elements/id-2595c376a32a485098b69077a6105ba2.html"  target="element">
				  								<area shape="rect" coords="108,325,308,410" href="../elements/id-2b3c1a53a37b42e58897240fe28ab2ab.html"  target="element">

				  						<area shape="rect" coords="84,289,336,1130" href="../elements/id-85ab5c90a5454be98d3910b246566977.html"  target="element">
				  								<area shape="rect" coords="576,997,776,1082" href="../elements/id-b206544e7382445899a46cbc1ee76c63.html"  target="element">
				  								<area shape="rect" coords="360,445,560,530" href="../elements/id-6ac42b4c6c534ddf97eb7dda21e1377b.html"  target="element">
				  								<area shape="rect" coords="360,925,560,1010" href="../elements/id-d288d9a9758f48b192e6f8a4ce0e46db.html"  target="element">
				  								<area shape="rect" coords="576,805,776,890" href="../elements/id-2fe161a2b165466abb598a33c2e102b1.html"  target="element">
				  								<area shape="rect" coords="360,829,560,914" href="../elements/id-0ab374e224194459a80ae38cee35c083.html"  target="element">
				  								<area shape="rect" coords="576,613,776,698" href="../elements/id-5ef26d7a372b4036a5685cbd74cc2ae7.html"  target="element">
				  								<area shape="rect" coords="576,517,776,602" href="../elements/id-bbf50773f460450f8b0027299b2a1ea8.html"  target="element">
				  								<area shape="rect" coords="576,901,776,986" href="../elements/id-e4269c27d0f549a1b7e39ccfb5830ae1.html"  target="element">
				  								<area shape="rect" coords="576,421,776,506" href="../elements/id-bf830806bb5249de8a36237852e6aff2.html"  target="element">
				  								<area shape="rect" coords="576,709,776,794" href="../elements/id-34fb8b0916234d0d9c3334e6b1d47333.html"  target="element">
				  								<area shape="rect" coords="360,733,560,818" href="../elements/id-f2701bd2162849449d6d064de841cdbd.html"  target="element">
				  								<area shape="rect" coords="576,325,776,410" href="../elements/id-915151f49cce4d179818d5d95f025cd2.html"  target="element">
				  								<area shape="rect" coords="360,541,560,626" href="../elements/id-04d2e151f5504e5b9111c9f233f988d8.html"  target="element">
				  								<area shape="rect" coords="360,637,560,722" href="../elements/id-c0c5902a22d04810b293377fc7d2094b.html"  target="element">
				  								<area shape="rect" coords="360,1021,560,1106" href="../elements/id-c655ea252d764180a87a205e4ed98809.html"  target="element">
				  								<area shape="rect" coords="360,325,560,410" href="../elements/id-cd883286957a44ea985fee0727e2f966.html"  target="element">

				  						<area shape="rect" coords="348,289,792,1130" href="../elements/id-aba98bc7232e4c3380fd22a87d8451a3.html"  target="element">
				  								<area shape="rect" coords="815,997,1015,1082" href="../elements/id-6ea145ec22ac438b9bbd6ac20c397eec.html"  target="element">
				  								<area shape="rect" coords="815,709,1015,794" href="../elements/id-77ce19ac309d45188ea673039997b6d5.html"  target="element">
				  								<area shape="rect" coords="815,613,1015,698" href="../elements/id-0c19aa6a56974beda41b169365736b4e.html"  target="element">
				  								<area shape="rect" coords="1031,325,1231,410" href="../elements/id-aa0c1461d2b24df2abad49c68d2c6bef.html"  target="element">
				  								<area shape="rect" coords="815,805,1015,890" href="../elements/id-e73d65927833494c882c3724705f8baa.html"  target="element">
				  								<area shape="rect" coords="815,517,1015,602" href="../elements/id-f67c9ab50f4046a29401991a2c1e3631.html"  target="element">
				  								<area shape="rect" coords="815,901,1015,986" href="../elements/id-4d4aa5e6a9b8413d8bc4bcbb6ad32b3d.html"  target="element">
				  								<area shape="rect" coords="815,421,1015,506" href="../elements/id-5662ed2c74954fe5b99a75669294b475.html"  target="element">
				  								<area shape="rect" coords="815,325,1015,410" href="../elements/id-47c5a46fecb442cf9859951abd149566.html"  target="element">

				  						<area shape="rect" coords="803,289,1248,1130" href="../elements/id-5e00ad9ca1274ad3904daeadf39a0a06.html"  target="element">

				  				<area shape="rect" coords="72,253,1263,1160" href="../elements/id-330a707f03f2458faae897e43da6a2b3.html"  target="element">
				  				<area shape="rect" coords="1618,82,1787,167" href="../elements/id-756d6f268f1b416bb2b5ccf60fd1cab9.html"  target="element">
				  						<area shape="rect" coords="3880,289,4169,1130" href="../elements/id-804ab3a8f837427fae7b48e4b034f801.html"  target="element">
				  						<area shape="rect" coords="3568,289,3857,1130" href="../elements/id-28e31d31e53b42e39950d258075a5383.html"  target="element">
				  						<area shape="rect" coords="3263,289,3552,1130" href="../elements/id-8ea96a1157af45578cc256ff66aa4952.html"  target="element">

				  				<area shape="rect" coords="3244,253,4193,1160" href="../elements/id-27a5e38f71c849c5852102bb91a5deec.html"  target="element">

				  		<area shape="rect" coords="10,10,4258,1199" href="../elements/id-53434c3ed9f147208540ac628b07c386.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">The &#8216;Legal view &#8211; Binding Power and Jurisdiction&#8217; view presents and describes the legal paradigm and landscape for the development of digital public services. It is done through binding and non-binding instruments at the European and National levels. These instruments, in the form of legal texts, establish the foundation for harmonization, collaboration, and cooperation across various domains within the European Union (EU) member states.

At the highest level, there are European Legal acts, which encompass overarching legislation applicable across all member states. These acts provide a framework for ensuring interoperability and cohesion within the European Union's legal landscape. They serve as the cornerstone of harmonization efforts and facilitate the exchange of information and services across borders. Beneath the European Legal Acts lie National Legal Acts, which are specific to individual member states. These acts reflect the adaptation of European legislation to the national context, addressing unique requirements and considerations. While National Legal acts maintain alignment with European Legal acts, they offer the necessary flexibility to accommodate country-specific needs and nuances.

Legislation on Structural Interoperability establishes the technical standards and protocols necessary for seamless data exchange and integration between systems and applications across member states. Legislation on Behavioural Interoperability focuses on promoting consistent behaviour and responsible conduct among individuals and organizations involved in cross-border operations. It establishes common norms and guidelines to foster trust, transparency, and accountability. Legislation on Governance Interoperability defines the governance structures, processes, and decision-making frameworks that facilitate effective coordination and collaboration among member states and stakeholders, ensuring the successful implementation of interoperability objectives.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-53434c3ed9f147208540ac628b07c386.html" target="element"> Legal Functional content </a> </td>
											    <td> <a href="../elements/id-53434c3ed9f147208540ac628b07c386.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-27a5e38f71c849c5852102bb91a5deec.html" target="element"> National Non-Binding Instruments </a> </td>
													    <td> <a href="../elements/id-27a5e38f71c849c5852102bb91a5deec.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-8ea96a1157af45578cc256ff66aa4952.html" target="element"> Legislation on Structural Interoperability (NNBI) </a> </td>
															    <td> <a href="../elements/id-8ea96a1157af45578cc256ff66aa4952.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28e31d31e53b42e39950d258075a5383.html" target="element"> Legislation on Behavioural Interoperability (NNBI) </a> </td>
															    <td> <a href="../elements/id-28e31d31e53b42e39950d258075a5383.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-804ab3a8f837427fae7b48e4b034f801.html" target="element"> Legislation on Governance Interoperability (NNBI) </a> </td>
															    <td> <a href="../elements/id-804ab3a8f837427fae7b48e4b034f801.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-756d6f268f1b416bb2b5ccf60fd1cab9.html" target="element"> European Legal Act </a> </td>
													    <td> <a href="../elements/id-756d6f268f1b416bb2b5ccf60fd1cab9.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-330a707f03f2458faae897e43da6a2b3.html" target="element"> European Binding Instruments </a> </td>
													    <td> <a href="../elements/id-330a707f03f2458faae897e43da6a2b3.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-5e00ad9ca1274ad3904daeadf39a0a06.html" target="element"> Legislation on Governance Interoperability (EBI) </a> </td>
															    <td> <a href="../elements/id-5e00ad9ca1274ad3904daeadf39a0a06.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-47c5a46fecb442cf9859951abd149566.html" target="element"> Directive (EU) 2018/1972 of the European Parliament and of the Council of 11 December 2018 </a> </td>
																	    <td> <a href="../elements/id-47c5a46fecb442cf9859951abd149566.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-5662ed2c74954fe5b99a75669294b475.html" target="element"> Directive (EU) 2019/770 of the European Parliament and of the Council of 20 May 2019 </a> </td>
																	    <td> <a href="../elements/id-5662ed2c74954fe5b99a75669294b475.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-4d4aa5e6a9b8413d8bc4bcbb6ad32b3d.html" target="element"> Directive 2014/24/EU of the European Parliament and of the Council of 26 February 2014 </a> </td>
																	    <td> <a href="../elements/id-4d4aa5e6a9b8413d8bc4bcbb6ad32b3d.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-f67c9ab50f4046a29401991a2c1e3631.html" target="element"> Directive (EU) 2016/97 of the European Parliament and of the Council of 20 January 2016 </a> </td>
																	    <td> <a href="../elements/id-f67c9ab50f4046a29401991a2c1e3631.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-e73d65927833494c882c3724705f8baa.html" target="element"> Directive (EU) 2015/2366 of the European Parliament and of the Council of 25 November 2015 </a> </td>
																	    <td> <a href="../elements/id-e73d65927833494c882c3724705f8baa.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-aa0c1461d2b24df2abad49c68d2c6bef.html" target="element"> Regulation (EU) 2018/644 of the European Parliament and of the Council of 18 April 2018 </a> </td>
																	    <td> <a href="../elements/id-aa0c1461d2b24df2abad49c68d2c6bef.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-0c19aa6a56974beda41b169365736b4e.html" target="element"> Regulation (EU) 2021/1230 of the European Parliament and of the Council of 14 July 2021 </a> </td>
																	    <td> <a href="../elements/id-0c19aa6a56974beda41b169365736b4e.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-77ce19ac309d45188ea673039997b6d5.html" target="element"> Regulation (EU) 2018/302 of the European Parliament and of the Council of 28 February 2018 </a> </td>
																	    <td> <a href="../elements/id-77ce19ac309d45188ea673039997b6d5.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-6ea145ec22ac438b9bbd6ac20c397eec.html" target="element"> Directive 2000/31/EC of the European Parliament and of the Council of 8 June 2000 </a> </td>
																	    <td> <a href="../elements/id-6ea145ec22ac438b9bbd6ac20c397eec.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-aba98bc7232e4c3380fd22a87d8451a3.html" target="element"> Legislation on Behavioural Interoperability (EBI) </a> </td>
															    <td> <a href="../elements/id-aba98bc7232e4c3380fd22a87d8451a3.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-cd883286957a44ea985fee0727e2f966.html" target="element"> Open Data Directive </a> </td>
																	    <td> <a href="../elements/id-cd883286957a44ea985fee0727e2f966.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-c655ea252d764180a87a205e4ed98809.html" target="element"> Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 </a> </td>
																	    <td> <a href="../elements/id-c655ea252d764180a87a205e4ed98809.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-c0c5902a22d04810b293377fc7d2094b.html" target="element"> Regulation (EU) 2018/1807 of the European Parliament and of the Council of 14 November 2018 </a> </td>
																	    <td> <a href="../elements/id-c0c5902a22d04810b293377fc7d2094b.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-04d2e151f5504e5b9111c9f233f988d8.html" target="element"> Regulation (EU) 2018/1724 of the European Parliament and of the Council of 2 October 2018 </a> </td>
																	    <td> <a href="../elements/id-04d2e151f5504e5b9111c9f233f988d8.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-915151f49cce4d179818d5d95f025cd2.html" target="element"> Directive (EU) 2016/2102 of the European Parliament and of the Council of 26 October 2016 </a> </td>
																	    <td> <a href="../elements/id-915151f49cce4d179818d5d95f025cd2.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-f2701bd2162849449d6d064de841cdbd.html" target="element"> Directive 2014/55/EU of the European Parliament and of the Council of 16 April 2014 </a> </td>
																	    <td> <a href="../elements/id-f2701bd2162849449d6d064de841cdbd.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-34fb8b0916234d0d9c3334e6b1d47333.html" target="element"> Cyber Solidarity Act Proposal </a> </td>
																	    <td> <a href="../elements/id-34fb8b0916234d0d9c3334e6b1d47333.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-bf830806bb5249de8a36237852e6aff2.html" target="element"> Directive (EU) 2022/2555 of the European Parliament and of the Council of 14 December 2022 </a> </td>
																	    <td> <a href="../elements/id-bf830806bb5249de8a36237852e6aff2.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-e4269c27d0f549a1b7e39ccfb5830ae1.html" target="element"> Data Act Proposal </a> </td>
																	    <td> <a href="../elements/id-e4269c27d0f549a1b7e39ccfb5830ae1.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-bbf50773f460450f8b0027299b2a1ea8.html" target="element"> Interoperable Europe Act Proposal </a> </td>
																	    <td> <a href="../elements/id-bbf50773f460450f8b0027299b2a1ea8.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-5ef26d7a372b4036a5685cbd74cc2ae7.html" target="element"> Artificial Intelligence Act Proposal </a> </td>
																	    <td> <a href="../elements/id-5ef26d7a372b4036a5685cbd74cc2ae7.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-0ab374e224194459a80ae38cee35c083.html" target="element"> Regulation (EU) 2022/2065 of the European Parliament and of the Council of 19 October 2022 </a> </td>
																	    <td> <a href="../elements/id-0ab374e224194459a80ae38cee35c083.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-2fe161a2b165466abb598a33c2e102b1.html" target="element"> Cyber Resilience Act Proposal </a> </td>
																	    <td> <a href="../elements/id-2fe161a2b165466abb598a33c2e102b1.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-d288d9a9758f48b192e6f8a4ce0e46db.html" target="element"> Data Governance Act </a> </td>
																	    <td> <a href="../elements/id-d288d9a9758f48b192e6f8a4ce0e46db.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-6ac42b4c6c534ddf97eb7dda21e1377b.html" target="element"> Implementing Act on High-Value Datasets </a> </td>
																	    <td> <a href="../elements/id-6ac42b4c6c534ddf97eb7dda21e1377b.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-b206544e7382445899a46cbc1ee76c63.html" target="element"> Digital Markets Act </a> </td>
																	    <td> <a href="../elements/id-b206544e7382445899a46cbc1ee76c63.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-85ab5c90a5454be98d3910b246566977.html" target="element"> Legislation on Structural Interoperability (EBI) </a> </td>
															    <td> <a href="../elements/id-85ab5c90a5454be98d3910b246566977.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-2b3c1a53a37b42e58897240fe28ab2ab.html" target="element"> Regulation (EU) No 910/2014 of the European Parliament and of the Council of 23 July 2014 </a> </td>
																	    <td> <a href="../elements/id-2b3c1a53a37b42e58897240fe28ab2ab.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-2595c376a32a485098b69077a6105ba2.html" target="element"> Commission Delegated Regulation (EU) 2018/389 of 27 November 2017 </a> </td>
																	    <td> <a href="../elements/id-2595c376a32a485098b69077a6105ba2.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-5943f93a6c1947fea44cdfc92b8bd5e6.html" target="element"> European Non-Binding Instruments </a> </td>
													    <td> <a href="../elements/id-5943f93a6c1947fea44cdfc92b8bd5e6.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-e49f1654beff442d91adfe75c61ebcde.html" target="element"> Legislation on Governance Interoperability (ENBI) </a> </td>
															    <td> <a href="../elements/id-e49f1654beff442d91adfe75c61ebcde.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-3cd60e22267e47af9fb267757e47af7a.html" target="element"> Commission Recommendation 87/598/EEC of 8 December 1987 </a> </td>
																	    <td> <a href="../elements/id-3cd60e22267e47af9fb267757e47af7a.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-16a6fa66096f44e4a20817eea1a20986.html" target="element"> Regulation (EU) 2021/694 of the European Parliament and of the Council of 29 April 2021 </a> </td>
																	    <td> <a href="../elements/id-16a6fa66096f44e4a20817eea1a20986.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-c6a1d5eea92e4516b56af7f22387f64c.html" target="element"> Legislation on Structural Interoperability (ENBI) </a> </td>
															    <td> <a href="../elements/id-c6a1d5eea92e4516b56af7f22387f64c.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-8e8eb3a0292f4bbdbf738eb487d5280c.html" target="element"> European Interoperability Framework - Implementation Strategy COM/2017/0134 final </a> </td>
																	    <td> <a href="../elements/id-8e8eb3a0292f4bbdbf738eb487d5280c.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-1d7197910ea64475bc6654a3e052a4d0.html" target="element"> Strengthened Code of Practice on Disinformation </a> </td>
																	    <td> <a href="../elements/id-1d7197910ea64475bc6654a3e052a4d0.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-7d5a011b3a5d48afbf53dd875db40f54.html" target="element"> Declaration for the Future of Internet </a> </td>
																	    <td> <a href="../elements/id-7d5a011b3a5d48afbf53dd875db40f54.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-637a1b7e35174a19937ce9e3ad4f2d4c.html" target="element"> Declaration on Digital Rights and Principles </a> </td>
																	    <td> <a href="../elements/id-637a1b7e35174a19937ce9e3ad4f2d4c.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-c100f0bdfcc14f158c599cee89243be2.html" target="element"> Recommendation on Building a Joint Cyber Unit </a> </td>
																	    <td> <a href="../elements/id-c100f0bdfcc14f158c599cee89243be2.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-f4dda2766a34449e853654a5091df79b.html" target="element"> Recommendation on a trusted and secure European e-ID </a> </td>
																	    <td> <a href="../elements/id-f4dda2766a34449e853654a5091df79b.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-94ee159c467b476085e99857b1fe3c81.html" target="element"> Legislation on Behavioural Interoperability (ENBI) </a> </td>
															    <td> <a href="../elements/id-94ee159c467b476085e99857b1fe3c81.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-7fb46465880c4c699c0ab620de5299f7.html" target="element"> National Binding Instruments </a> </td>
													    <td> <a href="../elements/id-7fb46465880c4c699c0ab620de5299f7.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-eddcca3306114cc8babeeff482bd5446.html" target="element"> Legislation on Structural Interoperability (NBI) </a> </td>
															    <td> <a href="../elements/id-eddcca3306114cc8babeeff482bd5446.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-7424a2fc9fe74ab5904a47e4f6be272c.html" target="element"> National Schema on eIdentification </a> </td>
																	    <td> <a href="../elements/id-7424a2fc9fe74ab5904a47e4f6be272c.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-dbc07cb62b064a849bd72de5c86c7756.html" target="element"> National Schema on Cybersecurity </a> </td>
																	    <td> <a href="../elements/id-dbc07cb62b064a849bd72de5c86c7756.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-da88cd41c3a148b885c733dc09fca661.html" target="element"> National Schema on eDelivery </a> </td>
																	    <td> <a href="../elements/id-da88cd41c3a148b885c733dc09fca661.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-f6b1705ae62345f19a95572b9c8347e7.html" target="element"> National Schema on the access to Base Registries </a> </td>
																	    <td> <a href="../elements/id-f6b1705ae62345f19a95572b9c8347e7.html" target="element" class="i18n-elementtype-Requirement">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-635020f406aa4df4b59e31fa12f3ffb2.html" target="element"> Legislation on Behavioural Interoperability (NBI) </a> </td>
															    <td> <a href="../elements/id-635020f406aa4df4b59e31fa12f3ffb2.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-07b05ce1416343e7b870c134f20a7bd5.html" target="element"> Legislation on Governance Interoperability (NBI) </a> </td>
															    <td> <a href="../elements/id-07b05ce1416343e7b870c134f20a7bd5.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-8a99735847984ae7a643087dae29c6df.html" target="element"> National Legal Act </a> </td>
													    <td> <a href="../elements/id-8a99735847984ae7a643087dae29c6df.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1e2c84e0dd404fda9c1e8e52d8b0df7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e2c84e0dd404fda9c1e8e52d8b0df7e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53434c3ed9f147208540ac628b07c386.html" target="element"> Legal Functional content </a> </td>
																		<td> <a href="../elements/id-27a5e38f71c849c5852102bb91a5deec.html" target="element"> National Non-Binding Instruments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-62960822f18e45cead9bc5403afed514.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62960822f18e45cead9bc5403afed514.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53434c3ed9f147208540ac628b07c386.html" target="element"> Legal Functional content </a> </td>
																		<td> <a href="../elements/id-756d6f268f1b416bb2b5ccf60fd1cab9.html" target="element"> European Legal Act </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-61bca69f5b304341acd0e0d07491e271.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61bca69f5b304341acd0e0d07491e271.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53434c3ed9f147208540ac628b07c386.html" target="element"> Legal Functional content </a> </td>
																		<td> <a href="../elements/id-330a707f03f2458faae897e43da6a2b3.html" target="element"> European Binding Instruments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9ac1d0e3509b4b63b2540e6cc56f1a02.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ac1d0e3509b4b63b2540e6cc56f1a02.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53434c3ed9f147208540ac628b07c386.html" target="element"> Legal Functional content </a> </td>
																		<td> <a href="../elements/id-5943f93a6c1947fea44cdfc92b8bd5e6.html" target="element"> European Non-Binding Instruments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3104431705a84f38a43c0d2cd57bcb0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3104431705a84f38a43c0d2cd57bcb0d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53434c3ed9f147208540ac628b07c386.html" target="element"> Legal Functional content </a> </td>
																		<td> <a href="../elements/id-7fb46465880c4c699c0ab620de5299f7.html" target="element"> National Binding Instruments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d05bf0315c6348d89edf0e579bd06185.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d05bf0315c6348d89edf0e579bd06185.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53434c3ed9f147208540ac628b07c386.html" target="element"> Legal Functional content </a> </td>
																		<td> <a href="../elements/id-8a99735847984ae7a643087dae29c6df.html" target="element"> National Legal Act </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-52785ea387724d91b6fabc8c77745b81.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-52785ea387724d91b6fabc8c77745b81.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-27a5e38f71c849c5852102bb91a5deec.html" target="element"> National Non-Binding Instruments </a> </td>
																				<td> <a href="../elements/id-28e31d31e53b42e39950d258075a5383.html" target="element"> Legislation on Behavioural Interoperability (NNBI) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2aca69ab667244808e23cad83aa632e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2aca69ab667244808e23cad83aa632e2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-27a5e38f71c849c5852102bb91a5deec.html" target="element"> National Non-Binding Instruments </a> </td>
																				<td> <a href="../elements/id-804ab3a8f837427fae7b48e4b034f801.html" target="element"> Legislation on Governance Interoperability (NNBI) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dc23137d99394c29ba8808f71ae90ead.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dc23137d99394c29ba8808f71ae90ead.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-27a5e38f71c849c5852102bb91a5deec.html" target="element"> National Non-Binding Instruments </a> </td>
																				<td> <a href="../elements/id-8a99735847984ae7a643087dae29c6df.html" target="element"> National Legal Act </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-e2b6d448ae0e408e9b79a21baffae5ba.html" target="element"> Influences/guides </a> </td>
																				<td> <a href="../elements/id-e2b6d448ae0e408e9b79a21baffae5ba.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-756d6f268f1b416bb2b5ccf60fd1cab9.html" target="element"> European Legal Act </a> </td>
																				<td> <a href="../elements/id-8a99735847984ae7a643087dae29c6df.html" target="element"> National Legal Act </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-61da782081784437a583cd4f4ea0e9d9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-61da782081784437a583cd4f4ea0e9d9.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-330a707f03f2458faae897e43da6a2b3.html" target="element"> European Binding Instruments </a> </td>
																				<td> <a href="../elements/id-756d6f268f1b416bb2b5ccf60fd1cab9.html" target="element"> European Legal Act </a> </td>
																			</tr>

															
																					<tr>
																						<td> <a href="../elements/id-33a675d56f1249da8e5274ec9ebd9202.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-33a675d56f1249da8e5274ec9ebd9202.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-aba98bc7232e4c3380fd22a87d8451a3.html" target="element"> Legislation on Behavioural Interoperability (EBI) </a> </td>
																						<td> <a href="../elements/id-34fb8b0916234d0d9c3334e6b1d47333.html" target="element"> Cyber Solidarity Act Proposal </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-50e68edcfb154cc6974bb997f64d894b.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-50e68edcfb154cc6974bb997f64d894b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-aba98bc7232e4c3380fd22a87d8451a3.html" target="element"> Legislation on Behavioural Interoperability (EBI) </a> </td>
																						<td> <a href="../elements/id-bf830806bb5249de8a36237852e6aff2.html" target="element"> Directive (EU) 2022/2555 of the European Parliament and of the Council of 14 December 2022 </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-b24578d73618471381efde496000c9a1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b24578d73618471381efde496000c9a1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-aba98bc7232e4c3380fd22a87d8451a3.html" target="element"> Legislation on Behavioural Interoperability (EBI) </a> </td>
																						<td> <a href="../elements/id-e4269c27d0f549a1b7e39ccfb5830ae1.html" target="element"> Data Act Proposal </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-48434c051c3d4247a89f0b24ff1affe0.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-48434c051c3d4247a89f0b24ff1affe0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-aba98bc7232e4c3380fd22a87d8451a3.html" target="element"> Legislation on Behavioural Interoperability (EBI) </a> </td>
																						<td> <a href="../elements/id-bbf50773f460450f8b0027299b2a1ea8.html" target="element"> Interoperable Europe Act Proposal </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-f9962c297f9049d09a56796fc59996cd.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f9962c297f9049d09a56796fc59996cd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-aba98bc7232e4c3380fd22a87d8451a3.html" target="element"> Legislation on Behavioural Interoperability (EBI) </a> </td>
																						<td> <a href="../elements/id-5ef26d7a372b4036a5685cbd74cc2ae7.html" target="element"> Artificial Intelligence Act Proposal </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-f28a2edcaf2e49ceba02b0880b8b5bcd.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f28a2edcaf2e49ceba02b0880b8b5bcd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-aba98bc7232e4c3380fd22a87d8451a3.html" target="element"> Legislation on Behavioural Interoperability (EBI) </a> </td>
																						<td> <a href="../elements/id-0ab374e224194459a80ae38cee35c083.html" target="element"> Regulation (EU) 2022/2065 of the European Parliament and of the Council of 19 October 2022 </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-cb201cfa0fd94d3b8580f27f084a339f.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-cb201cfa0fd94d3b8580f27f084a339f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-aba98bc7232e4c3380fd22a87d8451a3.html" target="element"> Legislation on Behavioural Interoperability (EBI) </a> </td>
																						<td> <a href="../elements/id-2fe161a2b165466abb598a33c2e102b1.html" target="element"> Cyber Resilience Act Proposal </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-bb52d6d899da4055b9621f52de8cf09e.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-bb52d6d899da4055b9621f52de8cf09e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-aba98bc7232e4c3380fd22a87d8451a3.html" target="element"> Legislation on Behavioural Interoperability (EBI) </a> </td>
																						<td> <a href="../elements/id-d288d9a9758f48b192e6f8a4ce0e46db.html" target="element"> Data Governance Act </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-e3fec44dce57442a92039958e17cad36.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e3fec44dce57442a92039958e17cad36.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-aba98bc7232e4c3380fd22a87d8451a3.html" target="element"> Legislation on Behavioural Interoperability (EBI) </a> </td>
																						<td> <a href="../elements/id-6ac42b4c6c534ddf97eb7dda21e1377b.html" target="element"> Implementing Act on High-Value Datasets </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-6a144b2e0c1045a88b1d3a75ad598134.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-6a144b2e0c1045a88b1d3a75ad598134.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-aba98bc7232e4c3380fd22a87d8451a3.html" target="element"> Legislation on Behavioural Interoperability (EBI) </a> </td>
																						<td> <a href="../elements/id-b206544e7382445899a46cbc1ee76c63.html" target="element"> Digital Markets Act </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/id-bb9b5d189f154c19a4df8b1758709f73.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-bb9b5d189f154c19a4df8b1758709f73.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-cd883286957a44ea985fee0727e2f966.html" target="element"> Open Data Directive </a> </td>
																								<td> <a href="../elements/id-6ac42b4c6c534ddf97eb7dda21e1377b.html" target="element"> Implementing Act on High-Value Datasets </a> </td>
																							</tr>

															
																					<tr>
																						<td> <a href="../elements/id-9165e6874dcc492f8194e4ace47aa096.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9165e6874dcc492f8194e4ace47aa096.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-85ab5c90a5454be98d3910b246566977.html" target="element"> Legislation on Structural Interoperability (EBI) </a> </td>
																						<td> <a href="../elements/id-2595c376a32a485098b69077a6105ba2.html" target="element"> Commission Delegated Regulation (EU) 2018/389 of 27 November 2017 </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-6ea6b97c439448d385518093b9b808b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6ea6b97c439448d385518093b9b808b9.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5943f93a6c1947fea44cdfc92b8bd5e6.html" target="element"> European Non-Binding Instruments </a> </td>
																				<td> <a href="../elements/id-756d6f268f1b416bb2b5ccf60fd1cab9.html" target="element"> European Legal Act </a> </td>
																			</tr>

															
																					<tr>
																						<td> <a href="../elements/id-ebc577e241684b499987f5a34616bb8a.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-ebc577e241684b499987f5a34616bb8a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c6a1d5eea92e4516b56af7f22387f64c.html" target="element"> Legislation on Structural Interoperability (ENBI) </a> </td>
																						<td> <a href="../elements/id-1d7197910ea64475bc6654a3e052a4d0.html" target="element"> Strengthened Code of Practice on Disinformation </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-b32b557cbf294263b22a45503044c79c.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b32b557cbf294263b22a45503044c79c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c6a1d5eea92e4516b56af7f22387f64c.html" target="element"> Legislation on Structural Interoperability (ENBI) </a> </td>
																						<td> <a href="../elements/id-7d5a011b3a5d48afbf53dd875db40f54.html" target="element"> Declaration for the Future of Internet </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-dc027e7b4788454399dce64864875f46.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-dc027e7b4788454399dce64864875f46.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c6a1d5eea92e4516b56af7f22387f64c.html" target="element"> Legislation on Structural Interoperability (ENBI) </a> </td>
																						<td> <a href="../elements/id-637a1b7e35174a19937ce9e3ad4f2d4c.html" target="element"> Declaration on Digital Rights and Principles </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-b199b2bba434470699af01c705015421.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b199b2bba434470699af01c705015421.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c6a1d5eea92e4516b56af7f22387f64c.html" target="element"> Legislation on Structural Interoperability (ENBI) </a> </td>
																						<td> <a href="../elements/id-c100f0bdfcc14f158c599cee89243be2.html" target="element"> Recommendation on Building a Joint Cyber Unit </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-081a393d20ab4406b9ee4bc7c380369c.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-081a393d20ab4406b9ee4bc7c380369c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c6a1d5eea92e4516b56af7f22387f64c.html" target="element"> Legislation on Structural Interoperability (ENBI) </a> </td>
																						<td> <a href="../elements/id-f4dda2766a34449e853654a5091df79b.html" target="element"> Recommendation on a trusted and secure European e-ID </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-1aa086fb19014d8ba10fba589c32b524.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1aa086fb19014d8ba10fba589c32b524.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7fb46465880c4c699c0ab620de5299f7.html" target="element"> National Binding Instruments </a> </td>
																				<td> <a href="../elements/id-8a99735847984ae7a643087dae29c6df.html" target="element"> National Legal Act </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-da8b058ccf0d4695b6a0ceee1661fe86.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-da8b058ccf0d4695b6a0ceee1661fe86.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7fb46465880c4c699c0ab620de5299f7.html" target="element"> National Binding Instruments </a> </td>
																				<td> <a href="../elements/id-635020f406aa4df4b59e31fa12f3ffb2.html" target="element"> Legislation on Behavioural Interoperability (NBI) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c41bdc23ed9b45d19e37741fcc41e94b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c41bdc23ed9b45d19e37741fcc41e94b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7fb46465880c4c699c0ab620de5299f7.html" target="element"> National Binding Instruments </a> </td>
																				<td> <a href="../elements/id-07b05ce1416343e7b870c134f20a7bd5.html" target="element"> Legislation on Governance Interoperability (NBI) </a> </td>
																			</tr>

															
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>