<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Test Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Test Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-746bbede44f24d3c83ca1fafe9f559e0.png" alt="TVA-Test Enablers [Motivation]" usemap="#id-746bbede44f24d3c83ca1fafe9f559e0map"/>
			   <map name="id-746bbede44f24d3c83ca1fafe9f559e0map">
				  				<area shape="rect" coords="719,166,899,239" href="../elements/id-f6efbafc11864e179a63229560775558.html"  target="element">
				  				<area shape="rect" coords="719,58,899,131" href="../elements/id-8dd0e86023f44c09b37b403e52c243b7.html"  target="element">

				  		<area shape="rect" coords="671,10,936,274" href="../elements/id-41a6a818aca44972ad895cee91c73c82.html"  target="element">
				  				<area shape="rect" coords="383,226,563,299" href="../elements/id-4c8e2c0bf50e4193a0c70f1bc3af1ccb.html"  target="element">
				  				<area shape="rect" coords="383,130,563,203" href="../elements/id-08899007401e4053a91387b9d52beaaf.html"  target="element">
				  				<area shape="rect" coords="383,34,563,107" href="../elements/id-da84ac1927bb4d1997a012f3fbd75829.html"  target="element">

				  		<area shape="rect" coords="359,10,600,323" href="../elements/id-677a5c7caf374db5b7ff502e72089a6d.html"  target="element">
				  				<area shape="rect" coords="58,46,238,119" href="../elements/id-e69813dc0c5b4296a526703f26ccbbe5.html"  target="element">

				          <area shape="rect" coords="10,10,274,143" href="../objects/id-ba3d3fe8a2634419b3147db419447e16.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Test Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging various elements related to testing and conformance. This view includes elements such as Business Agnostic Testing Business Service, Test Enablers, and Business Agnostic Conformance Solutions.

The Business Agnostic Testing Business Service is a Diagram Model-group ABB that encapsulates the Compliance Testing service. This service is a Business Service ABB that is responsible for the Compliance Testing Digital Public Service.

The Test Enablers is a Grouping ABB that refers to the applications and services that support the development and deployment of conformance testing and validation. It includes elements such as Conformance Testing Application Service ABB, Conformance Testing Application Component ABB, and Conformance Test Scenario Business Object ABB. The Conformance Testing Application Service ABB enables the activities and rules to determine whether a tool, platform, or service faithfully meets the requirements of a standard or specification. The Conformance Testing Application Component ABB enables a structural and modular approach for implementing the validation of the application or service to meet the requirements of a standard or specification. The Conformance Test Scenario Business Object ABB specifies a sequence of actions for the execution of a test, also known as a test script or manual test script.

The Business Agnostic Conformance Solutions is a Grouping SBB that includes elements such as the European Interoperability TestBed and the ETSI Signature Conformance Checker. The European Interoperability TestBed is an Application Service SBB offered by the European Commission's DIGIT to facilitate the conformance testing of IT systems. The TestBed is a software system that can be both downloaded and installed locally, but also reused through a shared online installation operated by DIGIT. The ETSI Signature Conformance Checker is another Application Service SBB provided by ETSI Centre for Testing and Interoperability (CTI) that performs numerous checkings to verify the conformity of the ETSI Advanced Electronic Signatures.

These elements and their relationships provide a comprehensive framework for leveraging the development and deployment of conformance testing and validation.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-ba3d3fe8a2634419b3147db419447e16.html" target="element"> Business Agnostic Testing Business Service </a> </td>
									           <td> <a href="../objects/id-ba3d3fe8a2634419b3147db419447e16.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-e69813dc0c5b4296a526703f26ccbbe5.html" target="element"> Compliance Testing </a> </td>
													    <td> <a href="../elements/id-e69813dc0c5b4296a526703f26ccbbe5.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-677a5c7caf374db5b7ff502e72089a6d.html" target="element"> Test Enablers </a> </td>
											    <td> <a href="../elements/id-677a5c7caf374db5b7ff502e72089a6d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-da84ac1927bb4d1997a012f3fbd75829.html" target="element"> Conformance Testing </a> </td>
													    <td> <a href="../elements/id-da84ac1927bb4d1997a012f3fbd75829.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-08899007401e4053a91387b9d52beaaf.html" target="element"> Conformance Testing </a> </td>
													    <td> <a href="../elements/id-08899007401e4053a91387b9d52beaaf.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4c8e2c0bf50e4193a0c70f1bc3af1ccb.html" target="element"> Conformance Test Scenario </a> </td>
													    <td> <a href="../elements/id-4c8e2c0bf50e4193a0c70f1bc3af1ccb.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-41a6a818aca44972ad895cee91c73c82.html" target="element"> Business Agnostic Conformance Solutions </a> </td>
											    <td> <a href="../elements/id-41a6a818aca44972ad895cee91c73c82.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8dd0e86023f44c09b37b403e52c243b7.html" target="element"> European Interoperability TestBed </a> </td>
													    <td> <a href="../elements/id-8dd0e86023f44c09b37b403e52c243b7.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f6efbafc11864e179a63229560775558.html" target="element"> ETSI Signature Conformance Checker </a> </td>
													    <td> <a href="../elements/id-f6efbafc11864e179a63229560775558.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-e1bcc05986b14b6ba62114d2d60e9d8f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1bcc05986b14b6ba62114d2d60e9d8f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-677a5c7caf374db5b7ff502e72089a6d.html" target="element"> Test Enablers </a> </td>
																		<td> <a href="../elements/id-4c8e2c0bf50e4193a0c70f1bc3af1ccb.html" target="element"> Conformance Test Scenario </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b4cac0bf05c43ff9e522d65d5660da6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b4cac0bf05c43ff9e522d65d5660da6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-677a5c7caf374db5b7ff502e72089a6d.html" target="element"> Test Enablers </a> </td>
																		<td> <a href="../elements/id-da84ac1927bb4d1997a012f3fbd75829.html" target="element"> Conformance Testing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2e6571376ea644f9b5b52cecf272685b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e6571376ea644f9b5b52cecf272685b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-677a5c7caf374db5b7ff502e72089a6d.html" target="element"> Test Enablers </a> </td>
																		<td> <a href="../elements/id-08899007401e4053a91387b9d52beaaf.html" target="element"> Conformance Testing </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b74b3eec2d524a548257ee11f77e863c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b74b3eec2d524a548257ee11f77e863c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-da84ac1927bb4d1997a012f3fbd75829.html" target="element"> Conformance Testing </a> </td>
																				<td> <a href="../elements/id-e69813dc0c5b4296a526703f26ccbbe5.html" target="element"> Compliance Testing </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7fcc650eb43e48718c837e532b069c0f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7fcc650eb43e48718c837e532b069c0f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-08899007401e4053a91387b9d52beaaf.html" target="element"> Conformance Testing </a> </td>
																				<td> <a href="../elements/id-4c8e2c0bf50e4193a0c70f1bc3af1ccb.html" target="element"> Conformance Test Scenario </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-62d2da7db0ed46c8a9234d54c0ffa1be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-62d2da7db0ed46c8a9234d54c0ffa1be.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-08899007401e4053a91387b9d52beaaf.html" target="element"> Conformance Testing </a> </td>
																				<td> <a href="../elements/id-da84ac1927bb4d1997a012f3fbd75829.html" target="element"> Conformance Testing </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-2ab9a06a966e4ab69154d1ca650ccf30.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ab9a06a966e4ab69154d1ca650ccf30.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-41a6a818aca44972ad895cee91c73c82.html" target="element"> Business Agnostic Conformance Solutions </a> </td>
																		<td> <a href="../elements/id-da84ac1927bb4d1997a012f3fbd75829.html" target="element"> Conformance Testing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0c5990814bb7445392dbcec7febfacbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c5990814bb7445392dbcec7febfacbd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-41a6a818aca44972ad895cee91c73c82.html" target="element"> Business Agnostic Conformance Solutions </a> </td>
																		<td> <a href="../elements/id-f6efbafc11864e179a63229560775558.html" target="element"> ETSI Signature Conformance Checker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2a9e80d3b3fe4ea398a66e1f4d135dd1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a9e80d3b3fe4ea398a66e1f4d135dd1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-41a6a818aca44972ad895cee91c73c82.html" target="element"> Business Agnostic Conformance Solutions </a> </td>
																		<td> <a href="../elements/id-8dd0e86023f44c09b37b403e52c243b7.html" target="element"> European Interoperability TestBed </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>