<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Data Space Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Data Space Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-89bbc136609d47fab5530d97fdcb1a0e.png" alt="TVA-Data Space Enablers [Motivation]" usemap="#id-89bbc136609d47fab5530d97fdcb1a0emap"/>
			   <map name="id-89bbc136609d47fab5530d97fdcb1a0emap">
				  				<area shape="rect" coords="1294,70,1451,155" href="../elements/id-a679c058b63144959af8966c20733f67.html"  target="element">
				  				<area shape="rect" coords="946,226,1103,311" href="../elements/id-1e8dfb0a661c4d8ca109b01e75e9a765.html"  target="element">
				  				<area shape="rect" coords="778,226,935,311" href="../elements/id-2182709c4ecc47f6aef2756164017aba.html"  target="element">
				  				<area shape="rect" coords="1114,226,1271,311" href="../elements/id-9fe5eda257574eb7b9f16880bb622ccf.html"  target="element">
				  				<area shape="rect" coords="1114,70,1271,155" href="../elements/id-80e06596453f4664800ceffecc507e59.html"  target="element">
				  				<area shape="rect" coords="862,70,1019,155" href="../elements/id-1e1280607c114f0f8be58e74abce0047.html"  target="element">

				  		<area shape="rect" coords="754,34,1481,347" href="../elements/id-9a04f706bb8c478593719d827d8905fc.html"  target="element">
				  				<area shape="rect" coords="94,214,239,294" href="../elements/id-38f710998f1643e0874165297255d047.html"  target="element">
				  				<area shape="rect" coords="94,94,239,174" href="../elements/id-2042138269f443debb811d7830eea2ba.html"  target="element">

				  		<area shape="rect" coords="10,10,323,395" href="../elements/id-e6ab5537e6b74b828956c4376d3871dd.html"  target="element">
				  				<area shape="rect" coords="442,214,580,287" href="../elements/id-d23314e941c246e08171cfb057083b43.html"  target="element">
				  				<area shape="rect" coords="442,94,580,167" href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html"  target="element">

				  		<area shape="rect" coords="382,10,635,395" href="../elements/id-1a422cc5076e480db497793fea533e87.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Data Space Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging various components and services that support the creation and management of a dataspace. This view is divided into three main elements: Dataspace Enablers, Business Agnostic Digital Public Services Catalogue, and Business Agnostic Dataspace Solutions.

The Dataspace Enablers, a Grouping ABB, refers to components and services that support the creation and management of a dataspace. Within this grouping, there are two Application Service ABBs: Dataspace and Dataspace Connector. The Dataspace is the virtual space that enables the creation of a single market for data by integrating, transforming, and making available such data. The Dataspace Connector enables the easy and trustworthy procedure to share data and work collaboratively with other research institutions.

The Business Agnostic Digital Public Services Catalogue is another Grouping ABB that includes two Business Service ABBs: Data Space and Data Space Participant. These services are part of the digital public service offerings related to the dataspace.

The third element, Business Agnostic Dataspace Solutions, is a Grouping ABB that includes several Application Service SBBs. These are specific solutions for the dataspace, including the Eclipse Dataspace Connector, International Data Space Connector, FIWARE TRUE Connector, Sovity Dataspace Connector, Intel IONOS Orbiter Connector, and Fraunhofer AISEC Trusted Connector. Each of these services provides specific functionalities and capabilities within the dataspace.

The motivation behind this view is to provide a comprehensive overview of the various components, services, and solutions that enable the creation, management, and utilization of a dataspace. This view helps in understanding the technical and business aspects of the dataspace and how they interact with each other. It also helps in identifying potential opportunities for improvement and innovation within the dataspace.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element"> Dataspace Enablers </a> </td>
											    <td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element"> Dataspace </a> </td>
													    <td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
													    <td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e6ab5537e6b74b828956c4376d3871dd.html" target="element"> Business Agnostic Digital Public Services Catalogue </a> </td>
											    <td> <a href="../elements/id-e6ab5537e6b74b828956c4376d3871dd.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2042138269f443debb811d7830eea2ba.html" target="element"> Data Space </a> </td>
													    <td> <a href="../elements/id-2042138269f443debb811d7830eea2ba.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-38f710998f1643e0874165297255d047.html" target="element"> Data Space Participant </a> </td>
													    <td> <a href="../elements/id-38f710998f1643e0874165297255d047.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9a04f706bb8c478593719d827d8905fc.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
											    <td> <a href="../elements/id-9a04f706bb8c478593719d827d8905fc.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1e1280607c114f0f8be58e74abce0047.html" target="element"> Eclipse Dataspace Connector </a> </td>
													    <td> <a href="../elements/id-1e1280607c114f0f8be58e74abce0047.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-80e06596453f4664800ceffecc507e59.html" target="element"> International Data Space Connector </a> </td>
													    <td> <a href="../elements/id-80e06596453f4664800ceffecc507e59.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9fe5eda257574eb7b9f16880bb622ccf.html" target="element"> FIWARE TRUE Connector </a> </td>
													    <td> <a href="../elements/id-9fe5eda257574eb7b9f16880bb622ccf.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2182709c4ecc47f6aef2756164017aba.html" target="element"> Sovity Dataspace Connector </a> </td>
													    <td> <a href="../elements/id-2182709c4ecc47f6aef2756164017aba.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1e8dfb0a661c4d8ca109b01e75e9a765.html" target="element"> Intel IONOS Orbiter Connector </a> </td>
													    <td> <a href="../elements/id-1e8dfb0a661c4d8ca109b01e75e9a765.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a679c058b63144959af8966c20733f67.html" target="element"> Fraunhofer AISEC Trusted Connector </a> </td>
													    <td> <a href="../elements/id-a679c058b63144959af8966c20733f67.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-00717554a63e4a6e8ce4a9c4906ba0f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00717554a63e4a6e8ce4a9c4906ba0f4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element"> Dataspace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9defb675aaf34f4f9ac3b71cf8c97f7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9defb675aaf34f4f9ac3b71cf8c97f7e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-445331f8a87b435bbeaf84a579da4312.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-445331f8a87b435bbeaf84a579da4312.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-23470c736b12407e8c1934957b19313d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-23470c736b12407e8c1934957b19313d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-2042138269f443debb811d7830eea2ba.html" target="element"> Data Space </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-75a108748d9f4391842eaa80c95272c6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-75a108748d9f4391842eaa80c95272c6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																				<td> <a href="../elements/id-38f710998f1643e0874165297255d047.html" target="element"> Data Space Participant </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cd315f2afdeb44d8b731d8207949c1ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd315f2afdeb44d8b731d8207949c1ce.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6ab5537e6b74b828956c4376d3871dd.html" target="element"> Business Agnostic Digital Public Services Catalogue </a> </td>
																		<td> <a href="../elements/id-38f710998f1643e0874165297255d047.html" target="element"> Data Space Participant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aa34ad29d3184c38bf877f0858a71afc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa34ad29d3184c38bf877f0858a71afc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6ab5537e6b74b828956c4376d3871dd.html" target="element"> Business Agnostic Digital Public Services Catalogue </a> </td>
																		<td> <a href="../elements/id-2042138269f443debb811d7830eea2ba.html" target="element"> Data Space </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-38e753f7aafe4a8d862d8a9510dd5413.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-38e753f7aafe4a8d862d8a9510dd5413.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2042138269f443debb811d7830eea2ba.html" target="element"> Data Space </a> </td>
																				<td> <a href="../elements/id-38f710998f1643e0874165297255d047.html" target="element"> Data Space Participant </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-657cd797b5704e91b9a9ff83e63d4549.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-657cd797b5704e91b9a9ff83e63d4549.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a04f706bb8c478593719d827d8905fc.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
																		<td> <a href="../elements/id-1e1280607c114f0f8be58e74abce0047.html" target="element"> Eclipse Dataspace Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c332b2d2261495e893ae6bdd196a5f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c332b2d2261495e893ae6bdd196a5f8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a04f706bb8c478593719d827d8905fc.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
																		<td> <a href="../elements/id-9fe5eda257574eb7b9f16880bb622ccf.html" target="element"> FIWARE TRUE Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e5d71b44a5844dc9b1a1176c1fe56444.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5d71b44a5844dc9b1a1176c1fe56444.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a04f706bb8c478593719d827d8905fc.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
																		<td> <a href="../elements/id-a679c058b63144959af8966c20733f67.html" target="element"> Fraunhofer AISEC Trusted Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b04434d5e4c84621856a0df62dfa9319.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b04434d5e4c84621856a0df62dfa9319.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a04f706bb8c478593719d827d8905fc.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
																		<td> <a href="../elements/id-80e06596453f4664800ceffecc507e59.html" target="element"> International Data Space Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9bf41d5654db4265a05abc6ea2868186.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9bf41d5654db4265a05abc6ea2868186.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a04f706bb8c478593719d827d8905fc.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
																		<td> <a href="../elements/id-2182709c4ecc47f6aef2756164017aba.html" target="element"> Sovity Dataspace Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-55a6f891adcc46b19cd4938bd3aef0da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55a6f891adcc46b19cd4938bd3aef0da.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a04f706bb8c478593719d827d8905fc.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
																		<td> <a href="../elements/id-1e8dfb0a661c4d8ca109b01e75e9a765.html" target="element"> Intel IONOS Orbiter Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-738a24d28de14e07abb9dfe4061f5d3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-738a24d28de14e07abb9dfe4061f5d3b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a04f706bb8c478593719d827d8905fc.html" target="element"> Business Agnostic Dataspace Solutions </a> </td>
																		<td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element"> Dataspace Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-fc997d815b4248feac74ce552862dd17.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fc997d815b4248feac74ce552862dd17.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9fe5eda257574eb7b9f16880bb622ccf.html" target="element"> FIWARE TRUE Connector </a> </td>
																				<td> <a href="../elements/id-80e06596453f4664800ceffecc507e59.html" target="element"> International Data Space Connector </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-05590565878c469b8135f16e0b7a82a5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-05590565878c469b8135f16e0b7a82a5.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2182709c4ecc47f6aef2756164017aba.html" target="element"> Sovity Dataspace Connector </a> </td>
																				<td> <a href="../elements/id-1e1280607c114f0f8be58e74abce0047.html" target="element"> Eclipse Dataspace Connector </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c4d40d578cc94db3a8b8eec1c0ba533b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c4d40d578cc94db3a8b8eec1c0ba533b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e8dfb0a661c4d8ca109b01e75e9a765.html" target="element"> Intel IONOS Orbiter Connector </a> </td>
																				<td> <a href="../elements/id-1e1280607c114f0f8be58e74abce0047.html" target="element"> Eclipse Dataspace Connector </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>