<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Trust Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Trust Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9e8766ad64c04a3f841782bf5004e73e.png" alt="TVA-Trust Enablers [Motivation]" usemap="#id-9e8766ad64c04a3f841782bf5004e73emap"/>
			   <map name="id-9e8766ad64c04a3f841782bf5004e73emap">
				  				<area shape="rect" coords="1558,646,1714,729" href="../elements/id-9b44a0a3739f486eb8b9641b71223118.html"  target="element">
				  				<area shape="rect" coords="1390,646,1546,729" href="../elements/id-0a7b77cc35e840fabf206e128da71a17.html"  target="element">

				  		<area shape="rect" coords="1378,610,1727,755" href="../elements/id-591ff16a79c845e2b4d06981ee1e98fe.html"  target="element">
				  				<area shape="rect" coords="1306,29,1462,112" href="../elements/id-e0c6878fbb714dceb2d2fd4cd21b6277.html"  target="element">
				  				<area shape="rect" coords="586,34,778,107" href="../elements/id-e1c102e34d3d48d19c0ddb7a49ccc7af.html"  target="element">
				  				<area shape="rect" coords="582,286,782,347" href="../elements/id-6a6e721346ea4382afef893ee9e51122.html"  target="element">
				  				<area shape="rect" coords="798,298,998,359" href="../elements/id-7fabb5bcc0404882b3bbc36f36329c10.html"  target="element">
				  				<area shape="rect" coords="1066,298,1258,359" href="../elements/id-9e0d502df1274683b327d98b295543dc.html"  target="element">
				  						<area shape="rect" coords="1498,334,1654,417" href="../elements/id-873d5c007b2f48d7a7648f51e3734de4.html"  target="element">
				  						<area shape="rect" coords="1498,214,1654,297" href="../elements/id-4cb83b99b8ce4e56b5093677f83645a6.html"  target="element">

				  				<area shape="rect" coords="1462,178,1703,455" href="../elements/id-7791c1aa87ca4c6bae3cbb8319c55e7c.html"  target="element">
				  				<area shape="rect" coords="802,466,994,551" href="../elements/id-1e047893b4494f59a054665caf4f7510.html"  target="element">
				  				<area shape="rect" coords="1066,118,1258,179" href="../elements/id-85e0d29b27ce42e4b57628b25af811c1.html"  target="element">
				  				<area shape="rect" coords="802,118,994,167" href="../elements/id-af4d17309215463da49cd2cc40ced4af.html"  target="element">
				  				<area shape="rect" coords="586,190,778,251" href="../elements/id-8cba1e337fee4b9cac19f9137558bab1.html"  target="element">
				  				<area shape="rect" coords="586,382,778,431" href="../elements/id-2610dd980d42471f8b962cafda6c2448.html"  target="element">
				  				<area shape="rect" coords="586,118,778,167" href="../elements/id-55a94fda3d494ccfaa5d599a6a27f63e.html"  target="element">
				  				<area shape="rect" coords="802,190,994,251" href="../elements/id-9f920ef955bc4dcf85a7d500cdbc4607.html"  target="element">
				  				<area shape="rect" coords="1066,382,1258,431" href="../elements/id-61f9a0571ca147ed806b53e94d30ddf1.html"  target="element">
				  				<area shape="rect" coords="1066,202,1258,263" href="../elements/id-087739e013f248d7a8c2feaee196f207.html"  target="element">
				  				<area shape="rect" coords="802,382,994,431" href="../elements/id-60b6aeb88a1a4b8b99053ac694257be0.html"  target="element">

				  		<area shape="rect" coords="526,10,1727,563" href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html"  target="element">
				  				<area shape="rect" coords="1882,286,2027,371" href="../elements/id-c38d28c689254e0e8737ea338beff5d3.html"  target="element">

				          <area shape="rect" coords="1822,250,2111,418" href="../objects/id-18eebb12c02649158ff8be0ea8adc76d.html" target="element" >
				  				<area shape="rect" coords="94,287,239,372" href="../elements/id-7569cca69048477a9a31400c92691977.html"  target="element">

				          <area shape="rect" coords="10,239,311,407" href="../objects/id-24c6a6c1c9b24475982c511c2bacca47.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Trust Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging various elements that facilitate secure cross-border transactions and interactions. 

The view includes three main groups: Business Agnostic Trust Business Services, Business Agnostic Blockchain Business Service, and Trust Enablers. 

The Business Agnostic Trust Business Services group includes the eSignature service, which is a digital public service that enables the signing of data in electronic form by a natural person. 

The Business Agnostic Blockchain Business Service group includes the Digital Immutability service, which is a digital public service that ensures the integrity, authenticity, and non-repudiation of digitally signed documents.

The Trust Enablers group refers to components and services that facilitate the establishment and maintenance of secure cross-border transactions and interactions. This group includes various application services such as e-Seal Preservation, e-Timestamp Verification and Validation, Registered Electronic Delivery, e-Seal Verification and Validation, e-Signature Creation, e-Signature Preservation, e-Signature Verification and Validation, e-Seal Creation, e-Timestamp Creation, and Trust Service Provisioning. 

These services enable various procedures such as extending the trustworthiness of the qualified electronic signature beyond the technological validity period, verifying timestamps used for establishing evidence that a given piece of data existed at a given point in time, transmitting sensitive or confidential documents and messages between parties, verifying documents that are signed electronically, signing data in electronic form by a natural person, and creating, verifying, or validating electronic signatures, time stamps, seals, electronically registered delivery services, and certificates.

The Trust Enablers group also includes the Blockchain Enablers, which refers to components and services that facilitate the development, deployment, and management of ledger technology applications. This includes the Blockchain and Distributed Ledger application services, which enable secure, transparent, and immutable record-keeping and transaction processing shared by all participants in a network.

The view also includes the Business Agnostic Blockchain Solutions group, which includes the Ethereum and European Blockchain Services Infrastructure application services. These services facilitate the development, deployment, and management of blockchain technology applications.

In addition, the view includes various application services such as Digital Certification Timestamp, Digital Certification eSeal, Digital Certification eSignature Service, Digital Europe eSignature DSS open-source library, and Integrity Verification. These services enable various procedures such as verifying timestamps used for establishing evidence that a given piece of data existed at a given point in time, verifying documents that are signed electronically, securely signing electronic documents using digital certificates, and ensuring that information has not been altered in an unauthorized manner since it was created, transmitted, or stored.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-24c6a6c1c9b24475982c511c2bacca47.html" target="element"> Business Agnostic Trust Business Services </a> </td>
									           <td> <a href="../objects/id-24c6a6c1c9b24475982c511c2bacca47.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-7569cca69048477a9a31400c92691977.html" target="element"> eSignature </a> </td>
													    <td> <a href="../elements/id-7569cca69048477a9a31400c92691977.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-18eebb12c02649158ff8be0ea8adc76d.html" target="element"> Business Agnostic Blockchain Business Service </a> </td>
									           <td> <a href="../objects/id-18eebb12c02649158ff8be0ea8adc76d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-c38d28c689254e0e8737ea338beff5d3.html" target="element"> Digital Inmutability </a> </td>
													    <td> <a href="../elements/id-c38d28c689254e0e8737ea338beff5d3.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html" target="element"> Trust Enablers </a> </td>
											    <td> <a href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-60b6aeb88a1a4b8b99053ac694257be0.html" target="element"> e-Seal Preservation </a> </td>
													    <td> <a href="../elements/id-60b6aeb88a1a4b8b99053ac694257be0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-087739e013f248d7a8c2feaee196f207.html" target="element"> e-Timestamp Verification and Validation </a> </td>
													    <td> <a href="../elements/id-087739e013f248d7a8c2feaee196f207.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-61f9a0571ca147ed806b53e94d30ddf1.html" target="element"> Registered Electronic Delivery </a> </td>
													    <td> <a href="../elements/id-61f9a0571ca147ed806b53e94d30ddf1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9f920ef955bc4dcf85a7d500cdbc4607.html" target="element"> e-Seal Verification and Validation </a> </td>
													    <td> <a href="../elements/id-9f920ef955bc4dcf85a7d500cdbc4607.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55a94fda3d494ccfaa5d599a6a27f63e.html" target="element"> e-Signature Creation </a> </td>
													    <td> <a href="../elements/id-55a94fda3d494ccfaa5d599a6a27f63e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2610dd980d42471f8b962cafda6c2448.html" target="element"> e-Signature Preservation </a> </td>
													    <td> <a href="../elements/id-2610dd980d42471f8b962cafda6c2448.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8cba1e337fee4b9cac19f9137558bab1.html" target="element"> e-Signature Verification and Validation </a> </td>
													    <td> <a href="../elements/id-8cba1e337fee4b9cac19f9137558bab1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-af4d17309215463da49cd2cc40ced4af.html" target="element"> e-Seal Creation </a> </td>
													    <td> <a href="../elements/id-af4d17309215463da49cd2cc40ced4af.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-85e0d29b27ce42e4b57628b25af811c1.html" target="element"> e-Timestamp Creation </a> </td>
													    <td> <a href="../elements/id-85e0d29b27ce42e4b57628b25af811c1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
													    <td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7791c1aa87ca4c6bae3cbb8319c55e7c.html" target="element"> Blockchain Enablers </a> </td>
													    <td> <a href="../elements/id-7791c1aa87ca4c6bae3cbb8319c55e7c.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-4cb83b99b8ce4e56b5093677f83645a6.html" target="element"> Blockchain </a> </td>
															    <td> <a href="../elements/id-4cb83b99b8ce4e56b5093677f83645a6.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-873d5c007b2f48d7a7648f51e3734de4.html" target="element"> Distributed Ledger </a> </td>
															    <td> <a href="../elements/id-873d5c007b2f48d7a7648f51e3734de4.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-9e0d502df1274683b327d98b295543dc.html" target="element"> Digital Certification Timestamp  </a> </td>
													    <td> <a href="../elements/id-9e0d502df1274683b327d98b295543dc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7fabb5bcc0404882b3bbc36f36329c10.html" target="element"> Digital Certification eSeal  </a> </td>
													    <td> <a href="../elements/id-7fabb5bcc0404882b3bbc36f36329c10.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6a6e721346ea4382afef893ee9e51122.html" target="element"> Digital Certification eSignature Service </a> </td>
													    <td> <a href="../elements/id-6a6e721346ea4382afef893ee9e51122.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e1c102e34d3d48d19c0ddb7a49ccc7af.html" target="element"> Digital Europe eSignature's DSS open-source library </a> </td>
													    <td> <a href="../elements/id-e1c102e34d3d48d19c0ddb7a49ccc7af.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e0c6878fbb714dceb2d2fd4cd21b6277.html" target="element"> Integrity Verification </a> </td>
													    <td> <a href="../elements/id-e0c6878fbb714dceb2d2fd4cd21b6277.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-591ff16a79c845e2b4d06981ee1e98fe.html" target="element"> Business Agnostic Blockchain Solutions </a> </td>
											    <td> <a href="../elements/id-591ff16a79c845e2b4d06981ee1e98fe.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0a7b77cc35e840fabf206e128da71a17.html" target="element"> Ethereum </a> </td>
													    <td> <a href="../elements/id-0a7b77cc35e840fabf206e128da71a17.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9b44a0a3739f486eb8b9641b71223118.html" target="element"> European Blockchain Services Infrastructure </a> </td>
													    <td> <a href="../elements/id-9b44a0a3739f486eb8b9641b71223118.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-b9ca88078657443ca1f307967d222750.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9ca88078657443ca1f307967d222750.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-9e0d502df1274683b327d98b295543dc.html" target="element"> Digital Certification Timestamp  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f3fd0d45950040168f7de3ed512b3009.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3fd0d45950040168f7de3ed512b3009.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-6a6e721346ea4382afef893ee9e51122.html" target="element"> Digital Certification eSignature Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e9a52b5eef89465aa7686235b8a49546.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9a52b5eef89465aa7686235b8a49546.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-e0c6878fbb714dceb2d2fd4cd21b6277.html" target="element"> Integrity Verification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cb65641758154a0096af0a3dd4018cfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb65641758154a0096af0a3dd4018cfd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-e1c102e34d3d48d19c0ddb7a49ccc7af.html" target="element"> Digital Europe eSignature's DSS open-source library </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-49b1d0963ae3455a869c40e59ca5614d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49b1d0963ae3455a869c40e59ca5614d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-7791c1aa87ca4c6bae3cbb8319c55e7c.html" target="element"> Blockchain Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9a40051cbb8343fb938a3717463c2022.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9a40051cbb8343fb938a3717463c2022.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-55a94fda3d494ccfaa5d599a6a27f63e.html" target="element"> e-Signature Creation </a> </td>
																				<td> <a href="../elements/id-7569cca69048477a9a31400c92691977.html" target="element"> eSignature </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2eca95ede5fd416da192aa9fb46a355e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2eca95ede5fd416da192aa9fb46a355e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2610dd980d42471f8b962cafda6c2448.html" target="element"> e-Signature Preservation </a> </td>
																				<td> <a href="../elements/id-7569cca69048477a9a31400c92691977.html" target="element"> eSignature </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3c88c1745a644e75be5cc66ce8a5bab8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3c88c1745a644e75be5cc66ce8a5bab8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8cba1e337fee4b9cac19f9137558bab1.html" target="element"> e-Signature Verification and Validation </a> </td>
																				<td> <a href="../elements/id-7569cca69048477a9a31400c92691977.html" target="element"> eSignature </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8ece3d26809c4542ba8c34a11cdaa2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8ece3d26809c4542ba8c34a11cdaa2bd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-55a94fda3d494ccfaa5d599a6a27f63e.html" target="element"> e-Signature Creation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ecd9468ba39746adab01b96cef979951.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ecd9468ba39746adab01b96cef979951.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-61f9a0571ca147ed806b53e94d30ddf1.html" target="element"> Registered Electronic Delivery </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-14e1466a5d1b4a1ab910ef8b286cfd87.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-14e1466a5d1b4a1ab910ef8b286cfd87.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-2610dd980d42471f8b962cafda6c2448.html" target="element"> e-Signature Preservation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8121b69f483448c3841416a4fe4f1f29.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8121b69f483448c3841416a4fe4f1f29.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-8cba1e337fee4b9cac19f9137558bab1.html" target="element"> e-Signature Verification and Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1457df6b98e6454485a7feb5ad154c3e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1457df6b98e6454485a7feb5ad154c3e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-60b6aeb88a1a4b8b99053ac694257be0.html" target="element"> e-Seal Preservation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c252783250c941b0a09cc855a2568026.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c252783250c941b0a09cc855a2568026.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-087739e013f248d7a8c2feaee196f207.html" target="element"> e-Timestamp Verification and Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-563166bfcc104173840825c810354cab.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-563166bfcc104173840825c810354cab.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-85e0d29b27ce42e4b57628b25af811c1.html" target="element"> e-Timestamp Creation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5b69c20c1ee3408aab0c25d5628b9d61.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5b69c20c1ee3408aab0c25d5628b9d61.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-e0c6878fbb714dceb2d2fd4cd21b6277.html" target="element"> Integrity Verification </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-66be0b9b85564a94bd1bce5b715bc3e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-66be0b9b85564a94bd1bce5b715bc3e7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-9f920ef955bc4dcf85a7d500cdbc4607.html" target="element"> e-Seal Verification and Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ec220d9ee2fd423e83d0d2dd2f4b8fbc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ec220d9ee2fd423e83d0d2dd2f4b8fbc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-af4d17309215463da49cd2cc40ced4af.html" target="element"> e-Seal Creation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d568c505f1b046438342bb52397dabf6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d568c505f1b046438342bb52397dabf6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7791c1aa87ca4c6bae3cbb8319c55e7c.html" target="element"> Blockchain Enablers </a> </td>
																				<td> <a href="../elements/id-4cb83b99b8ce4e56b5093677f83645a6.html" target="element"> Blockchain </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-42c9b40a2d01484b865010fa8541526c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-42c9b40a2d01484b865010fa8541526c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7791c1aa87ca4c6bae3cbb8319c55e7c.html" target="element"> Blockchain Enablers </a> </td>
																				<td> <a href="../elements/id-873d5c007b2f48d7a7648f51e3734de4.html" target="element"> Distributed Ledger </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-69b92210e1514b5dbe1b21feef41e475.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-69b92210e1514b5dbe1b21feef41e475.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-4cb83b99b8ce4e56b5093677f83645a6.html" target="element"> Blockchain </a> </td>
																						<td> <a href="../elements/id-c38d28c689254e0e8737ea338beff5d3.html" target="element"> Digital Inmutability </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-e570a7baeaac47768b50b43122139c7f.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e570a7baeaac47768b50b43122139c7f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-873d5c007b2f48d7a7648f51e3734de4.html" target="element"> Distributed Ledger </a> </td>
																						<td> <a href="../elements/id-4cb83b99b8ce4e56b5093677f83645a6.html" target="element"> Blockchain </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-90118738b6c44704bccd6f3fc395d02c.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-90118738b6c44704bccd6f3fc395d02c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-873d5c007b2f48d7a7648f51e3734de4.html" target="element"> Distributed Ledger </a> </td>
																						<td> <a href="../elements/id-c38d28c689254e0e8737ea338beff5d3.html" target="element"> Digital Inmutability </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-829bdc8cb4a94bd1b5acb1154adc1f7e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-829bdc8cb4a94bd1b5acb1154adc1f7e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9e0d502df1274683b327d98b295543dc.html" target="element"> Digital Certification Timestamp  </a> </td>
																				<td> <a href="../elements/id-087739e013f248d7a8c2feaee196f207.html" target="element"> e-Timestamp Verification and Validation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d4c0753966af4037b893ba2fd7549f62.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d4c0753966af4037b893ba2fd7549f62.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7fabb5bcc0404882b3bbc36f36329c10.html" target="element"> Digital Certification eSeal  </a> </td>
																				<td> <a href="../elements/id-9f920ef955bc4dcf85a7d500cdbc4607.html" target="element"> e-Seal Verification and Validation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8ecb9584bfc040a58c40146f74264feb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8ecb9584bfc040a58c40146f74264feb.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6a6e721346ea4382afef893ee9e51122.html" target="element"> Digital Certification eSignature Service </a> </td>
																				<td> <a href="../elements/id-8cba1e337fee4b9cac19f9137558bab1.html" target="element"> e-Signature Verification and Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-58344de3590c4011b53ea65e00fd8654.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-58344de3590c4011b53ea65e00fd8654.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6a6e721346ea4382afef893ee9e51122.html" target="element"> Digital Certification eSignature Service </a> </td>
																				<td> <a href="../elements/id-7569cca69048477a9a31400c92691977.html" target="element"> eSignature </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e98ebe90a0f14baf8b9f3f20709eb50b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e98ebe90a0f14baf8b9f3f20709eb50b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e1c102e34d3d48d19c0ddb7a49ccc7af.html" target="element"> Digital Europe eSignature's DSS open-source library </a> </td>
																				<td> <a href="../elements/id-7569cca69048477a9a31400c92691977.html" target="element"> eSignature </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a07f26cb8ccc41d59a2344c1cb103399.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a07f26cb8ccc41d59a2344c1cb103399.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-591ff16a79c845e2b4d06981ee1e98fe.html" target="element"> Business Agnostic Blockchain Solutions </a> </td>
																		<td> <a href="../elements/id-9b44a0a3739f486eb8b9641b71223118.html" target="element"> European Blockchain Services Infrastructure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cec7d1e486bb448b9b59340baedceddc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cec7d1e486bb448b9b59340baedceddc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-591ff16a79c845e2b4d06981ee1e98fe.html" target="element"> Business Agnostic Blockchain Solutions </a> </td>
																		<td> <a href="../elements/id-0a7b77cc35e840fabf206e128da71a17.html" target="element"> Ethereum </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8b7fb49acf84709bf2f6c3c6d9647e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8b7fb49acf84709bf2f6c3c6d9647e8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-591ff16a79c845e2b4d06981ee1e98fe.html" target="element"> Business Agnostic Blockchain Solutions </a> </td>
																		<td> <a href="../elements/id-7791c1aa87ca4c6bae3cbb8319c55e7c.html" target="element"> Blockchain Enablers </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>