<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Artificial Intelligence Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Artificial Intelligence Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-96d63d92e1e84994960d0df0f06baeb1.png" alt="TVA-Artificial Intelligence Enablers [Motivation]" usemap="#id-96d63d92e1e84994960d0df0f06baeb1map"/>
			   <map name="id-96d63d92e1e84994960d0df0f06baeb1map">
				  				<area shape="rect" coords="698,137,878,210" href="../elements/id-74220658e3a64b819a770baa4df22f4e.html"  target="element">
				  				<area shape="rect" coords="698,221,878,294" href="../elements/id-22de4e3cee404b4dbe1a1c631e88b401.html"  target="element">
				  				<area shape="rect" coords="698,53,878,126" href="../elements/id-a7d59a68b7014041a97046720bf10436.html"  target="element">
				  				<area shape="rect" coords="458,53,650,150" href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html"  target="element">

				  		<area shape="rect" coords="422,17,915,322" href="../elements/id-f296180604274bde8dda1334eeb14aec.html"  target="element">
				  				<area shape="rect" coords="70,46,262,143" href="../elements/id-a02fd72e70004c9f911cf97af77b8bce.html"  target="element">

				          <area shape="rect" coords="10,10,323,330" href="../objects/id-de52a0f50ff8448f9d59d2df9c27cbbb.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Artificial Intelligence Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging artificial intelligence (AI) in a business context. This view is composed of two main elements: "Business Agnostic Artificial Intelligence Business Service" and "Artificial Intelligence Enablers".

The "Business Agnostic Artificial Intelligence Business Service" is a Diagram Model-group ABB that represents a business service that is independent of any specific business context. It contains a single element, "Business Intelligence", which is a Business Service ABB that provides a digital public service related to business intelligence.

The "Artificial Intelligence Enablers" is a Grouping ABB that refers to components and services that provide the necessary infrastructure and resources for AI developers to build intelligent systems. These systems are capable of performing tasks that typically require human-like intelligence, such as perception, reasoning, learning, and decision-making. This grouping contains four elements: "Artificial Intelligence", "Machine Learning", "Artificial Intelligence Engine", and "Natural-Language Processing (NLP)".

"Artificial Intelligence" is an Application Service ABB that enables procedures to display intelligent behaviour by analysing their environment and taking actions with some degree of autonomy to achieve specific objectives.

"Machine Learning" is an Application Service ABB within the field of AI that enables systems to automatically learn and improve from experience without being explicitly programmed. It involves the development and deployment of algorithms and models that can analyze large volumes of data, identify patterns, and make predictions or decisions based on the learned patterns.

"Artificial Intelligence Engine" is an Application Service ABB that refers to a software component or service that encompasses the core capabilities of an AI system. It provides a set of algorithms, models, and tools that enable the development, deployment, and execution of AI applications. The AI engine acts as the brain behind AI-powered systems, enabling tasks such as data processing, pattern recognition, prediction, decision-making, and learning.

"Natural-Language Processing (NLP)" is an Application Service ABB that deals with the interaction between computers and humans using natural language. The ultimate objective of NLP is to read, decipher, understand, and make sense of the human language in a valuable way.

In summary, the TVA-Artificial Intelligence Enablers [Motivation] view provides a comprehensive framework for leveraging AI in a business context, including the necessary infrastructure, resources, and services to enable the development and deployment of intelligent systems.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-de52a0f50ff8448f9d59d2df9c27cbbb.html" target="element"> Business Agnostic Artificial Intelligence Business Service </a> </td>
									           <td> <a href="../objects/id-de52a0f50ff8448f9d59d2df9c27cbbb.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-a02fd72e70004c9f911cf97af77b8bce.html" target="element"> Business Intelligenge </a> </td>
													    <td> <a href="../elements/id-a02fd72e70004c9f911cf97af77b8bce.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f296180604274bde8dda1334eeb14aec.html" target="element"> Artificial Intelligence Enablers </a> </td>
											    <td> <a href="../elements/id-f296180604274bde8dda1334eeb14aec.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html" target="element"> Artificial Intelligence </a> </td>
													    <td> <a href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a7d59a68b7014041a97046720bf10436.html" target="element"> Machine learning </a> </td>
													    <td> <a href="../elements/id-a7d59a68b7014041a97046720bf10436.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-22de4e3cee404b4dbe1a1c631e88b401.html" target="element"> Artificial Intelligence Engine </a> </td>
													    <td> <a href="../elements/id-22de4e3cee404b4dbe1a1c631e88b401.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-74220658e3a64b819a770baa4df22f4e.html" target="element"> Natural-Language Processing (NLP) </a> </td>
													    <td> <a href="../elements/id-74220658e3a64b819a770baa4df22f4e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-2e5c202059df4b86ab4bafbda2b3543c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e5c202059df4b86ab4bafbda2b3543c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f296180604274bde8dda1334eeb14aec.html" target="element"> Artificial Intelligence Enablers </a> </td>
																		<td> <a href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html" target="element"> Artificial Intelligence </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b5192d8f4d21423180f324f1c4f1a6f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5192d8f4d21423180f324f1c4f1a6f1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f296180604274bde8dda1334eeb14aec.html" target="element"> Artificial Intelligence Enablers </a> </td>
																		<td> <a href="../elements/id-22de4e3cee404b4dbe1a1c631e88b401.html" target="element"> Artificial Intelligence Engine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7eaf953c066a4e90a54e71ab103e396f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7eaf953c066a4e90a54e71ab103e396f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f296180604274bde8dda1334eeb14aec.html" target="element"> Artificial Intelligence Enablers </a> </td>
																		<td> <a href="../elements/id-74220658e3a64b819a770baa4df22f4e.html" target="element"> Natural-Language Processing (NLP) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-528951a707354ac7830192a5e0cb85a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-528951a707354ac7830192a5e0cb85a2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f296180604274bde8dda1334eeb14aec.html" target="element"> Artificial Intelligence Enablers </a> </td>
																		<td> <a href="../elements/id-a7d59a68b7014041a97046720bf10436.html" target="element"> Machine learning </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-76f1c8256d3c4649b4264c4f89acf74d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-76f1c8256d3c4649b4264c4f89acf74d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html" target="element"> Artificial Intelligence </a> </td>
																				<td> <a href="../elements/id-a02fd72e70004c9f911cf97af77b8bce.html" target="element"> Business Intelligenge </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-843e99c3b6354288ba6b98988bd3f378.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-843e99c3b6354288ba6b98988bd3f378.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a7d59a68b7014041a97046720bf10436.html" target="element"> Machine learning </a> </td>
																				<td> <a href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html" target="element"> Artificial Intelligence </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c82e7d92481a4a478d969592c08a261d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c82e7d92481a4a478d969592c08a261d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-22de4e3cee404b4dbe1a1c631e88b401.html" target="element"> Artificial Intelligence Engine </a> </td>
																				<td> <a href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html" target="element"> Artificial Intelligence </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b9841815202446e5a3c0da088094dd14.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b9841815202446e5a3c0da088094dd14.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-74220658e3a64b819a770baa4df22f4e.html" target="element"> Natural-Language Processing (NLP) </a> </td>
																				<td> <a href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html" target="element"> Artificial Intelligence </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>