<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVI-Wide Area Networking [Traceability]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVI-Wide Area Networking [Traceability]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b8a4f2740c4b412db7f94f421cadb696.png" alt="TVI-Wide Area Networking [Traceability]" usemap="#id-b8a4f2740c4b412db7f94f421cadb696map"/>
			   <map name="id-b8a4f2740c4b412db7f94f421cadb696map">
				  				<area shape="rect" coords="941,46,1206,126" href="../elements/id-47ab00a7fe7747a3b705d07b3a724a8d.html"  target="element">
				  				<area shape="rect" coords="653,46,918,126" href="../elements/id-5e593d0fab4f471d999465f59cbf07e3.html"  target="element">

				  		<area shape="rect" coords="629,10,1238,155" href="../elements/id-0dea1e35b7de4614a00621b2f1d11a18.html"  target="element">
				  				<area shape="rect" coords="46,243,1823,315" href="../elements/id-cb58cd44ea6b4b2d81e3dc51d527688e.html"  target="element">
				  				<area shape="rect" coords="46,363,1823,435" href="../elements/id-6dd5804b749546bc8cc44c7ef012cc4d.html"  target="element">

				  		<area shape="rect" coords="10,207,1858,459" href="../elements/id-280d00b3ba894a5f9c6391551d1ef42b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVI-Wide Area Networking [Motivation] view extends Technical view - infrastructure and provides a comprehensive framework for leveraging different types of networks to enable communication and data exchange across geographically dispersed locations. This view is primarily composed of two main elements: 'Wide Area Networking' and 'Secure Public Network Solutions'.

The 'Wide Area Networking' is a Grouping ABB that encompasses different networks to facilitate communication and data exchange. Within this grouping, there are two Communication Network ABBs: 'Public Network' and 'Secure Public Network'. The 'Public Network' is a communication network that allows access to the public, including public administrations, businesses, and citizens, without specific authorisations. Interoperable European Solutions can rely on these Public Networks, such as the Internet, to realise the physical communication between nodes. On the other hand, the 'Secure Public Network' is a communication network that also enables public access but is specifically designed and configured to protect against unauthorized access and cyber threats.

The second main element in this view is the 'Secure Public Network Solutions', another Grouping ABB. This grouping includes two Communication Network SBBs: 'Common Communication Network (CCN)' and 'Common Communication Network 2 (CCN 2)'. Both of these networks are part of the Secure Public Network Solutions, indicating that they are designed to provide secure communication channels.

In terms of relations and motivations, the 'Wide Area Networking' grouping is motivated by the need to enable communication and data exchange across geographically dispersed locations. The inclusion of both 'Public Network' and 'Secure Public Network' within this grouping suggests a motivation to cater to different levels of security requirements. Similarly, the 'Secure Public Network Solutions' grouping, including the 'CCN' and 'CCN 2' networks, is motivated by the need for secure communication solutions. The presence of these two networks indicates a motivation to provide options for secure communication, catering to different needs or contexts.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-280d00b3ba894a5f9c6391551d1ef42b.html" target="element"> Wide Area Networking </a> </td>
											    <td> <a href="../elements/id-280d00b3ba894a5f9c6391551d1ef42b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6dd5804b749546bc8cc44c7ef012cc4d.html" target="element"> Public Network </a> </td>
													    <td> <a href="../elements/id-6dd5804b749546bc8cc44c7ef012cc4d.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cb58cd44ea6b4b2d81e3dc51d527688e.html" target="element"> Secure Public Network </a> </td>
													    <td> <a href="../elements/id-cb58cd44ea6b4b2d81e3dc51d527688e.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0dea1e35b7de4614a00621b2f1d11a18.html" target="element"> Secure Public Network Solutions </a> </td>
											    <td> <a href="../elements/id-0dea1e35b7de4614a00621b2f1d11a18.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5e593d0fab4f471d999465f59cbf07e3.html" target="element"> Common Communication Network (CCN) </a> </td>
													    <td> <a href="../elements/id-5e593d0fab4f471d999465f59cbf07e3.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-47ab00a7fe7747a3b705d07b3a724a8d.html" target="element"> Common Communication Network 2 (CCN 2) </a> </td>
													    <td> <a href="../elements/id-47ab00a7fe7747a3b705d07b3a724a8d.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6a5d44a3154f425ea0a01b5e22ea1bb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a5d44a3154f425ea0a01b5e22ea1bb6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-280d00b3ba894a5f9c6391551d1ef42b.html" target="element"> Wide Area Networking </a> </td>
																		<td> <a href="../elements/id-cb58cd44ea6b4b2d81e3dc51d527688e.html" target="element"> Secure Public Network </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4508c1b75d494453b76937d529a53d58.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4508c1b75d494453b76937d529a53d58.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-280d00b3ba894a5f9c6391551d1ef42b.html" target="element"> Wide Area Networking </a> </td>
																		<td> <a href="../elements/id-6dd5804b749546bc8cc44c7ef012cc4d.html" target="element"> Public Network </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-55ae52a2abe6410187e142d7b0242d91.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-55ae52a2abe6410187e142d7b0242d91.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cb58cd44ea6b4b2d81e3dc51d527688e.html" target="element"> Secure Public Network </a> </td>
																				<td> <a href="../elements/id-6dd5804b749546bc8cc44c7ef012cc4d.html" target="element"> Public Network </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c32bbaf98e3144a095bb7a91a694e8fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c32bbaf98e3144a095bb7a91a694e8fe.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0dea1e35b7de4614a00621b2f1d11a18.html" target="element"> Secure Public Network Solutions </a> </td>
																		<td> <a href="../elements/id-cb58cd44ea6b4b2d81e3dc51d527688e.html" target="element"> Secure Public Network </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e21f5724ac2c4a29a11d60ff8b25eb6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e21f5724ac2c4a29a11d60ff8b25eb6d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0dea1e35b7de4614a00621b2f1d11a18.html" target="element"> Secure Public Network Solutions </a> </td>
																		<td> <a href="../elements/id-5e593d0fab4f471d999465f59cbf07e3.html" target="element"> Common Communication Network (CCN) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-490d872d9b5e4bebbaada685ffeab22a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-490d872d9b5e4bebbaada685ffeab22a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0dea1e35b7de4614a00621b2f1d11a18.html" target="element"> Secure Public Network Solutions </a> </td>
																		<td> <a href="../elements/id-47ab00a7fe7747a3b705d07b3a724a8d.html" target="element"> Common Communication Network 2 (CCN 2) </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>