<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVI-Deployment model [Traceability]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVI-Deployment model [Traceability]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ce5136aa00fb4c639f173e62f5a0cd4e.png" alt="TVI-Deployment model [Traceability]" usemap="#id-ce5136aa00fb4c639f173e62f5a0cd4emap"/>
			   <map name="id-ce5136aa00fb4c639f173e62f5a0cd4emap">
				  		<area shape="rect" coords="766,432,886,487" href="../elements/id-1d44b23ab0e349c18cb22f0c7510aeb1.html"  target="element">
				  		<area shape="rect" coords="1378,190,1632,719" href="../elements/id-7f933f8dcd09425d96ec90b2ca674481.html"  target="element">
				  		<area shape="rect" coords="1089,190,1343,719" href="../elements/id-9263c9fcf983424f89e599feeaee472a.html"  target="element">
				  				<area shape="rect" coords="1161,970,1417,1006" href="../views/id-c3b8127a92a545398d5f2222d186726a.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1413,910,1573,965" href="../elements/id-e68a689420764241ad7140beef7dbec9.html"  target="element">
				  				<area shape="rect" coords="1413,814,1573,869" href="../elements/id-822a4607087d499eb3e3e991ac16a939.html"  target="element">
				  				<area shape="rect" coords="1125,910,1285,965" href="../elements/id-1c5783d785cb4c1faa2832d1a52f29ce.html"  target="element">
				  				<area shape="rect" coords="1125,814,1285,869" href="../elements/id-39d20564974e4bfb81df74ee030106d4.html"  target="element">

				  		<area shape="rect" coords="1089,778,1631,1018" href="../elements/id-6eb3de50b960434ca85607ba1923f396.html"  target="element">
				  				<area shape="rect" coords="238,910,358,965" href="../views/id-c83836449bfa40299f07db29e53218b4.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="130,826,274,898" href="../elements/id-ed7ff62f7f1741eeb87720883bb56a3f.html"  target="element">
				  				<area shape="rect" coords="310,826,454,898" href="../elements/id-f44b6f129a254e58916b9a82e30a6287.html"  target="element">

				  		<area shape="rect" coords="94,790,502,994" href="../elements/id-f3d6666c82544276a19a22648ba6e5e8.html"  target="element">
				  		<area shape="rect" coords="766,850,886,905" href="../elements/id-cdfed5e4831a47b8adbe3138b8f43da6.html"  target="element">
				  		<area shape="rect" coords="766,568,886,623" href="../elements/id-551779c10e8e448fbe21a4c5d0756e43.html"  target="element">
				  		<area shape="rect" coords="730,646,922,718" href="../elements/id-ace043ecf5954e3e9f550ab4f2639182.html"  target="element">
				          <area shape="rect" coords="621,10,1054,94" href="../objects/id-9f2250f0ce784bed98dc24bbd3804a61.html" target="element" >
				  		<area shape="rect" coords="754,1323,922,1420" href="../elements/id-6771d8a932fb4b4f8162c29ddf13a2a3.html"  target="element">
				  		<area shape="rect" coords="1750,1215,1918,1312" href="../elements/id-5391eb73ae5b4494bf05974c95f419f2.html"  target="element">
				  		<area shape="rect" coords="1750,1323,1918,1420" href="../elements/id-3ac903aa60a8455ab8ad9bdd14f766f9.html"  target="element">
				  		<area shape="rect" coords="754,1215,922,1312" href="../elements/id-5da7dceaaad74e168bcae1eb454d26e9.html"  target="element">
				  		<area shape="rect" coords="730,214,922,286" href="../elements/id-0cef956dfbb14678993b9823e0229599.html"  target="element">
				  		<area shape="rect" coords="766,310,886,365" href="../elements/id-ac25c835ea9442f9b9dd4ec18818a009.html"  target="element">
				  		<area shape="rect" coords="34,178,586,742" href="../elements/id-e554d7a9ba044676ae5e9ce86a41d561.html"  target="element">
				  										<area shape="rect" coords="1185,1210,1582,1282" href="../elements/id-a512b05f640a44a695fd131c7fc5c423.html"  target="element">

				  								<area shape="rect" coords="1173,1174,1593,1294" href="../elements/id-576dbcf214ff40b19b0c2d208edb6063.html"  target="element">

				  						<area shape="rect" coords="1149,1138,1617,1318" href="../elements/id-898c74f3c5634ad992ee69efa0f18012.html"  target="element">

				  				<area shape="rect" coords="1125,1102,1637,1343" href="../elements/id-80993d3be86840ada2ad636f0bf994b1.html"  target="element">

				  		<area shape="rect" coords="1089,1078,1665,1390" href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html"  target="element">
				  				<area shape="rect" coords="106,1186,515,1246" href="../elements/id-61a50d46c04b4a469c2a09d716b99f9d.html"  target="element">

				  		<area shape="rect" coords="10,1078,586,1390" href="../elements/id-1f474e9a16594f4187aa0d72ac17815f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1f474e9a16594f4187aa0d72ac17815f.html" target="element"> On Premise Facility </a> </td>
											    <td> <a href="../elements/id-1f474e9a16594f4187aa0d72ac17815f.html" target="element" class="i18n-elementtype-Facility">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-61a50d46c04b4a469c2a09d716b99f9d.html" target="element"> Local Area Network </a> </td>
													    <td> <a href="../elements/id-61a50d46c04b4a469c2a09d716b99f9d.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html" target="element"> Cloud Computing Facility </a> </td>
											    <td> <a href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html" target="element" class="i18n-elementtype-Facility">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-80993d3be86840ada2ad636f0bf994b1.html" target="element"> Saas </a> </td>
													    <td> <a href="../elements/id-80993d3be86840ada2ad636f0bf994b1.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-898c74f3c5634ad992ee69efa0f18012.html" target="element"> PaaS </a> </td>
															    <td> <a href="../elements/id-898c74f3c5634ad992ee69efa0f18012.html" target="element" class="i18n-elementtype-TechnologyService">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-576dbcf214ff40b19b0c2d208edb6063.html" target="element"> IaaS </a> </td>
																	    <td> <a href="../elements/id-576dbcf214ff40b19b0c2d208edb6063.html" target="element" class="i18n-elementtype-TechnologyService">
																	    </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/id-a512b05f640a44a695fd131c7fc5c423.html" target="element"> Cloud Private Network </a> </td>
																			    <td> <a href="../elements/id-a512b05f640a44a695fd131c7fc5c423.html" target="element" class="i18n-elementtype-CommunicationNetwork">
																			    </a> </td>
																			</tr>

																	
															
													
											
											<tr>
											    <td> <a href="../elements/id-e554d7a9ba044676ae5e9ce86a41d561.html" target="element"> Deployment on Virtual machines </a> </td>
											    <td> <a href="../elements/id-e554d7a9ba044676ae5e9ce86a41d561.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac25c835ea9442f9b9dd4ec18818a009.html" target="element"> {OR} </a> </td>
											    <td> <a href="../elements/id-ac25c835ea9442f9b9dd4ec18818a009.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0cef956dfbb14678993b9823e0229599.html" target="element"> Shared Platform </a> </td>
											    <td> <a href="../elements/id-0cef956dfbb14678993b9823e0229599.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5da7dceaaad74e168bcae1eb454d26e9.html" target="element"> Hybrid Cloud Facility </a> </td>
											    <td> <a href="../elements/id-5da7dceaaad74e168bcae1eb454d26e9.html" target="element" class="i18n-elementtype-Facility">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3ac903aa60a8455ab8ad9bdd14f766f9.html" target="element"> Private Cloud Computing Facility </a> </td>
											    <td> <a href="../elements/id-3ac903aa60a8455ab8ad9bdd14f766f9.html" target="element" class="i18n-elementtype-Facility">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5391eb73ae5b4494bf05974c95f419f2.html" target="element"> Public Cloud Computing Facility </a> </td>
											    <td> <a href="../elements/id-5391eb73ae5b4494bf05974c95f419f2.html" target="element" class="i18n-elementtype-Facility">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6771d8a932fb4b4f8162c29ddf13a2a3.html" target="element"> Edge Computing </a> </td>
											    <td> <a href="../elements/id-6771d8a932fb4b4f8162c29ddf13a2a3.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-9f2250f0ce784bed98dc24bbd3804a61.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9f2250f0ce784bed98dc24bbd3804a61.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-ace043ecf5954e3e9f550ab4f2639182.html" target="element"> Computing Hosting, Networking, and Data Hosting Infrastructure Registry </a> </td>
											    <td> <a href="../elements/id-ace043ecf5954e3e9f550ab4f2639182.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-551779c10e8e448fbe21a4c5d0756e43.html" target="element"> {OR} </a> </td>
											    <td> <a href="../elements/id-551779c10e8e448fbe21a4c5d0756e43.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cdfed5e4831a47b8adbe3138b8f43da6.html" target="element"> {OR} </a> </td>
											    <td> <a href="../elements/id-cdfed5e4831a47b8adbe3138b8f43da6.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3d6666c82544276a19a22648ba6e5e8.html" target="element"> Computing Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-f3d6666c82544276a19a22648ba6e5e8.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f44b6f129a254e58916b9a82e30a6287.html" target="element"> Virtual Machine </a> </td>
													    <td> <a href="../elements/id-f44b6f129a254e58916b9a82e30a6287.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ed7ff62f7f1741eeb87720883bb56a3f.html" target="element"> Server </a> </td>
													    <td> <a href="../elements/id-ed7ff62f7f1741eeb87720883bb56a3f.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../views/id-c83836449bfa40299f07db29e53218b4.html" target="view"> TVI-Computing Infrastructure Enablers [Traceability] </a> </td>
													    <td> <a href="../views/id-c83836449bfa40299f07db29e53218b4.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
													    <td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1c5783d785cb4c1faa2832d1a52f29ce.html" target="element"> Containers Orchestrator </a> </td>
													    <td> <a href="../elements/id-1c5783d785cb4c1faa2832d1a52f29ce.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element"> Container Registry </a> </td>
													    <td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e68a689420764241ad7140beef7dbec9.html" target="element"> Container </a> </td>
													    <td> <a href="../elements/id-e68a689420764241ad7140beef7dbec9.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../views/id-c3b8127a92a545398d5f2222d186726a.html" target="view"> TVI-Workflow Orchestration and Containers Infrastructure Enablers [Traceability] </a> </td>
													    <td> <a href="../views/id-c3b8127a92a545398d5f2222d186726a.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-9263c9fcf983424f89e599feeaee472a.html" target="element"> Deployment on Containers </a> </td>
											    <td> <a href="../elements/id-9263c9fcf983424f89e599feeaee472a.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f933f8dcd09425d96ec90b2ca674481.html" target="element"> Container Images </a> </td>
											    <td> <a href="../elements/id-7f933f8dcd09425d96ec90b2ca674481.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1d44b23ab0e349c18cb22f0c7510aeb1.html" target="element"> {XOR} </a> </td>
											    <td> <a href="../elements/id-1d44b23ab0e349c18cb22f0c7510aeb1.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											
																	<tr>
																		<td> <a href="../elements/id-d0efb3546bb4482eb5a61f1ed3e67929.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d0efb3546bb4482eb5a61f1ed3e67929.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html" target="element"> Cloud Computing Facility </a> </td>
																		<td> <a href="../elements/id-80993d3be86840ada2ad636f0bf994b1.html" target="element"> Saas </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5e62382cd8ee4f09ae2d77ce2e4c653c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5e62382cd8ee4f09ae2d77ce2e4c653c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-80993d3be86840ada2ad636f0bf994b1.html" target="element"> Saas </a> </td>
																				<td> <a href="../elements/id-898c74f3c5634ad992ee69efa0f18012.html" target="element"> PaaS </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-ba9fae16dfeb425baab183cb8a519a7d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-ba9fae16dfeb425baab183cb8a519a7d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-898c74f3c5634ad992ee69efa0f18012.html" target="element"> PaaS </a> </td>
																						<td> <a href="../elements/id-576dbcf214ff40b19b0c2d208edb6063.html" target="element"> IaaS </a> </td>
																					</tr>

																	
															
													
											
																	<tr>
																		<td> <a href="../elements/id-75a211648393486f9b11c8ac8ee38e1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75a211648393486f9b11c8ac8ee38e1e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac25c835ea9442f9b9dd4ec18818a009.html" target="element"> {OR} </a> </td>
																		<td> <a href="../elements/id-e554d7a9ba044676ae5e9ce86a41d561.html" target="element"> Deployment on Virtual machines </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7501cbe042274e16bb1db47857939d62.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7501cbe042274e16bb1db47857939d62.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac25c835ea9442f9b9dd4ec18818a009.html" target="element"> {OR} </a> </td>
																		<td> <a href="../elements/id-9263c9fcf983424f89e599feeaee472a.html" target="element"> Deployment on Containers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7e3490f6625e4c77a66e42cd94dc064b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e3490f6625e4c77a66e42cd94dc064b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0cef956dfbb14678993b9823e0229599.html" target="element"> Shared Platform </a> </td>
																		<td> <a href="../elements/id-ac25c835ea9442f9b9dd4ec18818a009.html" target="element"> {OR} </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-01b29bacb7c844848367f4e53ff1801d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01b29bacb7c844848367f4e53ff1801d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5da7dceaaad74e168bcae1eb454d26e9.html" target="element"> Hybrid Cloud Facility </a> </td>
																		<td> <a href="../elements/id-1f474e9a16594f4187aa0d72ac17815f.html" target="element"> On Premise Facility </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-83f984f82c0c4feeb4c037bc5434d3c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83f984f82c0c4feeb4c037bc5434d3c4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5da7dceaaad74e168bcae1eb454d26e9.html" target="element"> Hybrid Cloud Facility </a> </td>
																		<td> <a href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html" target="element"> Cloud Computing Facility </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c994a264ac0a4755a39a7ca34fad9415.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c994a264ac0a4755a39a7ca34fad9415.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3ac903aa60a8455ab8ad9bdd14f766f9.html" target="element"> Private Cloud Computing Facility </a> </td>
																		<td> <a href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html" target="element"> Cloud Computing Facility </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f421f124a6ac4f9cbd07c0e76a8703b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f421f124a6ac4f9cbd07c0e76a8703b2.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5391eb73ae5b4494bf05974c95f419f2.html" target="element"> Public Cloud Computing Facility </a> </td>
																		<td> <a href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html" target="element"> Cloud Computing Facility </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1ff35f26fe7d4247aef14abf4bb30607.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ff35f26fe7d4247aef14abf4bb30607.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6771d8a932fb4b4f8162c29ddf13a2a3.html" target="element"> Edge Computing </a> </td>
																		<td> <a href="../elements/id-4c67c6ab5a7e46e4911be1dfb896982f.html" target="element"> Cloud Computing Facility </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0953d20fe6634b1e95c9a765818a98bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0953d20fe6634b1e95c9a765818a98bb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6771d8a932fb4b4f8162c29ddf13a2a3.html" target="element"> Edge Computing </a> </td>
																		<td> <a href="../elements/id-1f474e9a16594f4187aa0d72ac17815f.html" target="element"> On Premise Facility </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-65a1afaa23c1437091771ff0eda1c4a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65a1afaa23c1437091771ff0eda1c4a1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ace043ecf5954e3e9f550ab4f2639182.html" target="element"> Computing Hosting, Networking, and Data Hosting Infrastructure Registry </a> </td>
																		<td> <a href="../elements/id-551779c10e8e448fbe21a4c5d0756e43.html" target="element"> {OR} </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5f141a859e2944cabc6506d10ec67f43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f141a859e2944cabc6506d10ec67f43.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-551779c10e8e448fbe21a4c5d0756e43.html" target="element"> {OR} </a> </td>
																		<td> <a href="../elements/id-e554d7a9ba044676ae5e9ce86a41d561.html" target="element"> Deployment on Virtual machines </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-86c54470a3fb45999de5897cd9a04081.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-86c54470a3fb45999de5897cd9a04081.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-551779c10e8e448fbe21a4c5d0756e43.html" target="element"> {OR} </a> </td>
																		<td> <a href="../elements/id-9263c9fcf983424f89e599feeaee472a.html" target="element"> Deployment on Containers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bbb3cac01aa0465586ee58c75b22edf4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bbb3cac01aa0465586ee58c75b22edf4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdfed5e4831a47b8adbe3138b8f43da6.html" target="element"> {OR} </a> </td>
																		<td> <a href="../elements/id-1f474e9a16594f4187aa0d72ac17815f.html" target="element"> On Premise Facility </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b62b83006ca459ea6aa8a57a15a7764.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b62b83006ca459ea6aa8a57a15a7764.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdfed5e4831a47b8adbe3138b8f43da6.html" target="element"> {OR} </a> </td>
																		<td> <a href="../elements/id-576dbcf214ff40b19b0c2d208edb6063.html" target="element"> IaaS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-698ccd57e4c94c35a5fce3bc3a882757.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-698ccd57e4c94c35a5fce3bc3a882757.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdfed5e4831a47b8adbe3138b8f43da6.html" target="element"> {OR} </a> </td>
																		<td> <a href="../elements/id-898c74f3c5634ad992ee69efa0f18012.html" target="element"> PaaS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-194048142745401f959e454ea46020e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-194048142745401f959e454ea46020e3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3d6666c82544276a19a22648ba6e5e8.html" target="element"> Computing Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-ed7ff62f7f1741eeb87720883bb56a3f.html" target="element"> Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f78fe4a35d534d3581c87ee6393044f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f78fe4a35d534d3581c87ee6393044f1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3d6666c82544276a19a22648ba6e5e8.html" target="element"> Computing Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-f44b6f129a254e58916b9a82e30a6287.html" target="element"> Virtual Machine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2c5fddf19934da480ea400488dc920c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2c5fddf19934da480ea400488dc920c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3d6666c82544276a19a22648ba6e5e8.html" target="element"> Computing Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-e554d7a9ba044676ae5e9ce86a41d561.html" target="element"> Deployment on Virtual machines </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b85803c5d2244bc98ba27fe6f3c8219f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b85803c5d2244bc98ba27fe6f3c8219f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3d6666c82544276a19a22648ba6e5e8.html" target="element"> Computing Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-cdfed5e4831a47b8adbe3138b8f43da6.html" target="element"> {OR} </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7644fed2baa74c20ad4615f12400e14b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7644fed2baa74c20ad4615f12400e14b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f44b6f129a254e58916b9a82e30a6287.html" target="element"> Virtual Machine </a> </td>
																				<td> <a href="../elements/id-ed7ff62f7f1741eeb87720883bb56a3f.html" target="element"> Server </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
																	<tr>
																		<td> <a href="../elements/id-7e19641181f14482944de8012c6c9938.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e19641181f14482944de8012c6c9938.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element"> Container Registry </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5bca9d50eb64d5eb3810b79c02873ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5bca9d50eb64d5eb3810b79c02873ea.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-1c5783d785cb4c1faa2832d1a52f29ce.html" target="element"> Containers Orchestrator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f58bd56632214fa29567f9b3b759a745.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f58bd56632214fa29567f9b3b759a745.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4bc4dbd7cb9d43dea708187f83e9b8ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4bc4dbd7cb9d43dea708187f83e9b8ec.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-e68a689420764241ad7140beef7dbec9.html" target="element"> Container </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7bf1577a2e414aeebc638e51e98af3eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bf1577a2e414aeebc638e51e98af3eb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-cdfed5e4831a47b8adbe3138b8f43da6.html" target="element"> {OR} </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-82ea42992c9d4883a80e8af15bc8a244.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-82ea42992c9d4883a80e8af15bc8a244.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
																				<td> <a href="../elements/id-9263c9fcf983424f89e599feeaee472a.html" target="element"> Deployment on Containers </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-37e0c66b227a4965b59c0c804460b307.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-37e0c66b227a4965b59c0c804460b307.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1c5783d785cb4c1faa2832d1a52f29ce.html" target="element"> Containers Orchestrator </a> </td>
																				<td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d7d44fe1e20e443786c8ed15277b2d81.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d7d44fe1e20e443786c8ed15277b2d81.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element"> Container Registry </a> </td>
																				<td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-79ff1f940a0d48aba203f44a94d3a69d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-79ff1f940a0d48aba203f44a94d3a69d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element"> Container Registry </a> </td>
																				<td> <a href="../elements/id-e68a689420764241ad7140beef7dbec9.html" target="element"> Container </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2781440531e049fba9e33fdb6696170a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2781440531e049fba9e33fdb6696170a.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element"> Container Registry </a> </td>
																				<td> <a href="../elements/id-7f933f8dcd09425d96ec90b2ca674481.html" target="element"> Container Images </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e3543df7805c4f24b075401a75317a3b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e3543df7805c4f24b075401a75317a3b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e68a689420764241ad7140beef7dbec9.html" target="element"> Container </a> </td>
																				<td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
																	<tr>
																		<td> <a href="../elements/id-4a82f4d619a04834bad89969d1598cca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a82f4d619a04834bad89969d1598cca.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7f933f8dcd09425d96ec90b2ca674481.html" target="element"> Container Images </a> </td>
																		<td> <a href="../elements/id-9263c9fcf983424f89e599feeaee472a.html" target="element"> Deployment on Containers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a85b201a10e44a37b224ca7d8e2d1e8f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a85b201a10e44a37b224ca7d8e2d1e8f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1d44b23ab0e349c18cb22f0c7510aeb1.html" target="element"> {XOR} </a> </td>
																		<td> <a href="../elements/id-551779c10e8e448fbe21a4c5d0756e43.html" target="element"> {OR} </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f2b03b9e796843d993f54708f278f7f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2b03b9e796843d993f54708f278f7f5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1d44b23ab0e349c18cb22f0c7510aeb1.html" target="element"> {XOR} </a> </td>
																		<td> <a href="../elements/id-ac25c835ea9442f9b9dd4ec18818a009.html" target="element"> {OR} </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>