<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Orchestration Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Orchestration Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d4a9aea383a0486aa5fc41d209c8c3ca.png" alt="TVA-Orchestration Enablers [Motivation]" usemap="#id-d4a9aea383a0486aa5fc41d209c8c3camap"/>
			   <map name="id-d4a9aea383a0486aa5fc41d209c8c3camap">
				  				<area shape="rect" coords="274,418,430,503" href="../elements/id-529d4744f2b24e05986b37158e2e2d7a.html"  target="element">
				  				<area shape="rect" coords="82,418,238,503" href="../elements/id-3c3aabe21ba5474b9b2fcf2752d3ade4.html"  target="element">

				  		<area shape="rect" coords="46,382,467,527" href="../elements/id-56e554956baf41fd870ae26e4ced3523.html"  target="element">
				  				<area shape="rect" coords="286,45,466,154" href="../elements/id-93ba5a8715fb44edab4280ad1db903ff.html"  target="element">
				  				<area shape="rect" coords="34,202,228,305" href="../elements/id-8d64a7722d84459a9fe0e092f6aa9417.html"  target="element">
				  				<area shape="rect" coords="34,45,228,154" href="../elements/id-ec908c13bdfc46439b1f5e6607347acc.html"  target="element">

				  		<area shape="rect" coords="10,10,503,324" href="../elements/id-25398b5d11774335825b6e54642f55a5.html"  target="element">
				  				<area shape="rect" coords="658,58,838,167" href="../elements/id-e9d9a86485854b0b892383dd41980094.html"  target="element">

				          <area shape="rect" coords="598,10,899,203" href="../objects/id-31c5c8389c434bbca44427c93d8161b2.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Orchestration Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging various elements that facilitate business agnostic orchestration. 

The first element is the "Business Agnostic Orchestration Business Service," which is a Diagram Model-group ABB. This element encapsulates the "Workflow Management" service, a Business Service ABB that provides a digital public service for managing workflows.

The second element is the "Orchestration Enablers," a Grouping ABB that refers to the components and practices supporting the development and deployment of orchestration applications. This group includes three sub-elements: "Orchestration" as an Application Service ABB, "Orchestration" as an Application Component ABB, and "Workflow Management" as an Application Service ABB. The "Orchestration" Application Service ABB enables the definition of the sequence and conditions in which one service invokes other services to realize some useful function. The "Orchestration" Application Component ABB enables the coordination and management of the execution of multiple components or services within an application or system. The "Workflow Management" Application Service ABB, also known as Orchestration Application Service, refers to a software solution or service that enables the design, execution, and coordination of workflows within an organization.

The third element is the "Business Agnostic Orchestration Solutions," a Grouping SBB that serves as a catalogue for orchestration solutions. This group includes two sub-elements: "Apache Airflow" and "Apache Beam," both of which are Application Service SBBs. These services represent specific orchestration solutions that can be utilized in the orchestration process.

The motivation behind this view is to provide a comprehensive understanding of the various elements and their interrelations that enable effective orchestration in a business-agnostic manner. This includes the services, components, and specific solutions that can be leveraged to design, execute, and manage workflows and orchestration processes within an organization.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-31c5c8389c434bbca44427c93d8161b2.html" target="element"> Business Agnostic Orchestration Business Service </a> </td>
									           <td> <a href="../objects/id-31c5c8389c434bbca44427c93d8161b2.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-e9d9a86485854b0b892383dd41980094.html" target="element"> Workflow Management </a> </td>
													    <td> <a href="../elements/id-e9d9a86485854b0b892383dd41980094.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-25398b5d11774335825b6e54642f55a5.html" target="element"> Orchestration Enablers </a> </td>
											    <td> <a href="../elements/id-25398b5d11774335825b6e54642f55a5.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ec908c13bdfc46439b1f5e6607347acc.html" target="element"> Orchestration </a> </td>
													    <td> <a href="../elements/id-ec908c13bdfc46439b1f5e6607347acc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8d64a7722d84459a9fe0e092f6aa9417.html" target="element"> Orchestration </a> </td>
													    <td> <a href="../elements/id-8d64a7722d84459a9fe0e092f6aa9417.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-93ba5a8715fb44edab4280ad1db903ff.html" target="element"> Workflow Management </a> </td>
													    <td> <a href="../elements/id-93ba5a8715fb44edab4280ad1db903ff.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-56e554956baf41fd870ae26e4ced3523.html" target="element"> Business Agnostic Orchestration Solutions </a> </td>
											    <td> <a href="../elements/id-56e554956baf41fd870ae26e4ced3523.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3c3aabe21ba5474b9b2fcf2752d3ade4.html" target="element"> Apache Airflow </a> </td>
													    <td> <a href="../elements/id-3c3aabe21ba5474b9b2fcf2752d3ade4.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-529d4744f2b24e05986b37158e2e2d7a.html" target="element"> Apache Beam </a> </td>
													    <td> <a href="../elements/id-529d4744f2b24e05986b37158e2e2d7a.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-ec0bfb9a65f1435181af2d0fa226a4d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec0bfb9a65f1435181af2d0fa226a4d5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-25398b5d11774335825b6e54642f55a5.html" target="element"> Orchestration Enablers </a> </td>
																		<td> <a href="../elements/id-ec908c13bdfc46439b1f5e6607347acc.html" target="element"> Orchestration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2fb1961f380e4e8fac7a5b5bbf093aa0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2fb1961f380e4e8fac7a5b5bbf093aa0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-25398b5d11774335825b6e54642f55a5.html" target="element"> Orchestration Enablers </a> </td>
																		<td> <a href="../elements/id-8d64a7722d84459a9fe0e092f6aa9417.html" target="element"> Orchestration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-12f2cb6605bf4d35af8d8cb21564c8e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12f2cb6605bf4d35af8d8cb21564c8e5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-25398b5d11774335825b6e54642f55a5.html" target="element"> Orchestration Enablers </a> </td>
																		<td> <a href="../elements/id-93ba5a8715fb44edab4280ad1db903ff.html" target="element"> Workflow Management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-21f9d94181434dd88a653cc7ef51a75c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-21f9d94181434dd88a653cc7ef51a75c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8d64a7722d84459a9fe0e092f6aa9417.html" target="element"> Orchestration </a> </td>
																				<td> <a href="../elements/id-ec908c13bdfc46439b1f5e6607347acc.html" target="element"> Orchestration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-52516f3d440c4bb58dd96458179702aa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-52516f3d440c4bb58dd96458179702aa.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8d64a7722d84459a9fe0e092f6aa9417.html" target="element"> Orchestration </a> </td>
																				<td> <a href="../elements/id-93ba5a8715fb44edab4280ad1db903ff.html" target="element"> Workflow Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f5f09eca859441de9fa37f1f30b06c88.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f5f09eca859441de9fa37f1f30b06c88.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-93ba5a8715fb44edab4280ad1db903ff.html" target="element"> Workflow Management </a> </td>
																				<td> <a href="../elements/id-e9d9a86485854b0b892383dd41980094.html" target="element"> Workflow Management </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-29d23b1b1eb54a28bd11d6aa272a783d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29d23b1b1eb54a28bd11d6aa272a783d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-56e554956baf41fd870ae26e4ced3523.html" target="element"> Business Agnostic Orchestration Solutions </a> </td>
																		<td> <a href="../elements/id-529d4744f2b24e05986b37158e2e2d7a.html" target="element"> Apache Beam </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8f5180bfa504777811d513db31dff5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8f5180bfa504777811d513db31dff5e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-56e554956baf41fd870ae26e4ced3523.html" target="element"> Business Agnostic Orchestration Solutions </a> </td>
																		<td> <a href="../elements/id-3c3aabe21ba5474b9b2fcf2752d3ade4.html" target="element"> Apache Airflow </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9be468f416b7453eb1492c9c95fdc2db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9be468f416b7453eb1492c9c95fdc2db.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-56e554956baf41fd870ae26e4ced3523.html" target="element"> Business Agnostic Orchestration Solutions </a> </td>
																		<td> <a href="../elements/id-25398b5d11774335825b6e54642f55a5.html" target="element"> Orchestration Enablers </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>