<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Translation Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Translation Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fdcc90f7c00d42c486533fabb9303716.png" alt="TVA-Translation Enablers [Motivation]" usemap="#id-fdcc90f7c00d42c486533fabb9303716map"/>
			   <map name="id-fdcc90f7c00d42c486533fabb9303716map">
				  				<area shape="rect" coords="790,46,982,143" href="../elements/id-e0fb9113808849bfa721b6958ccbabc1.html"  target="element">

				  		<area shape="rect" coords="766,10,1011,167" href="../elements/id-fd8304aa030941bcab198a6fa7ea4db1.html"  target="element">
				  				<area shape="rect" coords="402,46,594,143" href="../elements/id-8a9e83419fed45c4898f42302c9bd13c.html"  target="element">

				  		<area shape="rect" coords="378,10,623,167" href="../elements/id-7a75d6624d2d406eb6a439b2775756c8.html"  target="element">
				  				<area shape="rect" coords="34,46,226,143" href="../elements/id-9e9af4354ced4bab98e90ee315cd56e0.html"  target="element">

				          <area shape="rect" coords="10,10,255,167" href="../objects/id-4195211105b14ba4a9ce4020893a2639.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Translation Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging various elements related to translation services and solutions. This view is composed of three main elements: 'Business Agnostic eTranslation Services', 'Translation Enablers', and 'Business Agnostic Translation Solutions'.

The 'Business Agnostic eTranslation Services' is a Diagram Model-group ABB that encapsulates the business services related to eTranslation. It includes the 'eTranslation' Business Service ABB, which represents the digital public service for eTranslation. This service is business-agnostic, meaning it can be applied across various business domains.

The 'Translation Enablers' is a Grouping ABB that refers to tools or components that facilitate the translation of text from one language to another using machine learning techniques. It includes the 'Machine Translation' Application Service ABB, which enables the procedures for automated translation of text, metadata, and concept classes or nomenclatures. This application service is a key enabler for the translation process, leveraging machine learning techniques to automate and streamline the translation tasks.

The 'Business Agnostic Translation Solutions' is a Grouping SBB that represents a catalogue of translation solutions. It includes the 'eTranslation' Application Service SBB, which represents the application service for eTranslation. This service is part of the translation solutions that are business-agnostic, meaning they can be applied across various business domains.

In terms of relations, the 'Business Agnostic eTranslation Services' and 'Business Agnostic Translation Solutions' are related as they both provide business-agnostic services and solutions for translation. The 'Translation Enablers' is related to both as it provides the necessary tools and components that enable the translation services and solutions. The motivation behind these elements is to provide comprehensive and versatile translation services and solutions that can be applied across various business domains, leveraging machine learning techniques to automate and streamline the translation tasks.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-4195211105b14ba4a9ce4020893a2639.html" target="element"> Business Agnostic eTranslation Services </a> </td>
									           <td> <a href="../objects/id-4195211105b14ba4a9ce4020893a2639.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-9e9af4354ced4bab98e90ee315cd56e0.html" target="element"> eTranslation </a> </td>
													    <td> <a href="../elements/id-9e9af4354ced4bab98e90ee315cd56e0.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7a75d6624d2d406eb6a439b2775756c8.html" target="element"> Translation Enablers </a> </td>
											    <td> <a href="../elements/id-7a75d6624d2d406eb6a439b2775756c8.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8a9e83419fed45c4898f42302c9bd13c.html" target="element"> Machine Translation </a> </td>
													    <td> <a href="../elements/id-8a9e83419fed45c4898f42302c9bd13c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-fd8304aa030941bcab198a6fa7ea4db1.html" target="element"> Business Agnostic Translation Solutions </a> </td>
											    <td> <a href="../elements/id-fd8304aa030941bcab198a6fa7ea4db1.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e0fb9113808849bfa721b6958ccbabc1.html" target="element"> eTranslation </a> </td>
													    <td> <a href="../elements/id-e0fb9113808849bfa721b6958ccbabc1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																			<tr>
																				<td> <a href="../elements/id-6d7a83c8f12d4be6bc5414aab95498f8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6d7a83c8f12d4be6bc5414aab95498f8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8a9e83419fed45c4898f42302c9bd13c.html" target="element"> Machine Translation </a> </td>
																				<td> <a href="../elements/id-9e9af4354ced4bab98e90ee315cd56e0.html" target="element"> eTranslation </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c68ba7710b1c496aa8f6f586547bcfbe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c68ba7710b1c496aa8f6f586547bcfbe.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fd8304aa030941bcab198a6fa7ea4db1.html" target="element"> Business Agnostic Translation Solutions </a> </td>
																		<td> <a href="../elements/id-e0fb9113808849bfa721b6958ccbabc1.html" target="element"> eTranslation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e32914f8706b47f68cc4620f8a7a1514.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e32914f8706b47f68cc4620f8a7a1514.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fd8304aa030941bcab198a6fa7ea4db1.html" target="element"> Business Agnostic Translation Solutions </a> </td>
																		<td> <a href="../elements/id-7a75d6624d2d406eb6a439b2775756c8.html" target="element"> Translation Enablers </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>