<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Data Exchange Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Data Exchange Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1ff8843cabbc4ad4a10acd3a03454ab3.png" alt="TVA-Data Exchange Enablers [Motivation]" usemap="#id-1ff8843cabbc4ad4a10acd3a03454ab3map"/>
			   <map name="id-1ff8843cabbc4ad4a10acd3a03454ab3map">
				  				<area shape="rect" coords="454,58,622,155" href="../elements/id-d2f56a56955f472eaafc670eb8569217.html"  target="element">
				  				<area shape="rect" coords="454,190,622,287" href="../elements/id-8ba8f9ec59df4e5f8dae22dd2c717874.html"  target="element">

				  		<area shape="rect" coords="418,10,662,335" href="../elements/id-21e31e6f67dc446db73e777140069f8e.html"  target="element">
				  				<area shape="rect" coords="58,148,238,221" href="../elements/id-eeafe407a598495d934c0ef54173d17b.html"  target="element">

				          <area shape="rect" coords="10,88,299,257" href="../objects/id-6f35eda58b37465aa1fb0394a5bb7dbd.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Data Exchange Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging the Business Agnostic Data Exchange Business Service and Data Exchange Enablers. 

The Business Agnostic Data Exchange Business Service, as depicted in the Diagram Model-group ABB, is a crucial element in this view. It is further detailed by the Data Exchange element, which is a Business Service ABB. The Data Exchange Digital Public Service is designed to facilitate the exchange of data in a business-agnostic manner, meaning it can be used across various business domains.

The Data Exchange Enablers, represented as a Grouping ABB, are essential components that facilitate the exchange of data between systems or applications. This grouping includes two Application Service ABBs: the Once-Only Technical System and the Data Exchange.

The Once-Only Technical System (OOTS) is a cross-sectorial service that enables the sharing of information between public administrations across borders between EU countries. It can be expanded beyond the current scope of life events set out in the Single Digital Gateway Regulation. The OOTS puts into practice the Once-Only Principle, which states that citizens should not be forced to provide information to authorities if another authority already holds that information in electronic format.

The Data Exchange is another Application Service ABB within the Data Exchange Enablers grouping. This service enables the secure exchange of messages, records, forms, and other kinds of data between different individuals, organizations, or systems. This includes data routing, except endpoint discovery.

In summary, the TVA-Data Exchange Enablers [Motivation] view provides a comprehensive framework that leverages the Business Agnostic Data Exchange Business Service and Data Exchange Enablers to facilitate secure and efficient data exchange across different systems, applications, and borders.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-6f35eda58b37465aa1fb0394a5bb7dbd.html" target="element"> Business Agnostic Data Exchange Business Service </a> </td>
									           <td> <a href="../objects/id-6f35eda58b37465aa1fb0394a5bb7dbd.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-eeafe407a598495d934c0ef54173d17b.html" target="element"> Data Exchange </a> </td>
													    <td> <a href="../elements/id-eeafe407a598495d934c0ef54173d17b.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-21e31e6f67dc446db73e777140069f8e.html" target="element"> Data Exchange Enablers </a> </td>
											    <td> <a href="../elements/id-21e31e6f67dc446db73e777140069f8e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8ba8f9ec59df4e5f8dae22dd2c717874.html" target="element"> Once-Only Technical System </a> </td>
													    <td> <a href="../elements/id-8ba8f9ec59df4e5f8dae22dd2c717874.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d2f56a56955f472eaafc670eb8569217.html" target="element"> Data Exchange </a> </td>
													    <td> <a href="../elements/id-d2f56a56955f472eaafc670eb8569217.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-4401f696185b4859b38423cad83a76e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4401f696185b4859b38423cad83a76e4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21e31e6f67dc446db73e777140069f8e.html" target="element"> Data Exchange Enablers </a> </td>
																		<td> <a href="../elements/id-d2f56a56955f472eaafc670eb8569217.html" target="element"> Data Exchange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-47f75a8e239240bb8121d5ccf8203cc6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47f75a8e239240bb8121d5ccf8203cc6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21e31e6f67dc446db73e777140069f8e.html" target="element"> Data Exchange Enablers </a> </td>
																		<td> <a href="../elements/id-8ba8f9ec59df4e5f8dae22dd2c717874.html" target="element"> Once-Only Technical System </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-8535fba70b0347de9950b5d105620a7c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8535fba70b0347de9950b5d105620a7c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8ba8f9ec59df4e5f8dae22dd2c717874.html" target="element"> Once-Only Technical System </a> </td>
																				<td> <a href="../elements/id-eeafe407a598495d934c0ef54173d17b.html" target="element"> Data Exchange </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-401dc78503ef4338b81751a1b227eac7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-401dc78503ef4338b81751a1b227eac7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d2f56a56955f472eaafc670eb8569217.html" target="element"> Data Exchange </a> </td>
																				<td> <a href="../elements/id-eeafe407a598495d934c0ef54173d17b.html" target="element"> Data Exchange </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>