<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Agnostic Reference Data</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Agnostic Reference Data</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6777281d054740739a8c161185805242.png" alt="SV-Agnostic Reference Data" usemap="#id-6777281d054740739a8c161185805242map"/>
			   <map name="id-6777281d054740739a8c161185805242map">
				  				<area shape="rect" coords="1330,82,1530,162" href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html"  target="element">

				          <area shape="rect" coords="1282,10,1594,406" href="../objects/id-372a8193489c491bb053a4cc7f1266f2.html" target="element" >
				  						<area shape="rect" coords="790,214,990,294" href="../elements/id-1c483b3db60e437da5e8c72ff86c8d42.html"  target="element">
				  						<area shape="rect" coords="550,214,750,294" href="../elements/id-965b23aba5024421a559a0c086f14325.html"  target="element">
				  						<area shape="rect" coords="310,214,510,294" href="../elements/id-8a9cb32106fe4539a4331a34b3cc3f0c.html"  target="element">
				  						<area shape="rect" coords="82,214,282,294" href="../elements/id-0cab82c7850a4c5b93669b3ad009ddcb.html"  target="element">

				  				<area shape="rect" coords="46,166,1079,347" href="../elements/id-1b1f623906f7482787168061bae862d8.html"  target="element">
				  				<area shape="rect" coords="310,58,510,138" href="../elements/id-23ee5e9ee8ff4057a13d2a18c19a001d.html"  target="element">
				  				<area shape="rect" coords="82,58,282,138" href="../elements/id-80419569ccc2442f9e18fce645a48de5.html"  target="element">

				  		<area shape="rect" coords="10,22,1115,371" href="../elements/id-8839565fc20f424285a122d80acd595f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Narrative: 
The "Semantic view - Agnostic Reference Data" viewpoint extends the semantic view and provides a comprehensive framework for managing and leveraging agnostic reference data within the digital ecosystem. This view associates the Agnostic Reference Data with Digital Public Services and the Business Information Base from the application layer.
Within this view, the Agnostic Reference Data acts as a centralized repository for standardized and commonly used reference data across different business domains. It includes data elements such as codes, classifications, and identifiers that are independent of specific contexts. The agnostic nature of the reference data ensures consistency and interoperability across various digital services and applications.
The Digital Public Services, as part of the application layer, rely on the Agnostic Reference Data to ensure uniformity and accuracy in data representation and exchange. These services align their data structures and operations with the reference data, enabling seamless integration, data consistency, and semantic interoperability among different digital public services.
Furthermore, the Business Information Base complements the Agnostic Reference Data by providing a repository of business-related information that relies on the reference data. It serves as a valuable resource for storing and accessing domain-specific data, facilitating decision-making processes, and enabling the enrichment of reference data within the digital ecosystem.
By associating the Agnostic Reference Data with Digital Public Services and the Business Information Base, the "Semantic view - Agnostic Reference Data" promotes the standardization and consistency of reference data within the digital ecosystem. This view ensures the availability and accessibility of accurate and up-to-date reference data, enabling effective data integration, semantic interoperability, and advanced functionalities in digital public services.
The use of agnostic reference data allows for flexibility and adaptability across different business domains and digital public services. It facilitates data harmonization, reduces redundancy, and enables consistent data interpretation and exchange across applications and systems.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8839565fc20f424285a122d80acd595f.html" target="element"> Business Agnostic Reference Data Solutions </a> </td>
											    <td> <a href="../elements/id-8839565fc20f424285a122d80acd595f.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-80419569ccc2442f9e18fce645a48de5.html" target="element"> ESCO </a> </td>
													    <td> <a href="../elements/id-80419569ccc2442f9e18fce645a48de5.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-23ee5e9ee8ff4057a13d2a18c19a001d.html" target="element"> Regulated Professions DB </a> </td>
													    <td> <a href="../elements/id-23ee5e9ee8ff4057a13d2a18c19a001d.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1b1f623906f7482787168061bae862d8.html" target="element"> Business Agnostic EU Vocabularies Reference Data Solutions </a> </td>
													    <td> <a href="../elements/id-1b1f623906f7482787168061bae862d8.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-0cab82c7850a4c5b93669b3ad009ddcb.html" target="element"> NUTS </a> </td>
															    <td> <a href="../elements/id-0cab82c7850a4c5b93669b3ad009ddcb.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8a9cb32106fe4539a4331a34b3cc3f0c.html" target="element"> Reference Data Asset </a> </td>
															    <td> <a href="../elements/id-8a9cb32106fe4539a4331a34b3cc3f0c.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-965b23aba5024421a559a0c086f14325.html" target="element"> Authority Tables </a> </td>
															    <td> <a href="../elements/id-965b23aba5024421a559a0c086f14325.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1c483b3db60e437da5e8c72ff86c8d42.html" target="element"> Digital Europe Thesaurus </a> </td>
															    <td> <a href="../elements/id-1c483b3db60e437da5e8c72ff86c8d42.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-372a8193489c491bb053a4cc7f1266f2.html" target="element"> Business Agnostic Business Information Base </a> </td>
									           <td> <a href="../objects/id-372a8193489c491bb053a4cc7f1266f2.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-7642c00d7598433487fa8881c9f3dbe6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7642c00d7598433487fa8881c9f3dbe6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8839565fc20f424285a122d80acd595f.html" target="element"> Business Agnostic Reference Data Solutions </a> </td>
																		<td> <a href="../elements/id-80419569ccc2442f9e18fce645a48de5.html" target="element"> ESCO </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ca5e7148c3614cb9aaaeb20bc9b52363.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca5e7148c3614cb9aaaeb20bc9b52363.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8839565fc20f424285a122d80acd595f.html" target="element"> Business Agnostic Reference Data Solutions </a> </td>
																		<td> <a href="../elements/id-23ee5e9ee8ff4057a13d2a18c19a001d.html" target="element"> Regulated Professions DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-099b370cfe564813abe12572522f2b77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-099b370cfe564813abe12572522f2b77.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8839565fc20f424285a122d80acd595f.html" target="element"> Business Agnostic Reference Data Solutions </a> </td>
																		<td> <a href="../elements/id-1b1f623906f7482787168061bae862d8.html" target="element"> Business Agnostic EU Vocabularies Reference Data Solutions </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d0ec6a61d54942fba37177cf9d9c65ad.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d0ec6a61d54942fba37177cf9d9c65ad.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-80419569ccc2442f9e18fce645a48de5.html" target="element"> ESCO </a> </td>
																				<td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1807eef8352d4bf48911caf53a2c4a34.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1807eef8352d4bf48911caf53a2c4a34.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-23ee5e9ee8ff4057a13d2a18c19a001d.html" target="element"> Regulated Professions DB </a> </td>
																				<td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9b15421f02bc498ca1bfa2b76eaae2a0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9b15421f02bc498ca1bfa2b76eaae2a0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b1f623906f7482787168061bae862d8.html" target="element"> Business Agnostic EU Vocabularies Reference Data Solutions </a> </td>
																				<td> <a href="../elements/id-965b23aba5024421a559a0c086f14325.html" target="element"> Authority Tables </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1c99c4c7e593406c923ae5f47664e557.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1c99c4c7e593406c923ae5f47664e557.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b1f623906f7482787168061bae862d8.html" target="element"> Business Agnostic EU Vocabularies Reference Data Solutions </a> </td>
																				<td> <a href="../elements/id-8a9cb32106fe4539a4331a34b3cc3f0c.html" target="element"> Reference Data Asset </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28ee6b1d1a2649c6a8d12221c34fe04c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28ee6b1d1a2649c6a8d12221c34fe04c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b1f623906f7482787168061bae862d8.html" target="element"> Business Agnostic EU Vocabularies Reference Data Solutions </a> </td>
																				<td> <a href="../elements/id-1c483b3db60e437da5e8c72ff86c8d42.html" target="element"> Digital Europe Thesaurus </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-271b1e1048fc4b9c9f6fd1f788d6eb31.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-271b1e1048fc4b9c9f6fd1f788d6eb31.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b1f623906f7482787168061bae862d8.html" target="element"> Business Agnostic EU Vocabularies Reference Data Solutions </a> </td>
																				<td> <a href="../elements/id-0cab82c7850a4c5b93669b3ad009ddcb.html" target="element"> NUTS </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-00263b993b4643a8ac20914c204dfb26.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-00263b993b4643a8ac20914c204dfb26.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-0cab82c7850a4c5b93669b3ad009ddcb.html" target="element"> NUTS </a> </td>
																						<td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-5424e3f47db94dbf8f6eb0162dd72846.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5424e3f47db94dbf8f6eb0162dd72846.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-8a9cb32106fe4539a4331a34b3cc3f0c.html" target="element"> Reference Data Asset </a> </td>
																						<td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-2015618a012a4cd7b0c1dc1f94225ec8.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-2015618a012a4cd7b0c1dc1f94225ec8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-965b23aba5024421a559a0c086f14325.html" target="element"> Authority Tables </a> </td>
																						<td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-8a18349a14804d368b2aef2476f6c4b9.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-8a18349a14804d368b2aef2476f6c4b9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-1c483b3db60e437da5e8c72ff86c8d42.html" target="element"> Digital Europe Thesaurus </a> </td>
																						<td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>