<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>OV-Governance Architecture Principles</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>OV-Governance Architecture Principles</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-60830b50b4fc40f481ae930dd118f2eb.png" alt="OV-Governance Architecture Principles" usemap="#id-60830b50b4fc40f481ae930dd118f2ebmap"/>
			   <map name="id-60830b50b4fc40f481ae930dd118f2ebmap">
				  		<area shape="rect" coords="298,154,548,229" href="../elements/id-790e9f251bf244df9f4d562eb06dd6d2.html"  target="element">
				  		<area shape="rect" coords="934,10,1184,85" href="../elements/id-58ee7a4f1e03458686c717fb34d551c0.html"  target="element">
				  		<area shape="rect" coords="1618,404,1868,479" href="../elements/id-3e5302a7445440c1a7b440cea8f87525.html"  target="element">
				  				<area shape="rect" coords="826,1126,1020,1210" href="../elements/id-70e64e98d0364c57b2d005aa3d12855c.html"  target="element">
				  				<area shape="rect" coords="826,1030,1020,1114" href="../elements/id-4c8a2d6354564eb08a04562b423a15ae.html"  target="element">
				  				<area shape="rect" coords="826,934,1020,1018" href="../elements/id-e7aabcb0682f4483aa2630972a25ea7a.html"  target="element">

				  		<area shape="rect" coords="754,898,1102,1230" href="../elements/id-47e0a3c2fad9498cafd2c4ed5e8f8af5.html"  target="element">
				  		<area shape="rect" coords="754,106,1004,181" href="../elements/id-5ff8daf3cf3d4cd88c94cfa495aa1c52.html"  target="element">
				  		<area shape="rect" coords="1330,468,1580,543" href="../elements/id-b15fd58b4ef047cb91b62ded14088c2a.html"  target="element">
				  		<area shape="rect" coords="1369,1122,1619,1197" href="../elements/id-c0ae7afabca84939ace99b0d566d7ea9.html"  target="element">
				  		<area shape="rect" coords="10,538,260,613" href="../elements/id-75ee9df4537e432bb9c0e5f8af8c3739.html"  target="element">
				  		<area shape="rect" coords="298,598,548,673" href="../elements/id-419bf81f5150483ea49500058c47add9.html"  target="element">
				  		<area shape="rect" coords="1093,106,1343,181" href="../elements/id-6272cdcce20f4c2780f49a92b162bf0e.html"  target="element">
				  		<area shape="rect" coords="1342,262,1592,337" href="../elements/id-d8d10d36a25d49cd86c55a5a934709a2.html"  target="element">
				  		<area shape="rect" coords="10,418,260,493" href="../elements/id-828d92178167428aad67b374941419d3.html"  target="element">
				  		<area shape="rect" coords="1369,1026,1619,1101" href="../elements/id-c34c619a7acb48b883ad7e5e44b5ad4b.html"  target="element">
				  		<area shape="rect" coords="1369,922,1619,997" href="../elements/id-244bf4725c1548b9afb2fb9a6d9eec8d.html"  target="element">
				  		<area shape="rect" coords="10,310,260,385" href="../elements/id-e9d79628b1d44dbbaae91e90bc58f12c.html"  target="element">
				  		<area shape="rect" coords="298,250,548,325" href="../elements/id-1cb45cb5c81044428dac33e75c101437.html"  target="element">
				  		<area shape="rect" coords="298,822,548,897" href="../elements/id-56e0d4768c73478dafb1413f59bd8e5f.html"  target="element">
				  		<area shape="rect" coords="298,478,548,553" href="../elements/id-e0ea574622484ed7a009bc47fb61326a.html"  target="element">
				  		<area shape="rect" coords="298,358,548,433" href="../elements/id-7d707025af4c448484bd6648a4aa7a1c.html"  target="element">
				  		<area shape="rect" coords="298,700,548,775" href="../elements/id-4393277865a84f2f8ee8df243a0b788b.html"  target="element">
				  				<area shape="rect" coords="814,552,1042,656" href="../elements/id-defd24cd1c944a7ca9d5fdc7de16ae3d.html"  target="element">

				  		<area shape="rect" coords="754,372,1102,823" href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html"  target="element">
				  		<area shape="rect" coords="1186,626,1379,722" href="../elements/id-af917d92ec524bc187ccfdb45cbabb7b.html"  target="element">
				  		<area shape="rect" coords="1462,626,1656,722" href="../elements/id-3e9ea5551d074d52ae297e3e535c440e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">The Organizational Governance Architecture Principles view focuses on the relationship between the building blocks for governance at the organizational layer and the principles that influence them. This view is crucial in solutions architecture as it ensures that the design and implementation of governance structures within an organization align with the guiding principles and goals of the organization.

Aligning the Organizational Governance Architecture Principles view with the governance building blocks brings several benefits. Firstly, it establishes a strong governance framework that ensures compliance, accountability, and transparency throughout the organization. By defining and adhering to architecture principles, solutions architects can design governance structures that reflect the organization's values, policies, and legal requirements. This alignment promotes consistent decision-making, risk management, and regulatory compliance, ultimately enhancing the organization's overall governance practices.

Secondly, aligning the Organizational Governance Architecture Principles view supports effective communication and collaboration among stakeholders. The architecture principles provide guidelines for structuring roles, responsibilities, and decision-making processes within the governance building blocks. By considering the principles that influence these building blocks, solutions architects can design governance structures that facilitate clear lines of authority, information flow, and decision rights. This alignment fosters better coordination, accountability, and efficiency in governance activities across the organization.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3e9ea5551d074d52ae297e3e535c440e.html" target="element"> Organisational Interoperability Agreement </a> </td>
											    <td> <a href="../elements/id-3e9ea5551d074d52ae297e3e535c440e.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-af917d92ec524bc187ccfdb45cbabb7b.html" target="element"> Organisational Agreement </a> </td>
											    <td> <a href="../elements/id-af917d92ec524bc187ccfdb45cbabb7b.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
											    <td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-defd24cd1c944a7ca9d5fdc7de16ae3d.html" target="element"> National Governance Models </a> </td>
													    <td> <a href="../elements/id-defd24cd1c944a7ca9d5fdc7de16ae3d.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4393277865a84f2f8ee8df243a0b788b.html" target="element"> Best fit Public Service Implementation Orientation </a> </td>
											    <td> <a href="../elements/id-4393277865a84f2f8ee8df243a0b788b.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d707025af4c448484bd6648a4aa7a1c.html" target="element"> Care from cradle to grave </a> </td>
											    <td> <a href="../elements/id-7d707025af4c448484bd6648a4aa7a1c.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e0ea574622484ed7a009bc47fb61326a.html" target="element"> Carbon-dioxide e-footprint impact awareness  </a> </td>
											    <td> <a href="../elements/id-e0ea574622484ed7a009bc47fb61326a.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-56e0d4768c73478dafb1413f59bd8e5f.html" target="element"> Privacy </a> </td>
											    <td> <a href="../elements/id-56e0d4768c73478dafb1413f59bd8e5f.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1cb45cb5c81044428dac33e75c101437.html" target="element"> Data Accessibility </a> </td>
											    <td> <a href="../elements/id-1cb45cb5c81044428dac33e75c101437.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e9d79628b1d44dbbaae91e90bc58f12c.html" target="element"> Data Reusability </a> </td>
											    <td> <a href="../elements/id-e9d79628b1d44dbbaae91e90bc58f12c.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-244bf4725c1548b9afb2fb9a6d9eec8d.html" target="element"> Security by Design </a> </td>
											    <td> <a href="../elements/id-244bf4725c1548b9afb2fb9a6d9eec8d.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c34c619a7acb48b883ad7e5e44b5ad4b.html" target="element"> Trust </a> </td>
											    <td> <a href="../elements/id-c34c619a7acb48b883ad7e5e44b5ad4b.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-828d92178167428aad67b374941419d3.html" target="element"> Data Sovereignty </a> </td>
											    <td> <a href="../elements/id-828d92178167428aad67b374941419d3.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d8d10d36a25d49cd86c55a5a934709a2.html" target="element"> Digital sovereignty and autonomy </a> </td>
											    <td> <a href="../elements/id-d8d10d36a25d49cd86c55a5a934709a2.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6272cdcce20f4c2780f49a92b162bf0e.html" target="element"> Convergence assurance on public policy goals attainment </a> </td>
											    <td> <a href="../elements/id-6272cdcce20f4c2780f49a92b162bf0e.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-419bf81f5150483ea49500058c47add9.html" target="element"> Neo-Weberian-State approach (NWS) </a> </td>
											    <td> <a href="../elements/id-419bf81f5150483ea49500058c47add9.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-75ee9df4537e432bb9c0e5f8af8c3739.html" target="element"> Openness </a> </td>
											    <td> <a href="../elements/id-75ee9df4537e432bb9c0e5f8af8c3739.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c0ae7afabca84939ace99b0d566d7ea9.html" target="element"> Proactiveness </a> </td>
											    <td> <a href="../elements/id-c0ae7afabca84939ace99b0d566d7ea9.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b15fd58b4ef047cb91b62ded14088c2a.html" target="element"> Service Orientation </a> </td>
											    <td> <a href="../elements/id-b15fd58b4ef047cb91b62ded14088c2a.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5ff8daf3cf3d4cd88c94cfa495aa1c52.html" target="element"> Convergence control on public policy goals attainment </a> </td>
											    <td> <a href="../elements/id-5ff8daf3cf3d4cd88c94cfa495aa1c52.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47e0a3c2fad9498cafd2c4ed5e8f8af5.html" target="element"> Business Agnostic Organisational Governance Frameworks Catalogue </a> </td>
											    <td> <a href="../elements/id-47e0a3c2fad9498cafd2c4ed5e8f8af5.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e7aabcb0682f4483aa2630972a25ea7a.html" target="element"> Security Framework </a> </td>
													    <td> <a href="../elements/id-e7aabcb0682f4483aa2630972a25ea7a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4c8a2d6354564eb08a04562b423a15ae.html" target="element"> Privacy Framework </a> </td>
													    <td> <a href="../elements/id-4c8a2d6354564eb08a04562b423a15ae.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-70e64e98d0364c57b2d005aa3d12855c.html" target="element"> Interoperability Framework </a> </td>
													    <td> <a href="../elements/id-70e64e98d0364c57b2d005aa3d12855c.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3e5302a7445440c1a7b440cea8f87525.html" target="element"> Loosely coupled integration </a> </td>
											    <td> <a href="../elements/id-3e5302a7445440c1a7b440cea8f87525.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-58ee7a4f1e03458686c717fb34d551c0.html" target="element"> Preservation of information </a> </td>
											    <td> <a href="../elements/id-58ee7a4f1e03458686c717fb34d551c0.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-790e9f251bf244df9f4d562eb06dd6d2.html" target="element"> Digital Partnership </a> </td>
											    <td> <a href="../elements/id-790e9f251bf244df9f4d562eb06dd6d2.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-82a09fe621544083aa594eb5c75b812d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-82a09fe621544083aa594eb5c75b812d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e9ea5551d074d52ae297e3e535c440e.html" target="element"> Organisational Interoperability Agreement </a> </td>
																		<td> <a href="../elements/id-af917d92ec524bc187ccfdb45cbabb7b.html" target="element"> Organisational Agreement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8bd19fc759264139bc3477dab52f32a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8bd19fc759264139bc3477dab52f32a0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-defd24cd1c944a7ca9d5fdc7de16ae3d.html" target="element"> National Governance Models </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fc64bcc2bcf34c4096fe1fe026b797c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc64bcc2bcf34c4096fe1fe026b797c3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																		<td> <a href="../elements/id-af917d92ec524bc187ccfdb45cbabb7b.html" target="element"> Organisational Agreement </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0402edc3dbef41c2b134371a6a42d479.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0402edc3dbef41c2b134371a6a42d479.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4393277865a84f2f8ee8df243a0b788b.html" target="element"> Best fit Public Service Implementation Orientation </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a20539bb53824dbdae3e38b7b08a0993.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a20539bb53824dbdae3e38b7b08a0993.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d707025af4c448484bd6648a4aa7a1c.html" target="element"> Care from cradle to grave </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3774debfa6ec4df5ba0adb940e4cf904.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3774debfa6ec4df5ba0adb940e4cf904.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e0ea574622484ed7a009bc47fb61326a.html" target="element"> Carbon-dioxide e-footprint impact awareness  </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-89a03a9f60af4b1f847c0515e4d7c926.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89a03a9f60af4b1f847c0515e4d7c926.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-56e0d4768c73478dafb1413f59bd8e5f.html" target="element"> Privacy </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6c56899053ae4cfaa0d3eadcf545d6ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c56899053ae4cfaa0d3eadcf545d6ed.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-56e0d4768c73478dafb1413f59bd8e5f.html" target="element"> Privacy </a> </td>
																		<td> <a href="../elements/id-47e0a3c2fad9498cafd2c4ed5e8f8af5.html" target="element"> Business Agnostic Organisational Governance Frameworks Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-05eb4dd5eec5436cae3cda969fe7bb73.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05eb4dd5eec5436cae3cda969fe7bb73.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1cb45cb5c81044428dac33e75c101437.html" target="element"> Data Accessibility </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-11f863c5b50047ed958e986a0eec1aca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-11f863c5b50047ed958e986a0eec1aca.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9d79628b1d44dbbaae91e90bc58f12c.html" target="element"> Data Reusability </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eaf53f7c9ec94f85970b2993f7ab2593.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eaf53f7c9ec94f85970b2993f7ab2593.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-244bf4725c1548b9afb2fb9a6d9eec8d.html" target="element"> Security by Design </a> </td>
																		<td> <a href="../elements/id-47e0a3c2fad9498cafd2c4ed5e8f8af5.html" target="element"> Business Agnostic Organisational Governance Frameworks Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7c1c4329c15c4052b4bddc0783a45cfe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c1c4329c15c4052b4bddc0783a45cfe.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c34c619a7acb48b883ad7e5e44b5ad4b.html" target="element"> Trust </a> </td>
																		<td> <a href="../elements/id-47e0a3c2fad9498cafd2c4ed5e8f8af5.html" target="element"> Business Agnostic Organisational Governance Frameworks Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a8b6b594aab442aaba17fa868d20ef92.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8b6b594aab442aaba17fa868d20ef92.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-828d92178167428aad67b374941419d3.html" target="element"> Data Sovereignty </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e006e53a42ff47a2a95913c314d223ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e006e53a42ff47a2a95913c314d223ed.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d8d10d36a25d49cd86c55a5a934709a2.html" target="element"> Digital sovereignty and autonomy </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6f7d59ca1e0d45f982813637bc1ec2a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f7d59ca1e0d45f982813637bc1ec2a3.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6272cdcce20f4c2780f49a92b162bf0e.html" target="element"> Convergence assurance on public policy goals attainment </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6e0cad666f5a4c0488ac5bbad47f305d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e0cad666f5a4c0488ac5bbad47f305d.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-419bf81f5150483ea49500058c47add9.html" target="element"> Neo-Weberian-State approach (NWS) </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4a285a79123d45bab372d4713d5b5904.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a285a79123d45bab372d4713d5b5904.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75ee9df4537e432bb9c0e5f8af8c3739.html" target="element"> Openness </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-06267fd539a2458dbecf7b95ca129b13.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06267fd539a2458dbecf7b95ca129b13.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c0ae7afabca84939ace99b0d566d7ea9.html" target="element"> Proactiveness </a> </td>
																		<td> <a href="../elements/id-47e0a3c2fad9498cafd2c4ed5e8f8af5.html" target="element"> Business Agnostic Organisational Governance Frameworks Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ddc65b9a7bc045c49e0e8eff4f5abd0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ddc65b9a7bc045c49e0e8eff4f5abd0e.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b15fd58b4ef047cb91b62ded14088c2a.html" target="element"> Service Orientation </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6cf6a169003e4f68a035733c92558ffa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6cf6a169003e4f68a035733c92558ffa.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5ff8daf3cf3d4cd88c94cfa495aa1c52.html" target="element"> Convergence control on public policy goals attainment </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1313be754f5040aead45a9abbacc4cd4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1313be754f5040aead45a9abbacc4cd4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47e0a3c2fad9498cafd2c4ed5e8f8af5.html" target="element"> Business Agnostic Organisational Governance Frameworks Catalogue </a> </td>
																		<td> <a href="../elements/id-e7aabcb0682f4483aa2630972a25ea7a.html" target="element"> Security Framework </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-02c63038eb894a088df0ff888eb7bb42.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02c63038eb894a088df0ff888eb7bb42.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47e0a3c2fad9498cafd2c4ed5e8f8af5.html" target="element"> Business Agnostic Organisational Governance Frameworks Catalogue </a> </td>
																		<td> <a href="../elements/id-4c8a2d6354564eb08a04562b423a15ae.html" target="element"> Privacy Framework </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0716ceea2b6a4c03a30e7f4fc2e107d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0716ceea2b6a4c03a30e7f4fc2e107d4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47e0a3c2fad9498cafd2c4ed5e8f8af5.html" target="element"> Business Agnostic Organisational Governance Frameworks Catalogue </a> </td>
																		<td> <a href="../elements/id-70e64e98d0364c57b2d005aa3d12855c.html" target="element"> Interoperability Framework </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d561bec98c1a4b7aa87ff88d072594f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d561bec98c1a4b7aa87ff88d072594f5.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e5302a7445440c1a7b440cea8f87525.html" target="element"> Loosely coupled integration </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c395b11211cd4986b3db3aad9b62601d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c395b11211cd4986b3db3aad9b62601d.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58ee7a4f1e03458686c717fb34d551c0.html" target="element"> Preservation of information </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-10462df4e5a9426fb2b5bd42e454f1f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10462df4e5a9426fb2b5bd42e454f1f3.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-790e9f251bf244df9f4d562eb06dd6d2.html" target="element"> Digital Partnership </a> </td>
																		<td> <a href="../elements/id-15cd0c5ce9e94aee96cece65e2b987de.html" target="element"> Business Agnostic Organisational Agreement Catalogue </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>