<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Digital Workplace Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Digital Workplace Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-774836ca871e4324be73dc0358ea1e28.png" alt="TVA-Digital Workplace Enablers [Motivation]" usemap="#id-774836ca871e4324be73dc0358ea1e28map"/>
			   <map name="id-774836ca871e4324be73dc0358ea1e28map">
				  				<area shape="rect" coords="442,94,622,179" href="../elements/id-c3c5980a11d84be69d901b15d0903323.html"  target="element">

				  		<area shape="rect" coords="394,10,695,295" href="../elements/id-8c8db734813d459d9d97d743ad0e0218.html"  target="element">
				  				<area shape="rect" coords="82,94,262,179" href="../elements/id-85577d24b968425ca76eee83fc7de93f.html"  target="element">

				          <area shape="rect" coords="10,10,312,295" href="../objects/id-be26e0a4e0454ae4ac02421fd577c2af.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Digital Workplace Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging the elements of the Business Agnostic Digital Workplace Business Services and Digital Workplace Enablers.

The Business Agnostic Digital Workplace Business Services is a Diagram Model-group ABB. It is designed to be universally applicable across various business domains. Within this model group, there is a Business Service ABB named Digital Collaboration. This service is described as a Digital Collaboration Digital Public Service, indicating its role in facilitating digital interaction and cooperation in the public sector.

On the other hand, the Digital Workplace Enablers is a Grouping ABB. This grouping refers to components or services that enable the collaboration of work aspects while ensuring security and privacy. Within this grouping, there is an Application Service ABB also named Digital Collaboration. This service, while sharing the same name as the one in the Business Agnostic Digital Workplace Business Services, is distinct in its function and application.

The relationship between these elements is that they are all part of the overarching TVA-Digital Workplace Enablers [Motivation] view. They are interconnected in their shared goal of enabling digital collaboration in the workplace, albeit through different means and in different contexts. The motivation behind these elements and their relationships is to create a comprehensive framework that leverages digital technologies to enhance collaboration and productivity in the workplace, while also ensuring the security and privacy of all involved.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-be26e0a4e0454ae4ac02421fd577c2af.html" target="element"> Business Agnostic Digital Workplace Business Services </a> </td>
									           <td> <a href="../objects/id-be26e0a4e0454ae4ac02421fd577c2af.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-85577d24b968425ca76eee83fc7de93f.html" target="element"> Digital Collaboration </a> </td>
													    <td> <a href="../elements/id-85577d24b968425ca76eee83fc7de93f.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8c8db734813d459d9d97d743ad0e0218.html" target="element"> Digital Workplace Enablers </a> </td>
											    <td> <a href="../elements/id-8c8db734813d459d9d97d743ad0e0218.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c3c5980a11d84be69d901b15d0903323.html" target="element"> Digital Collaboration </a> </td>
													    <td> <a href="../elements/id-c3c5980a11d84be69d901b15d0903323.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-c726dbdc60f940b098b43d849e895b74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c726dbdc60f940b098b43d849e895b74.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8c8db734813d459d9d97d743ad0e0218.html" target="element"> Digital Workplace Enablers </a> </td>
																		<td> <a href="../elements/id-c3c5980a11d84be69d901b15d0903323.html" target="element"> Digital Collaboration </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-93068f9c7ca349c3aeae62c7b48b607a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-93068f9c7ca349c3aeae62c7b48b607a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c3c5980a11d84be69d901b15d0903323.html" target="element"> Digital Collaboration </a> </td>
																				<td> <a href="../elements/id-85577d24b968425ca76eee83fc7de93f.html" target="element"> Digital Collaboration </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>