<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVI-Trust Infrastructure Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVI-Trust Infrastructure Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-aacbf1b1fb18452a8652d547555c6996.png" alt="TVI-Trust Infrastructure Enablers [Motivation]" usemap="#id-aacbf1b1fb18452a8652d547555c6996map"/>
			   <map name="id-aacbf1b1fb18452a8652d547555c6996map">
				  				<area shape="rect" coords="2326,58,2518,167" href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html"  target="element">
				  				<area shape="rect" coords="2326,202,2518,311" href="../elements/id-55eab4850917472abec2dd936c865ec9.html"  target="element">
				  				<area shape="rect" coords="2074,130,2266,239" href="../elements/id-d23314e941c246e08171cfb057083b43.html"  target="element">
				  				<area shape="rect" coords="1798,130,1990,239" href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html"  target="element">

				  		<area shape="rect" coords="1774,10,2543,346" href="../elements/id-1a422cc5076e480db497793fea533e87.html"  target="element">
				  				<area shape="rect" coords="790,58,934,119" href="../elements/id-e0c6878fbb714dceb2d2fd4cd21b6277.html"  target="element">
				  				<area shape="rect" coords="70,46,262,107" href="../elements/id-e1c102e34d3d48d19c0ddb7a49ccc7af.html"  target="element">
				  				<area shape="rect" coords="66,286,266,347" href="../elements/id-6a6e721346ea4382afef893ee9e51122.html"  target="element">
				  				<area shape="rect" coords="282,298,482,359" href="../elements/id-7fabb5bcc0404882b3bbc36f36329c10.html"  target="element">
				  				<area shape="rect" coords="550,298,742,359" href="../elements/id-9e0d502df1274683b327d98b295543dc.html"  target="element">
				  						<area shape="rect" coords="982,106,1126,167" href="../elements/id-4cb83b99b8ce4e56b5093677f83645a6.html"  target="element">
				  						<area shape="rect" coords="982,261,1126,322" href="../elements/id-cd95297a0a8040be990a993dcf397d16.html"  target="element">

				  				<area shape="rect" coords="946,58,1151,359" href="../elements/id-7791c1aa87ca4c6bae3cbb8319c55e7c.html"  target="element">
				  				<area shape="rect" coords="286,454,478,563" href="../elements/id-1e047893b4494f59a054665caf4f7510.html"  target="element">
				  				<area shape="rect" coords="550,118,742,179" href="../elements/id-85e0d29b27ce42e4b57628b25af811c1.html"  target="element">
				  				<area shape="rect" coords="286,118,478,167" href="../elements/id-af4d17309215463da49cd2cc40ced4af.html"  target="element">
				  				<area shape="rect" coords="70,190,262,251" href="../elements/id-8cba1e337fee4b9cac19f9137558bab1.html"  target="element">
				  				<area shape="rect" coords="70,382,262,431" href="../elements/id-2610dd980d42471f8b962cafda6c2448.html"  target="element">
				  				<area shape="rect" coords="70,118,262,167" href="../elements/id-55a94fda3d494ccfaa5d599a6a27f63e.html"  target="element">
				  				<area shape="rect" coords="286,190,478,251" href="../elements/id-9f920ef955bc4dcf85a7d500cdbc4607.html"  target="element">
				  				<area shape="rect" coords="550,382,742,431" href="../elements/id-61f9a0571ca147ed806b53e94d30ddf1.html"  target="element">
				  				<area shape="rect" coords="550,202,742,263" href="../elements/id-087739e013f248d7a8c2feaee196f207.html"  target="element">
				  				<area shape="rect" coords="286,382,478,431" href="../elements/id-60b6aeb88a1a4b8b99053ac694257be0.html"  target="element">

				  		<area shape="rect" coords="10,10,1162,635" href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html"  target="element">
				  				<area shape="rect" coords="1354,82,1514,137" href="../elements/id-5e31f6aecfdc493dbea77b5fe20f2f1d.html"  target="element">

				  		<area shape="rect" coords="1294,10,1655,214" href="../elements/id-8f7794b5c0764e4e9b9930bf357e5437.html"  target="element">
				  				<area shape="rect" coords="1390,356,1550,411" href="../elements/id-d72b9593de884ad1909300aba0dd8c57.html"  target="element">
				  				<area shape="rect" coords="1474,284,1634,339" href="../elements/id-0243fc74bd564f89b83c570cdc540013.html"  target="element">
				  				<area shape="rect" coords="1306,284,1466,339" href="../elements/id-7e825cc3357848f99176bbfe4fb6a5b4.html"  target="element">

				  		<area shape="rect" coords="1294,236,1654,440" href="../elements/id-e8ce35fae36142ae8c6bb458ebf594b0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVI-Trust Infrastructure Enablers [Motivation] view extends Technical view - infrastructure and provides a comprehensive framework for leveraging various components and services to build a secure and trustworthy environment for data sharing and transactions. 

The view consists of several elements grouped into four main categories: Blockchain Infrastructure Enablers, Trust Infrastructure Enablers, Trust Enablers, and Dataspace Enablers. 

Blockchain Infrastructure Enablers ABB is a grouping of components and services that allow for the construction of a digital ledger infrastructure of interconnected nodes. This includes the Immutable Database Manager ABB, Blockchain Ledger ABB, and Distributed Blockchain Network ABB. These technology services enable the management of immutable data, recording and sharing of transactions in an electronic ledger, and the implementation of tokens in a blockchain network, respectively.

Trust Infrastructure Enablers ABB is a grouping devoted to creating and managing public keys for encryption, a common method of securing data transfers on the internet. This includes the PKI Certificate Manager ABB, a technology service that enables the issuance, maintenance, and revocation of public key certificates.

Trust Enablers ABB is a grouping that facilitates the establishment and maintenance of secure cross-border transactions and interactions. It includes several application services such as e-Seal Preservation, e-Timestamp Verification and Validation, Registered Electronic Delivery, e-Seal Verification and Validation, e-Signature Creation, e-Signature Preservation, e-Signature Verification and Validation, e-Seal Creation, and e-Timestamp Creation. These services enable various procedures related to electronic signatures, timestamps, and seals, extending their trustworthiness and verifying their validity.

Dataspace Enablers ABB is a grouping that supports the creation and management of a dataspace. It includes the Dataspace, Dataspace Connector, Dataspace Connector Consumer, and Dataspace Connector Provider application services. These services enable the creation of a single market for data, easy and trustworthy data sharing, data gathering and accessibility, and control over data use in the dataspace ecosystem, respectively.

The motivation behind these groupings and services is to provide a secure and trustworthy environment for data sharing and transactions, leveraging blockchain technology, trust infrastructure, and dataspace capabilities. This view provides a comprehensive framework for understanding and implementing these elements in a cohesive and effective manner.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e8ce35fae36142ae8c6bb458ebf594b0.html" target="element"> Blockchain Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-e8ce35fae36142ae8c6bb458ebf594b0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7e825cc3357848f99176bbfe4fb6a5b4.html" target="element"> Inmutable Database Manager </a> </td>
													    <td> <a href="../elements/id-7e825cc3357848f99176bbfe4fb6a5b4.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0243fc74bd564f89b83c570cdc540013.html" target="element"> Blockchain Ledger </a> </td>
													    <td> <a href="../elements/id-0243fc74bd564f89b83c570cdc540013.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d72b9593de884ad1909300aba0dd8c57.html" target="element"> Distributed Blockchain Network </a> </td>
													    <td> <a href="../elements/id-d72b9593de884ad1909300aba0dd8c57.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8f7794b5c0764e4e9b9930bf357e5437.html" target="element"> Trust Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-8f7794b5c0764e4e9b9930bf357e5437.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5e31f6aecfdc493dbea77b5fe20f2f1d.html" target="element"> PKI Certificate Manager </a> </td>
													    <td> <a href="../elements/id-5e31f6aecfdc493dbea77b5fe20f2f1d.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html" target="element"> Trust Enablers </a> </td>
											    <td> <a href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-60b6aeb88a1a4b8b99053ac694257be0.html" target="element"> e-Seal Preservation </a> </td>
													    <td> <a href="../elements/id-60b6aeb88a1a4b8b99053ac694257be0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-087739e013f248d7a8c2feaee196f207.html" target="element"> e-Timestamp Verification and Validation </a> </td>
													    <td> <a href="../elements/id-087739e013f248d7a8c2feaee196f207.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-61f9a0571ca147ed806b53e94d30ddf1.html" target="element"> Registered Electronic Delivery </a> </td>
													    <td> <a href="../elements/id-61f9a0571ca147ed806b53e94d30ddf1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9f920ef955bc4dcf85a7d500cdbc4607.html" target="element"> e-Seal Verification and Validation </a> </td>
													    <td> <a href="../elements/id-9f920ef955bc4dcf85a7d500cdbc4607.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55a94fda3d494ccfaa5d599a6a27f63e.html" target="element"> e-Signature Creation </a> </td>
													    <td> <a href="../elements/id-55a94fda3d494ccfaa5d599a6a27f63e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2610dd980d42471f8b962cafda6c2448.html" target="element"> e-Signature Preservation </a> </td>
													    <td> <a href="../elements/id-2610dd980d42471f8b962cafda6c2448.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8cba1e337fee4b9cac19f9137558bab1.html" target="element"> e-Signature Verification and Validation </a> </td>
													    <td> <a href="../elements/id-8cba1e337fee4b9cac19f9137558bab1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-af4d17309215463da49cd2cc40ced4af.html" target="element"> e-Seal Creation </a> </td>
													    <td> <a href="../elements/id-af4d17309215463da49cd2cc40ced4af.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-85e0d29b27ce42e4b57628b25af811c1.html" target="element"> e-Timestamp Creation </a> </td>
													    <td> <a href="../elements/id-85e0d29b27ce42e4b57628b25af811c1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
													    <td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7791c1aa87ca4c6bae3cbb8319c55e7c.html" target="element"> Blockchain Enablers </a> </td>
													    <td> <a href="../elements/id-7791c1aa87ca4c6bae3cbb8319c55e7c.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-cd95297a0a8040be990a993dcf397d16.html" target="element"> Blockchain </a> </td>
															    <td> <a href="../elements/id-cd95297a0a8040be990a993dcf397d16.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4cb83b99b8ce4e56b5093677f83645a6.html" target="element"> Blockchain </a> </td>
															    <td> <a href="../elements/id-4cb83b99b8ce4e56b5093677f83645a6.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-9e0d502df1274683b327d98b295543dc.html" target="element"> Digital Certification Timestamp  </a> </td>
													    <td> <a href="../elements/id-9e0d502df1274683b327d98b295543dc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7fabb5bcc0404882b3bbc36f36329c10.html" target="element"> Digital Certification eSeal  </a> </td>
													    <td> <a href="../elements/id-7fabb5bcc0404882b3bbc36f36329c10.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6a6e721346ea4382afef893ee9e51122.html" target="element"> Digital Certification eSignature Service </a> </td>
													    <td> <a href="../elements/id-6a6e721346ea4382afef893ee9e51122.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e1c102e34d3d48d19c0ddb7a49ccc7af.html" target="element"> Digital Europe eSignature's DSS open-source library </a> </td>
													    <td> <a href="../elements/id-e1c102e34d3d48d19c0ddb7a49ccc7af.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e0c6878fbb714dceb2d2fd4cd21b6277.html" target="element"> Integrity Verification </a> </td>
													    <td> <a href="../elements/id-e0c6878fbb714dceb2d2fd4cd21b6277.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element"> Dataspace Enablers </a> </td>
											    <td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element"> Dataspace </a> </td>
													    <td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
													    <td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55eab4850917472abec2dd936c865ec9.html" target="element"> Dataspace Connector Consumer </a> </td>
													    <td> <a href="../elements/id-55eab4850917472abec2dd936c865ec9.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html" target="element"> Dataspace Connector Provider </a> </td>
													    <td> <a href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d4cb522ae4704d96a26accbb5ce793c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4cb522ae4704d96a26accbb5ce793c5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e8ce35fae36142ae8c6bb458ebf594b0.html" target="element"> Blockchain Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-d72b9593de884ad1909300aba0dd8c57.html" target="element"> Distributed Blockchain Network </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-869b2062c702497a9efec640115a712f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-869b2062c702497a9efec640115a712f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e8ce35fae36142ae8c6bb458ebf594b0.html" target="element"> Blockchain Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-7e825cc3357848f99176bbfe4fb6a5b4.html" target="element"> Inmutable Database Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22bd163bdcbc444291a5bf5e9562f8df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22bd163bdcbc444291a5bf5e9562f8df.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e8ce35fae36142ae8c6bb458ebf594b0.html" target="element"> Blockchain Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-0243fc74bd564f89b83c570cdc540013.html" target="element"> Blockchain Ledger </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c640008c3b414ca1a535340547f91329.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c640008c3b414ca1a535340547f91329.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f7794b5c0764e4e9b9930bf357e5437.html" target="element"> Trust Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-5e31f6aecfdc493dbea77b5fe20f2f1d.html" target="element"> PKI Certificate Manager </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b9ca88078657443ca1f307967d222750.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9ca88078657443ca1f307967d222750.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-9e0d502df1274683b327d98b295543dc.html" target="element"> Digital Certification Timestamp  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-49b1d0963ae3455a869c40e59ca5614d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49b1d0963ae3455a869c40e59ca5614d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-7791c1aa87ca4c6bae3cbb8319c55e7c.html" target="element"> Blockchain Enablers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f3fd0d45950040168f7de3ed512b3009.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3fd0d45950040168f7de3ed512b3009.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-6a6e721346ea4382afef893ee9e51122.html" target="element"> Digital Certification eSignature Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cb65641758154a0096af0a3dd4018cfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb65641758154a0096af0a3dd4018cfd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-e1c102e34d3d48d19c0ddb7a49ccc7af.html" target="element"> Digital Europe eSignature's DSS open-source library </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e9a52b5eef89465aa7686235b8a49546.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9a52b5eef89465aa7686235b8a49546.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-e0c6878fbb714dceb2d2fd4cd21b6277.html" target="element"> Integrity Verification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-082c006efaf546b687c800b831d46e6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-082c006efaf546b687c800b831d46e6f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6252fe04f384316acd1aa1f01fcc442.html" target="element"> Trust Enablers </a> </td>
																		<td> <a href="../elements/id-8f7794b5c0764e4e9b9930bf357e5437.html" target="element"> Trust Infrastructure Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1457df6b98e6454485a7feb5ad154c3e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1457df6b98e6454485a7feb5ad154c3e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-60b6aeb88a1a4b8b99053ac694257be0.html" target="element"> e-Seal Preservation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ec220d9ee2fd423e83d0d2dd2f4b8fbc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ec220d9ee2fd423e83d0d2dd2f4b8fbc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-af4d17309215463da49cd2cc40ced4af.html" target="element"> e-Seal Creation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ecd9468ba39746adab01b96cef979951.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ecd9468ba39746adab01b96cef979951.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-61f9a0571ca147ed806b53e94d30ddf1.html" target="element"> Registered Electronic Delivery </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-563166bfcc104173840825c810354cab.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-563166bfcc104173840825c810354cab.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-85e0d29b27ce42e4b57628b25af811c1.html" target="element"> e-Timestamp Creation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c252783250c941b0a09cc855a2568026.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c252783250c941b0a09cc855a2568026.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-087739e013f248d7a8c2feaee196f207.html" target="element"> e-Timestamp Verification and Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8ece3d26809c4542ba8c34a11cdaa2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8ece3d26809c4542ba8c34a11cdaa2bd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-55a94fda3d494ccfaa5d599a6a27f63e.html" target="element"> e-Signature Creation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-14e1466a5d1b4a1ab910ef8b286cfd87.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-14e1466a5d1b4a1ab910ef8b286cfd87.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-2610dd980d42471f8b962cafda6c2448.html" target="element"> e-Signature Preservation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-66be0b9b85564a94bd1bce5b715bc3e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-66be0b9b85564a94bd1bce5b715bc3e7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-9f920ef955bc4dcf85a7d500cdbc4607.html" target="element"> e-Seal Verification and Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8121b69f483448c3841416a4fe4f1f29.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8121b69f483448c3841416a4fe4f1f29.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-8cba1e337fee4b9cac19f9137558bab1.html" target="element"> e-Signature Verification and Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5b69c20c1ee3408aab0c25d5628b9d61.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5b69c20c1ee3408aab0c25d5628b9d61.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e047893b4494f59a054665caf4f7510.html" target="element"> Trust Service Provisioning </a> </td>
																				<td> <a href="../elements/id-e0c6878fbb714dceb2d2fd4cd21b6277.html" target="element"> Integrity Verification </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-12842b2728c44c83ae1945b9f33e53b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-12842b2728c44c83ae1945b9f33e53b2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7791c1aa87ca4c6bae3cbb8319c55e7c.html" target="element"> Blockchain Enablers </a> </td>
																				<td> <a href="../elements/id-cd95297a0a8040be990a993dcf397d16.html" target="element"> Blockchain </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d568c505f1b046438342bb52397dabf6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d568c505f1b046438342bb52397dabf6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7791c1aa87ca4c6bae3cbb8319c55e7c.html" target="element"> Blockchain Enablers </a> </td>
																				<td> <a href="../elements/id-4cb83b99b8ce4e56b5093677f83645a6.html" target="element"> Blockchain </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-71f32b15b23049b7ba4e95f57d42716d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-71f32b15b23049b7ba4e95f57d42716d.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7791c1aa87ca4c6bae3cbb8319c55e7c.html" target="element"> Blockchain Enablers </a> </td>
																				<td> <a href="../elements/id-e8ce35fae36142ae8c6bb458ebf594b0.html" target="element"> Blockchain Infrastructure Enablers </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-31187364ce464a03a730767e65523a1c.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-31187364ce464a03a730767e65523a1c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-cd95297a0a8040be990a993dcf397d16.html" target="element"> Blockchain </a> </td>
																						<td> <a href="../elements/id-4cb83b99b8ce4e56b5093677f83645a6.html" target="element"> Blockchain </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-829bdc8cb4a94bd1b5acb1154adc1f7e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-829bdc8cb4a94bd1b5acb1154adc1f7e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9e0d502df1274683b327d98b295543dc.html" target="element"> Digital Certification Timestamp  </a> </td>
																				<td> <a href="../elements/id-087739e013f248d7a8c2feaee196f207.html" target="element"> e-Timestamp Verification and Validation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d4c0753966af4037b893ba2fd7549f62.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d4c0753966af4037b893ba2fd7549f62.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7fabb5bcc0404882b3bbc36f36329c10.html" target="element"> Digital Certification eSeal  </a> </td>
																				<td> <a href="../elements/id-9f920ef955bc4dcf85a7d500cdbc4607.html" target="element"> e-Seal Verification and Validation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8ecb9584bfc040a58c40146f74264feb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8ecb9584bfc040a58c40146f74264feb.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6a6e721346ea4382afef893ee9e51122.html" target="element"> Digital Certification eSignature Service </a> </td>
																				<td> <a href="../elements/id-8cba1e337fee4b9cac19f9137558bab1.html" target="element"> e-Signature Verification and Validation </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-00717554a63e4a6e8ce4a9c4906ba0f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00717554a63e4a6e8ce4a9c4906ba0f4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element"> Dataspace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9defb675aaf34f4f9ac3b71cf8c97f7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9defb675aaf34f4f9ac3b71cf8c97f7e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43d4c9bcc9774911aa7e151884919149.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43d4c9bcc9774911aa7e151884919149.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-55eab4850917472abec2dd936c865ec9.html" target="element"> Dataspace Connector Consumer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-12b8621f14574e29bf014ade6bdd5e81.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12b8621f14574e29bf014ade6bdd5e81.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html" target="element"> Dataspace Connector Provider </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3fa648b1ec7b4dd4afd7379a59c5ee04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3fa648b1ec7b4dd4afd7379a59c5ee04.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-8f7794b5c0764e4e9b9930bf357e5437.html" target="element"> Trust Infrastructure Enablers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06b223110f6145d087b0695a9ac285ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06b223110f6145d087b0695a9ac285ed.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a422cc5076e480db497793fea533e87.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-e8ce35fae36142ae8c6bb458ebf594b0.html" target="element"> Blockchain Infrastructure Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-445331f8a87b435bbeaf84a579da4312.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-445331f8a87b435bbeaf84a579da4312.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-47b46fb8332f4bb784e9de1402a10a8d.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4afa19ac5f33433b87b58f165200b8a7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4afa19ac5f33433b87b58f165200b8a7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-55eab4850917472abec2dd936c865ec9.html" target="element"> Dataspace Connector Consumer </a> </td>
																				<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-75f17faca3cc484ba63d2cf9dac47211.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-75f17faca3cc484ba63d2cf9dac47211.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3ba8b6ef64b245e18397fd7b6952be11.html" target="element"> Dataspace Connector Provider </a> </td>
																				<td> <a href="../elements/id-d23314e941c246e08171cfb057083b43.html" target="element"> Dataspace Connector </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>