<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVI-Artificial Intelligence Infrastructure Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVI-Artificial Intelligence Infrastructure Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a05709271cde425a9bb210fad32998bd.png" alt="TVI-Artificial Intelligence Infrastructure Enablers [Motivation]" usemap="#id-a05709271cde425a9bb210fad32998bdmap"/>
			   <map name="id-a05709271cde425a9bb210fad32998bdmap">
				  				<area shape="rect" coords="322,130,502,203" href="../elements/id-74220658e3a64b819a770baa4df22f4e.html"  target="element">
				  				<area shape="rect" coords="322,214,502,287" href="../elements/id-22de4e3cee404b4dbe1a1c631e88b401.html"  target="element">
				  				<area shape="rect" coords="322,46,502,119" href="../elements/id-a7d59a68b7014041a97046720bf10436.html"  target="element">
				  				<area shape="rect" coords="46,178,226,251" href="../elements/id-04ab7c93177446a2956bafbbe915a616.html"  target="element">
				  				<area shape="rect" coords="46,46,226,119" href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html"  target="element">

				  		<area shape="rect" coords="10,10,551,335" href="../elements/id-f296180604274bde8dda1334eeb14aec.html"  target="element">
				  				<area shape="rect" coords="778,154,898,209" href="../elements/id-bc10ffd08ee241c6bd6ca805174e6f3d.html"  target="element">

				  		<area shape="rect" coords="694,106,993,250" href="../elements/id-2cef70269a1c4abba76acedbe7dea1d2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVI-Artificial Intelligence Infrastructure Enablers [Motivation] view extends Technical view - infrastructure and provides a comprehensive framework for leveraging the capabilities of artificial intelligence (AI) in an organization. This view is composed of two main groupings: Artificial Intelligence Infrastructure Enablers and Artificial Intelligence Enablers.

The Artificial Intelligence Infrastructure Enablers grouping refers to a set of components that facilitate the development and deployment of artificial intelligence applications. Within this grouping, there is a Technology Service ABB named Machine Learning. This service enables the procedures for implementing algorithms and models that can learn from and make predictions on data. The Machine Learning service is a critical component of the AI infrastructure, providing the necessary tools and capabilities for data analysis and predictive modeling.

The Artificial Intelligence Enablers grouping refers to components and services that provide the necessary infrastructure and resources for AI developers to build intelligent systems. These systems can perform tasks that typically require human-like intelligence, such as perception, reasoning, learning, and decision-making. Within this grouping, there are several elements:

1. Artificial Intelligence as an Application Service ABB: This service enables the procedures to display intelligent behavior by analyzing their environment and taking actions with some degree of autonomy to achieve specific objectives.

2. Artificial Intelligence as an Application Component ABB: This component enables the implementation of algorithms, machine learning, and deep learning techniques to enable machines to perform tasks that typically require human-like intelligence.

3. Machine Learning as an Application Service ABB: This service enables systems to automatically learn and improve from experience without being explicitly programmed. It involves the development and deployment of algorithms and models that can analyze large volumes of data, identify patterns, and make predictions or decisions based on the learned patterns.

4. Artificial Intelligence Engine as an Application Service ABB: This service refers to a software component or service that encompasses the core capabilities of an AI system. It provides a set of algorithms, models, and tools that enable the development, deployment, and execution of AI applications.

5. Natural-Language Processing (NLP) as an Application Service ABB: This service enables the understanding, interpretation, and generation of human language in a valuable way.

The motivation behind this view is to provide a comprehensive framework for leveraging AI capabilities, facilitating the development and deployment of AI applications, and providing the necessary infrastructure for AI developers to build intelligent systems.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2cef70269a1c4abba76acedbe7dea1d2.html" target="element"> Artificial Intelligence Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-2cef70269a1c4abba76acedbe7dea1d2.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bc10ffd08ee241c6bd6ca805174e6f3d.html" target="element"> Machine Learning </a> </td>
													    <td> <a href="../elements/id-bc10ffd08ee241c6bd6ca805174e6f3d.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f296180604274bde8dda1334eeb14aec.html" target="element"> Artificial Intelligence Enablers </a> </td>
											    <td> <a href="../elements/id-f296180604274bde8dda1334eeb14aec.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html" target="element"> Artificial Intelligence </a> </td>
													    <td> <a href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-04ab7c93177446a2956bafbbe915a616.html" target="element"> Artificial Intelligence </a> </td>
													    <td> <a href="../elements/id-04ab7c93177446a2956bafbbe915a616.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a7d59a68b7014041a97046720bf10436.html" target="element"> Machine learning </a> </td>
													    <td> <a href="../elements/id-a7d59a68b7014041a97046720bf10436.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-22de4e3cee404b4dbe1a1c631e88b401.html" target="element"> Artificial Intelligence Engine </a> </td>
													    <td> <a href="../elements/id-22de4e3cee404b4dbe1a1c631e88b401.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-74220658e3a64b819a770baa4df22f4e.html" target="element"> Natural-Language Processing (NLP) </a> </td>
													    <td> <a href="../elements/id-74220658e3a64b819a770baa4df22f4e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3dcea81a5f054012b3b19dbe03e3dd75.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3dcea81a5f054012b3b19dbe03e3dd75.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2cef70269a1c4abba76acedbe7dea1d2.html" target="element"> Artificial Intelligence Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-bc10ffd08ee241c6bd6ca805174e6f3d.html" target="element"> Machine Learning </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-377eccceb3e64d249cc540b62233326f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-377eccceb3e64d249cc540b62233326f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f296180604274bde8dda1334eeb14aec.html" target="element"> Artificial Intelligence Enablers </a> </td>
																		<td> <a href="../elements/id-04ab7c93177446a2956bafbbe915a616.html" target="element"> Artificial Intelligence </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b5192d8f4d21423180f324f1c4f1a6f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5192d8f4d21423180f324f1c4f1a6f1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f296180604274bde8dda1334eeb14aec.html" target="element"> Artificial Intelligence Enablers </a> </td>
																		<td> <a href="../elements/id-22de4e3cee404b4dbe1a1c631e88b401.html" target="element"> Artificial Intelligence Engine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2e5c202059df4b86ab4bafbda2b3543c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e5c202059df4b86ab4bafbda2b3543c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f296180604274bde8dda1334eeb14aec.html" target="element"> Artificial Intelligence Enablers </a> </td>
																		<td> <a href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html" target="element"> Artificial Intelligence </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-528951a707354ac7830192a5e0cb85a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-528951a707354ac7830192a5e0cb85a2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f296180604274bde8dda1334eeb14aec.html" target="element"> Artificial Intelligence Enablers </a> </td>
																		<td> <a href="../elements/id-a7d59a68b7014041a97046720bf10436.html" target="element"> Machine learning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7eaf953c066a4e90a54e71ab103e396f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7eaf953c066a4e90a54e71ab103e396f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f296180604274bde8dda1334eeb14aec.html" target="element"> Artificial Intelligence Enablers </a> </td>
																		<td> <a href="../elements/id-74220658e3a64b819a770baa4df22f4e.html" target="element"> Natural-Language Processing (NLP) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8e63587f91794a35bd434b39ba4ca385.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e63587f91794a35bd434b39ba4ca385.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f296180604274bde8dda1334eeb14aec.html" target="element"> Artificial Intelligence Enablers </a> </td>
																		<td> <a href="../elements/id-2cef70269a1c4abba76acedbe7dea1d2.html" target="element"> Artificial Intelligence Infrastructure Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b00f509eed7e485499fe4f1533f087c8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b00f509eed7e485499fe4f1533f087c8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-04ab7c93177446a2956bafbbe915a616.html" target="element"> Artificial Intelligence </a> </td>
																				<td> <a href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html" target="element"> Artificial Intelligence </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-843e99c3b6354288ba6b98988bd3f378.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-843e99c3b6354288ba6b98988bd3f378.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a7d59a68b7014041a97046720bf10436.html" target="element"> Machine learning </a> </td>
																				<td> <a href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html" target="element"> Artificial Intelligence </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c82e7d92481a4a478d969592c08a261d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c82e7d92481a4a478d969592c08a261d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-22de4e3cee404b4dbe1a1c631e88b401.html" target="element"> Artificial Intelligence Engine </a> </td>
																				<td> <a href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html" target="element"> Artificial Intelligence </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b9841815202446e5a3c0da088094dd14.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b9841815202446e5a3c0da088094dd14.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-74220658e3a64b819a770baa4df22f4e.html" target="element"> Natural-Language Processing (NLP) </a> </td>
																				<td> <a href="../elements/id-3accedf150bd4ab5ac4997630689e7e3.html" target="element"> Artificial Intelligence </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>