<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVI-Workflow Orchestration and Containers Infrastructure Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVI-Workflow Orchestration and Containers Infrastructure Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c3b8127a92a545398d5f2222d186726a.png" alt="TVI-Workflow Orchestration and Containers Infrastructure Enablers [Motivation]" usemap="#id-c3b8127a92a545398d5f2222d186726amap"/>
			   <map name="id-c3b8127a92a545398d5f2222d186726amap">
				  				<area shape="rect" coords="928,429,1072,501" href="../elements/id-e68a689420764241ad7140beef7dbec9.html"  target="element">
				  				<area shape="rect" coords="700,437,880,492" href="../elements/id-822a4607087d499eb3e3e991ac16a939.html"  target="element">
				  				<area shape="rect" coords="580,345,740,400" href="../elements/id-1c5783d785cb4c1faa2832d1a52f29ce.html"  target="element">
				  				<area shape="rect" coords="820,345,980,400" href="../elements/id-39d20564974e4bfb81df74ee030106d4.html"  target="element">

				  		<area shape="rect" coords="568,309,1084,513" href="../elements/id-6eb3de50b960434ca85607ba1923f396.html"  target="element">
				  				<area shape="rect" coords="724,94,844,149" href="../elements/id-e3936a6d481643ac9199de806c37edef.html"  target="element">
				  				<area shape="rect" coords="592,94,712,149" href="../elements/id-a56d45913bea4005ac05847cb288c388.html"  target="element">
				  				<area shape="rect" coords="724,34,844,89" href="../elements/id-8167fca18c784994b1031d64550b286b.html"  target="element">
				  				<area shape="rect" coords="592,34,712,89" href="../elements/id-12ac7ba3b9344b88a961d12850e3eeee.html"  target="element">

				  		<area shape="rect" coords="568,10,867,166" href="../elements/id-cfa6f7e52e70485ebd5dc43a1eb9c2c8.html"  target="element">
				  				<area shape="rect" coords="226,45,386,100" href="../elements/id-93ba5a8715fb44edab4280ad1db903ff.html"  target="element">
				  				<area shape="rect" coords="34,202,194,257" href="../elements/id-8d64a7722d84459a9fe0e092f6aa9417.html"  target="element">
				  				<area shape="rect" coords="34,45,194,100" href="../elements/id-ec908c13bdfc46439b1f5e6607347acc.html"  target="element">

				  		<area shape="rect" coords="10,10,419,283" href="../elements/id-25398b5d11774335825b6e54642f55a5.html"  target="element">
				  				<area shape="rect" coords="640,201,800,256" href="../elements/id-1ca5a6d40d3e4843874a107499fd7936.html"  target="element">

				  		<area shape="rect" coords="568,177,867,283" href="../elements/id-237ad354d33f437589d75c66979fc774.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVI-Workflow Orchestration and Containers Infrastructure Enablers [Motivation] view extends Technical view - infrastructure and provides a comprehensive framework for leveraging different components and services that enable the coordination and automation of workflows across multiple systems, applications, and organizations. 

The view is divided into four main elements: Workflow Orchestration Infrastructure Enablers, Orchestration Enablers, Management Infrastructure Enablers, and Containers Infrastructure Enablers. 

The Workflow Orchestration Infrastructure Enablers group includes the Business Process Manager, a technology service that coordinates the behavior of people, systems, information, and things to produce business outcomes in support of a business strategy.

The Orchestration Enablers group refers to the components and practices that support the development and deployment of orchestration applications. It includes the Orchestration Service, an application service that defines the sequence and conditions in which one service invokes other services to realize some useful function. It also includes the Orchestration Application Component, which enables the coordination and management of the execution of multiple components or services within an application or system. Lastly, it includes the Workflow Management Application Service, a software solution or service that enables the design, execution, and coordination of workflows within an organization.

The Management Infrastructure Enablers group refers to the set of components and services to manage a public administration IT platforms efficiently and efficiently. It includes the Logger, a technology service that records events or messages within a system or application. It also includes the Audit Manager, a technology service that manages audits and workflows, tracks audit progress, and ensures compliance with regulations and standards. Additionally, it includes the Telemetry, a technology service that measures and analyses information about public administration services and IT platforms to track performance and identify issues. Lastly, it includes the Management Console, a technology service that provides a centralized interface to manage and monitor digital platforms.

The Containers Infrastructure Enablers group includes components and services enabling a virtual packaging code and isolated applications for deployment of public services. It includes the Containers Manager, a technology service that organizes, adds, or replaces large numbers of software containers. It also includes the Containers Orchestrator, a technology service that automates the deployment, management, scaling, and networking of containers. Additionally, it includes the Container Registry, a technology service that stores and accesses container images. Lastly, it includes the Container, a system software that packages application code, along with its libraries and dependencies, in common ways so that it can be run anywhere, whether it be on a desktop, traditional IT, or the cloud.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-237ad354d33f437589d75c66979fc774.html" target="element"> Workflow Orchestration Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-237ad354d33f437589d75c66979fc774.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1ca5a6d40d3e4843874a107499fd7936.html" target="element"> Business Process Manager </a> </td>
													    <td> <a href="../elements/id-1ca5a6d40d3e4843874a107499fd7936.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-25398b5d11774335825b6e54642f55a5.html" target="element"> Orchestration Enablers </a> </td>
											    <td> <a href="../elements/id-25398b5d11774335825b6e54642f55a5.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ec908c13bdfc46439b1f5e6607347acc.html" target="element"> Orchestration </a> </td>
													    <td> <a href="../elements/id-ec908c13bdfc46439b1f5e6607347acc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8d64a7722d84459a9fe0e092f6aa9417.html" target="element"> Orchestration </a> </td>
													    <td> <a href="../elements/id-8d64a7722d84459a9fe0e092f6aa9417.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-93ba5a8715fb44edab4280ad1db903ff.html" target="element"> Workflow Management </a> </td>
													    <td> <a href="../elements/id-93ba5a8715fb44edab4280ad1db903ff.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-cfa6f7e52e70485ebd5dc43a1eb9c2c8.html" target="element"> Management Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-cfa6f7e52e70485ebd5dc43a1eb9c2c8.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-12ac7ba3b9344b88a961d12850e3eeee.html" target="element"> Logger </a> </td>
													    <td> <a href="../elements/id-12ac7ba3b9344b88a961d12850e3eeee.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8167fca18c784994b1031d64550b286b.html" target="element"> Audit Manager </a> </td>
													    <td> <a href="../elements/id-8167fca18c784994b1031d64550b286b.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a56d45913bea4005ac05847cb288c388.html" target="element"> Telemetry </a> </td>
													    <td> <a href="../elements/id-a56d45913bea4005ac05847cb288c388.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e3936a6d481643ac9199de806c37edef.html" target="element"> Management Console </a> </td>
													    <td> <a href="../elements/id-e3936a6d481643ac9199de806c37edef.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
													    <td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1c5783d785cb4c1faa2832d1a52f29ce.html" target="element"> Containers Orchestrator </a> </td>
													    <td> <a href="../elements/id-1c5783d785cb4c1faa2832d1a52f29ce.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element"> Container Registry </a> </td>
													    <td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e68a689420764241ad7140beef7dbec9.html" target="element"> Container </a> </td>
													    <td> <a href="../elements/id-e68a689420764241ad7140beef7dbec9.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ec245cb1107e419dbe9371cc23b860c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec245cb1107e419dbe9371cc23b860c8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-237ad354d33f437589d75c66979fc774.html" target="element"> Workflow Orchestration Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-1ca5a6d40d3e4843874a107499fd7936.html" target="element"> Business Process Manager </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-12f2cb6605bf4d35af8d8cb21564c8e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12f2cb6605bf4d35af8d8cb21564c8e5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-25398b5d11774335825b6e54642f55a5.html" target="element"> Orchestration Enablers </a> </td>
																		<td> <a href="../elements/id-93ba5a8715fb44edab4280ad1db903ff.html" target="element"> Workflow Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2fb1961f380e4e8fac7a5b5bbf093aa0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2fb1961f380e4e8fac7a5b5bbf093aa0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-25398b5d11774335825b6e54642f55a5.html" target="element"> Orchestration Enablers </a> </td>
																		<td> <a href="../elements/id-8d64a7722d84459a9fe0e092f6aa9417.html" target="element"> Orchestration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ec0bfb9a65f1435181af2d0fa226a4d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec0bfb9a65f1435181af2d0fa226a4d5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-25398b5d11774335825b6e54642f55a5.html" target="element"> Orchestration Enablers </a> </td>
																		<td> <a href="../elements/id-ec908c13bdfc46439b1f5e6607347acc.html" target="element"> Orchestration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-16af845dd9394d639ab04c02216fb696.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-16af845dd9394d639ab04c02216fb696.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-25398b5d11774335825b6e54642f55a5.html" target="element"> Orchestration Enablers </a> </td>
																		<td> <a href="../elements/id-cfa6f7e52e70485ebd5dc43a1eb9c2c8.html" target="element"> Management Infrastructure Enablers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef2a19515dcb45f08e03e7222fd3023a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef2a19515dcb45f08e03e7222fd3023a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-25398b5d11774335825b6e54642f55a5.html" target="element"> Orchestration Enablers </a> </td>
																		<td> <a href="../elements/id-237ad354d33f437589d75c66979fc774.html" target="element"> Workflow Orchestration Infrastructure Enablers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-136c2475a9774241b0927f8a711b0588.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-136c2475a9774241b0927f8a711b0588.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-25398b5d11774335825b6e54642f55a5.html" target="element"> Orchestration Enablers </a> </td>
																		<td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-52516f3d440c4bb58dd96458179702aa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-52516f3d440c4bb58dd96458179702aa.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8d64a7722d84459a9fe0e092f6aa9417.html" target="element"> Orchestration </a> </td>
																				<td> <a href="../elements/id-93ba5a8715fb44edab4280ad1db903ff.html" target="element"> Workflow Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-21f9d94181434dd88a653cc7ef51a75c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-21f9d94181434dd88a653cc7ef51a75c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8d64a7722d84459a9fe0e092f6aa9417.html" target="element"> Orchestration </a> </td>
																				<td> <a href="../elements/id-ec908c13bdfc46439b1f5e6607347acc.html" target="element"> Orchestration </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e48b80bf146a43529e84539649e7a46f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e48b80bf146a43529e84539649e7a46f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cfa6f7e52e70485ebd5dc43a1eb9c2c8.html" target="element"> Management Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-e3936a6d481643ac9199de806c37edef.html" target="element"> Management Console </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-354dd54e137845989581ebc4b5c8b23f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-354dd54e137845989581ebc4b5c8b23f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cfa6f7e52e70485ebd5dc43a1eb9c2c8.html" target="element"> Management Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-12ac7ba3b9344b88a961d12850e3eeee.html" target="element"> Logger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-423b577268f3445fb66fd36660ea3fae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-423b577268f3445fb66fd36660ea3fae.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cfa6f7e52e70485ebd5dc43a1eb9c2c8.html" target="element"> Management Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-a56d45913bea4005ac05847cb288c388.html" target="element"> Telemetry </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-52c1bef7885245eea45fb71579d310f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-52c1bef7885245eea45fb71579d310f3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cfa6f7e52e70485ebd5dc43a1eb9c2c8.html" target="element"> Management Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-8167fca18c784994b1031d64550b286b.html" target="element"> Audit Manager </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7e19641181f14482944de8012c6c9938.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e19641181f14482944de8012c6c9938.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element"> Container Registry </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4bc4dbd7cb9d43dea708187f83e9b8ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4bc4dbd7cb9d43dea708187f83e9b8ec.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-e68a689420764241ad7140beef7dbec9.html" target="element"> Container </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f58bd56632214fa29567f9b3b759a745.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f58bd56632214fa29567f9b3b759a745.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5bca9d50eb64d5eb3810b79c02873ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5bca9d50eb64d5eb3810b79c02873ea.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6eb3de50b960434ca85607ba1923f396.html" target="element"> Containers Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-1c5783d785cb4c1faa2832d1a52f29ce.html" target="element"> Containers Orchestrator </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-37e0c66b227a4965b59c0c804460b307.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-37e0c66b227a4965b59c0c804460b307.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1c5783d785cb4c1faa2832d1a52f29ce.html" target="element"> Containers Orchestrator </a> </td>
																				<td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d7d44fe1e20e443786c8ed15277b2d81.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d7d44fe1e20e443786c8ed15277b2d81.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element"> Container Registry </a> </td>
																				<td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-79ff1f940a0d48aba203f44a94d3a69d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-79ff1f940a0d48aba203f44a94d3a69d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-822a4607087d499eb3e3e991ac16a939.html" target="element"> Container Registry </a> </td>
																				<td> <a href="../elements/id-e68a689420764241ad7140beef7dbec9.html" target="element"> Container </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e3543df7805c4f24b075401a75317a3b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e3543df7805c4f24b075401a75317a3b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e68a689420764241ad7140beef7dbec9.html" target="element"> Container </a> </td>
																				<td> <a href="../elements/id-39d20564974e4bfb81df74ee030106d4.html" target="element"> Containers Manager </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>