<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Business Agnostic Data Models</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Business Agnostic Data Models</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f8811571ca2c4129a00587a47a1c9648.png" alt="SV-Business Agnostic Data Models" usemap="#id-f8811571ca2c4129a00587a47a1c9648map"/>
			   <map name="id-f8811571ca2c4129a00587a47a1c9648map">
				  				<area shape="rect" coords="706,334,906,414" href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html"  target="element">
				  				<area shape="rect" coords="706,214,906,294" href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html"  target="element">
				  				<area shape="rect" coords="706,70,906,150" href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html"  target="element">

				          <area shape="rect" coords="658,10,947,443" href="../objects/id-da7951d441a74032b43e236e9b8871cf.html" target="element" >
				  						<area shape="rect" coords="274,142,422,215" href="../elements/id-5c0dadf660ae494cb8d58cc975f50f76.html"  target="element">

				  				<area shape="rect" coords="250,106,455,239" href="../elements/id-c0f740667423400baa4b44777e7791a9.html"  target="element">
				  				<area shape="rect" coords="46,142,194,215" href="../elements/id-2751081c5075454caad7e805893f2928.html"  target="element">

				  		<area shape="rect" coords="10,58,491,275" href="../elements/id-fccbe14bbd3e41cab48169f506fdfed0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Narrative: 
The "Semantic view - Business Agnostic Data Models" viewpoint extends the semantic view provides a comprehensive framework for organizing and utilizing business agnostic data models within the digital ecosystem. This view associates the Agnostic Data Models with Digital Public Services from the application layer.

Within this view, Agnostic Data Models represent standardized and domain-independent structures for organizing and representing data. These models define the entities, attributes, relationships, and rules that are applicable across different business domains, ensuring consistency and interoperability in data representation and exchange.

Digital Public Services, as part of the application layer, leverage the Agnostic Data Models to ensure uniformity and coherence in data organization and management. These services align their data structures, operations, and interactions with the agnostic data models, enabling seamless integration, data consistency, and semantic interoperability among different digital public services.

By associating the Agnostic Data Models with Digital Public Services, the "Semantic view - Business Agnostic Data Models" facilitates standardized data modeling and data management practices. This view supports effective data integration, semantic interoperability, and advanced functionalities within the digital ecosystem.

The agnostic nature of the data models allows for flexibility and adaptability across different business domains and digital public services. It promotes reusability, reduces redundancy, and supports consistent and efficient data representation and exchange.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-fccbe14bbd3e41cab48169f506fdfed0.html" target="element"> Business Agnostic Data Models Solutions </a> </td>
											    <td> <a href="../elements/id-fccbe14bbd3e41cab48169f506fdfed0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2751081c5075454caad7e805893f2928.html" target="element"> Common Data Model </a> </td>
													    <td> <a href="../elements/id-2751081c5075454caad7e805893f2928.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c0f740667423400baa4b44777e7791a9.html" target="element"> eProcurement Data Model </a> </td>
													    <td> <a href="../elements/id-c0f740667423400baa4b44777e7791a9.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-5c0dadf660ae494cb8d58cc975f50f76.html" target="element"> ESPD-EDM </a> </td>
															    <td> <a href="../elements/id-5c0dadf660ae494cb8d58cc975f50f76.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-da7951d441a74032b43e236e9b8871cf.html" target="element"> Business Agnostic Business Information Base </a> </td>
									           <td> <a href="../objects/id-da7951d441a74032b43e236e9b8871cf.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html" target="element"> Message </a> </td>
													    <td> <a href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element"> Document </a> </td>
													    <td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6afbae883f6044e88ca23fe7a8488051.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6afbae883f6044e88ca23fe7a8488051.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fccbe14bbd3e41cab48169f506fdfed0.html" target="element"> Business Agnostic Data Models Solutions </a> </td>
																		<td> <a href="../elements/id-c0f740667423400baa4b44777e7791a9.html" target="element"> eProcurement Data Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a48f0a0b2dc14408a973911782f01943.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a48f0a0b2dc14408a973911782f01943.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fccbe14bbd3e41cab48169f506fdfed0.html" target="element"> Business Agnostic Data Models Solutions </a> </td>
																		<td> <a href="../elements/id-2751081c5075454caad7e805893f2928.html" target="element"> Common Data Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac309db70c4344f68b0f6195518db1cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac309db70c4344f68b0f6195518db1cd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fccbe14bbd3e41cab48169f506fdfed0.html" target="element"> Business Agnostic Data Models Solutions </a> </td>
																		<td> <a href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html" target="element"> Message </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7b606267b1d41d5a4adb0a57d8a3ec4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7b606267b1d41d5a4adb0a57d8a3ec4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fccbe14bbd3e41cab48169f506fdfed0.html" target="element"> Business Agnostic Data Models Solutions </a> </td>
																		<td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element"> Document </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2f0554ea41fa4413af279468143e7fa7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f0554ea41fa4413af279468143e7fa7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fccbe14bbd3e41cab48169f506fdfed0.html" target="element"> Business Agnostic Data Models Solutions </a> </td>
																		<td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5ad9846f3ccc44c686cea316e9bef3d4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5ad9846f3ccc44c686cea316e9bef3d4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c0f740667423400baa4b44777e7791a9.html" target="element"> eProcurement Data Model </a> </td>
																				<td> <a href="../elements/id-5c0dadf660ae494cb8d58cc975f50f76.html" target="element"> ESPD-EDM </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>